Repository data-driven-forms/react-forms, pull requests merged in 2019-09, with the labels that each got.

#96 Code splitting
  packages/react-renderer-demo/.gitignore
  packages/react-renderer-demo/config/webpack.config.js
  packages/react-renderer-demo/demo/index.ejs
  packages/react-renderer-demo/public/200.html
  packages/react-renderer-demo/public/index.html
  packages/react-renderer-demo/src/App.js
  packages/react-renderer-demo/src/common/doc-page.js
Labels: demo, enhancement

#97 Allow to use nested fields in PF4 Wizard
  package.json
  packages/pf4-component-mapper/demo/demo-schemas/wizard-schema.js
  packages/pf4-component-mapper/src/form-fields/wizard/wizard.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
Labels: PF4, bug

#100 Fix tabs
  packages/mui-component-mapper/demo/demo-schemas/sandbox.js
  packages/mui-component-mapper/src/form-fields/tabs.js
  packages/pf3-component-mapper/demo/demo-schemas/sandbox.js
  packages/pf3-component-mapper/src/form-fields/tabs.js
  packages/pf4-component-mapper/demo/demo-schemas/sandbox.js
  packages/pf4-component-mapper/src/form-fields/tabs.js
  packages/pf4-component-mapper/src/tests/__snapshots__/tabs.test.js.snap
  packages/react-renderer-demo/src/common/examples-definitions.js
Labels: MUI, PF3, PF4, bug, demo

#107 Focus search button when menu is opened
  packages/react-renderer-demo/src/common/examples-nav.js
  packages/react-renderer-demo/src/common/menu-renderer/menu-renderer.js
  packages/react-renderer-demo/src/layout.js
Labels: demo, enhancement

#106 feat(pf4wizard): Allow custom buttons for steps
  packages/pf4-component-mapper/demo/demo-schemas/wizard-schema.js
  packages/pf4-component-mapper/src/form-fields/wizard/step-buttons.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/step-buttons.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
  packages/react-renderer-demo/src/docs-components/pf4-wizard.md
Labels: PF4, enhancement

#102 Use lodash for flat in PF4 wizard
  package.json
  packages/pf4-component-mapper/src/form-fields/wizard/wizard.js
Labels: PF4

#111 Fixed lazy loaded components anchor scrolling.
  packages/react-renderer-demo/src/common/component/renderer-doc-page.js
Labels: bug, demo

#112 Add readme for core repo
  README.md
  REDME.md
  images/logo.png
Labels: Technical debt

#101 Set closed menu only on landing page
  packages/react-renderer-demo/src/layout.js
Labels: demo, enhancement

#114 fix(Radio): Added default prop options to radio buttons.
  packages/mui-component-mapper/src/form-fields/form-fields.js
  packages/mui-component-mapper/src/form-fields/radio.js
  packages/pf3-component-mapper/src/form-fields/form-fields.js
  packages/pf3-component-mapper/src/form-fields/radio.js
  packages/pf3-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
  packages/pf4-component-mapper/src/form-fields/form-fields.js
  packages/pf4-component-mapper/src/form-fields/radio.js
  packages/pf4-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
Labels: MUI, PF3, PF4, bug

#125 Fixes readme and demo inconsistencies
  README.md
  packages/react-renderer-demo/src/components/footer.js
  packages/react-renderer-demo/src/pages/landing-page.js
Labels: bug, demo

#126 Fix pf4switch
  packages/pf4-component-mapper/demo/demo-schemas/sandbox.js
  packages/pf4-component-mapper/package.json
  packages/pf4-component-mapper/src/form-fields/form-fields.js
  packages/pf4-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
  packages/pf4-component-mapper/src/tests/form-fields.test.js
  packages/react-renderer-demo/src/common/examples-definitions.js
  packages/react-renderer-demo/src/docs-components/component-api.md
Labels: PF4, bug, demo

#121 Added prev/next links to doc pages.
  packages/react-renderer-demo/package.json
  packages/react-renderer-demo/src/App.js
  packages/react-renderer-demo/src/common/component/connected-links.js
  packages/react-renderer-demo/src/common/component/renderer-doc-page.js
  packages/react-renderer-demo/src/common/documenation-pages.js
  packages/react-renderer-demo/src/common/example-common.js
  packages/react-renderer-demo/src/common/examples-definitions.js
  packages/react-renderer-demo/src/common/menu-renderer/find-connected-links.js
  packages/react-renderer-demo/src/common/menu-renderer/menu-context.js
  packages/react-renderer-demo/src/common/menu-renderer/schema-demo.js
  packages/react-renderer-demo/src/common/other-pages.js
  packages/react-renderer-demo/src/layout.js
Labels: demo, enhancement

#129 fix(ssr): added global object to renderer and pf4 webpack config.
  packages/react-form-renderer/config/webpack.config.js
  packages/react-form-renderer/src/form-renderer/form-controls.js
  packages/react-form-renderer/src/global-functions/index.js
Labels: PF3, bug, renderer

#134 fix(renderer): Allow to pass custom subscription
  packages/react-form-renderer/src/form-renderer/index.js
  packages/react-renderer-demo/src/docs-components/renderer-api.md
Labels: enhancement, renderer

#139 Fix wrong link in the field-provider page
  packages/react-renderer-demo/src/docs-components/field-provider.md
Labels: bug, demo

#140 Add initialValue to component api page
  packages/react-renderer-demo/src/docs-components/component-api.md
Labels: demo, enhancement

#141 Fix links
  packages/react-renderer-demo/src/docs-components/condition.md
  packages/react-renderer-demo/src/docs-components/field-provider.md
  packages/react-renderer-demo/src/docs-components/form-controls.md
  packages/react-renderer-demo/src/docs-components/validators.md
Labels: Technical debt, demo
