Repository data-driven-forms/react-forms, pull requests merged in 2019-05, with the labels that each got.

#14 fix(PF3select): Fix styling of long multiselects
  packages/pf3-component-mapper/src/form-fields/select/select-styles.js
  packages/pf3-component-mapper/src/tests/form-fields/__snapshots__/select.test.js.snap
Labels: PF3

#16 fix(PF3: tabs): fixed scoped fields validation
  packages/pf3-component-mapper/src/form-fields/tabs.js
  packages/pf3-component-mapper/src/tests/__snapshots__/tabs.test.js.snap
  packages/pf3-component-mapper/src/tests/tabs.test.js
Labels: bug

#15 Use global babel config.
  __mocks__/file-mock.js
  babel.config.js
  config/jest.setup.js
  package.json
  packages/mui-component-mapper/.babelrc
  packages/mui-component-mapper/babel.config.js
  packages/mui-component-mapper/package.json
  packages/pf3-component-mapper/.babelrc
  packages/pf3-component-mapper/babel.config.js
  packages/pf3-component-mapper/package.json
  packages/pf3-component-mapper/src/tests/form-fields/__snapshots__/select.test.js.snap
  packages/pf4-component-mapper/.babelrc
  packages/pf4-component-mapper/babel.config.js
  packages/pf4-component-mapper/package.json
  packages/react-form-renderer/babel.config.js
  packages/react-form-renderer/package.json
  packages/react-renderer-demo/package.json
Labels: enhancement

#17 Updated codecov config
  .codecov.yml
  package.json
Labels: bug

#18 PF4 Wizard tests
  __mocks__/mock-field-provider.js
  packages/pf3-component-mapper/src/tests/form-fields.test.js
  packages/pf3-component-mapper/src/tests/multiple-choice-list.test.js
  packages/pf3-component-mapper/src/tests/wizard.test.js
  packages/pf4-component-mapper/src/form-fields/wizard/wizard.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/step-buttons.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard-step.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/step-buttons.test.js
  packages/pf4-component-mapper/src/tests/wizard/wizard-step.test.js
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
Labels: PF4

#19 feat(All): Focus first error field on failed submit.
  packages/react-form-renderer/package.json
  packages/react-form-renderer/src/form-renderer/index.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/array-form-component.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-information.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
Labels: enhancement

#20 Update PF4 dependencies.
  packages/pf4-component-mapper/package.json
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/step-buttons.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/react-renderer-demo/package.json
Labels: demo
