Repository data-driven-forms/react-forms, pull requests merged in 2019-12, with the labels that each got.

#249 fix(pf4): fixed clearable icon position for select.
  packages/pf4-component-mapper/demo/demo-schemas/sandbox.js
  packages/pf4-component-mapper/demo/index.html
  packages/pf4-component-mapper/src/form-fields/select/select-styles.scss
Labels: PF4, bug

#255 fix(renderer): allow URL validator to pass custom messages
  packages/react-form-renderer/src/tests/validators/validators.test.js
  packages/react-form-renderer/src/validators/validator-mapper.js
Labels: bug, renderer

#258 Fix typo in field provider
  packages/react-renderer-demo/src/app/pages/renderer/field-provider.md
Labels: bug

#259 fix(pf3 multiple checkboxes): allow helperText and description
  packages/pf3-component-mapper/demo/demo-schemas/sandbox.js
  packages/pf3-component-mapper/src/form-fields/form-fields.js
  packages/pf3-component-mapper/src/form-fields/multiple-choice-list.js
  packages/pf3-component-mapper/src/tests/__snapshots__/multiple-choice-list.test.js.snap
  packages/pf3-component-mapper/src/tests/multiple-choice-list.test.js
Labels: bug

#260 fix(pf4 select): Added prop that enables select menu portaling
  packages/pf4-component-mapper/src/form-fields/select/select-styles.scss
  packages/pf4-component-mapper/src/form-fields/select/select.js
  packages/pf4-component-mapper/src/tests/select/select.test.js
  packages/react-renderer-demo/src/app/src/doc-components/pf4-select.md
Labels: PF4, enhancement

#261 Add additional classNames for algolia
  packages/react-renderer-demo/src/app/src/components/common/raw-component.js
  packages/react-renderer-demo/src/app/src/components/mdx/mdx-components.js
Labels: enhancement

#262 Split component example into separate files.
  packages/react-renderer-demo/src/app/pages/component-example/checkbox-multiple.js
  packages/react-renderer-demo/src/app/pages/component-example/checkbox.js
  packages/react-renderer-demo/src/app/pages/component-example/date-picker.js
  packages/react-renderer-demo/src/app/pages/component-example/plain-text.js
  packages/react-renderer-demo/src/app/pages/component-example/radio.js
  packages/react-renderer-demo/src/app/pages/component-example/select-field.js
  packages/react-renderer-demo/src/app/pages/component-example/sub-form.js
  packages/react-renderer-demo/src/app/pages/component-example/switch-field.js
  packages/react-renderer-demo/src/app/pages/component-example/tabs.js
  packages/react-renderer-demo/src/app/pages/component-example/text-field.js
  packages/react-renderer-demo/src/app/pages/component-example/textarea-field.js
  packages/react-renderer-demo/src/app/pages/component-example/time-picker.js
  packages/react-renderer-demo/src/app/pages/component-example/wizard.js
  packages/react-renderer-demo/src/app/src/components/common/connected-links.js
  packages/react-renderer-demo/src/app/src/components/common/example-link.js
  packages/react-renderer-demo/src/app/src/components/component-example.js
  packages/react-renderer-demo/src/app/src/components/navigation/examples-definitions.js
Labels: demo, enhancement

#263 fix(pf3): datetimepickers buttons do not show texts
  packages/pf3-component-mapper/src/form-fields/date-time-picker/intervals.js
  packages/pf3-component-mapper/src/form-fields/date-time-picker/navbar.js
  packages/pf3-component-mapper/src/form-fields/date-time-picker/year-selector.js
  packages/pf3-component-mapper/src/tests/form-fields/date-time-picker/__snapshots__/year-selector.test.js.snap
Labels: bug

#265 Add generail issue template
  .github/ISSUE_TEMPLATE/issue.md
Labels: Technical debt

#267 Use hash when searching
  packages/react-renderer-demo/src/app/src/components/docsearch.js
Labels: bug, demo

#266 fix(pf3): add helpertext to single checkbox
  packages/pf3-component-mapper/src/form-fields/form-fields.js
  packages/pf3-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
  packages/pf3-component-mapper/src/tests/form-fields.test.js
Labels: bug

#268 Update firebase tools to ensure public access after 2020
  packages/react-renderer-demo/package.json
  yarn.lock
Labels: demo

#269 fix(pf4): allow to use disableSubmit
  packages/pf4-component-mapper/src/form-fields/layout-components.js
  packages/pf4-component-mapper/src/tests/field-array/__snapshots__/field-array.test.js.snap
  packages/pf4-component-mapper/src/tests/layout-components.test.js
Labels: PF4, bug

#270 fix(pf4): send formOptions as second argument in wizard
  packages/pf4-component-mapper/src/form-fields/wizard/wizard.js
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
Labels: bug
