Repository data-driven-forms/react-forms, pull requests merged in 2019-08, with the labels that each got.

#60 fix(pf4): migrate to css for select styles.
  packages/pf4-component-mapper/src/form-fields/select/clear-indicator.js
  packages/pf4-component-mapper/src/form-fields/select/dropdown-indicator.js
  packages/pf4-component-mapper/src/form-fields/select/input.js
  packages/pf4-component-mapper/src/form-fields/select/multi-value-container.js
  packages/pf4-component-mapper/src/form-fields/select/multi-value-remove.js
  packages/pf4-component-mapper/src/form-fields/select/option.js
  packages/pf4-component-mapper/src/form-fields/select/select-styles.js
  packages/pf4-component-mapper/src/form-fields/select/select-styles.scss
  packages/pf4-component-mapper/src/form-fields/select/select.js
  packages/pf4-component-mapper/src/form-fields/select/value-container.js
  packages/pf4-component-mapper/src/tests/select/select.test.js
Labels: PF4, Technical debt

#74 Remove anonymous components
  packages/pf3-component-mapper/src/form-fields/button.js
  packages/pf3-component-mapper/src/form-fields/form-fields.js
  packages/pf3-component-mapper/src/form-fields/layout-components.js
  packages/pf3-component-mapper/src/form-fields/multiple-choice-list.js
  packages/pf3-component-mapper/src/tests/__snapshots__/wizard.test.js.snap
  packages/pf4-component-mapper/src/form-fields/multiple-choice-list.js
  packages/pf4-component-mapper/src/form-fields/select/select.js
  packages/pf4-component-mapper/src/form-fields/tabs.js
  packages/pf4-component-mapper/src/tests/select/select.test.js
Labels: PF3, PF4, Technical debt

#67 Data types feature
  __mocks__/mock-layout-mapper.js
  packages/react-form-renderer/src/constants/index.js
  packages/react-form-renderer/src/form-renderer/enhanced-on-change.js
  packages/react-form-renderer/src/form-renderer/field-provider.js
  packages/react-form-renderer/src/form-renderer/render-form.js
  packages/react-form-renderer/src/index.js
  packages/react-form-renderer/src/parsers/default-schema-validator.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/array-form-component.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/render-form.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/data-types.test.js
  packages/react-form-renderer/src/tests/parsers/__snapshots__/default-schema-validator.test.js.snap
  packages/react-form-renderer/src/tests/parsers/default-schema-validator.test.js
  packages/react-form-renderer/src/validators/index.js
  packages/react-renderer-demo/src/common/doc-texts/validators.js
  packages/react-renderer-demo/src/common/documenation-pages.js
  packages/react-renderer-demo/src/editor-demo/common/doc-texts/data-types.js
  packages/react-renderer-demo/src/editor-demo/docs-components/data-types.md
  packages/react-renderer-demo/src/editor-demo/docs-components/data-types/data-types-example.js
Labels: enhancement, renderer

#79 Fixed md header anchor offset.
  packages/react-renderer-demo/src/common/md-helper/index.js
  packages/react-renderer-demo/src/common/md-helper/mdx-components.js
Labels: bug, demo

#80 Fix anchor css styles
  packages/react-renderer-demo/src/common/md-helper/index.js
  packages/react-renderer-demo/src/common/md-helper/mdx-components.js
Labels: bug, demo

#76 Reactive content nav
  packages/react-renderer-demo/src/common/doc-page.js
  packages/react-renderer-demo/src/common/doc-texts/component-mapping.js
  packages/react-renderer-demo/src/common/helpers/list-of-content.js
  packages/react-renderer-demo/src/common/md-helper/index.js
  packages/react-renderer-demo/src/common/md-helper/mdx-components.js
Labels: demo, enhancement

#82 fix(renderer): fixed onChange for single checkbox.
  packages/react-form-renderer/src/form-renderer/enhanced-on-change.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/array-form-component.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/render-form.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/enhanced-on-change.test.js
Labels: bug, renderer

#83 Add menu renderer to demo with search
  packages/react-renderer-demo/src/common/examples-nav.js
  packages/react-renderer-demo/src/common/menu-renderer/mapper.js
  packages/react-renderer-demo/src/common/menu-renderer/menu-renderer.js
  packages/react-renderer-demo/src/common/menu-renderer/schema-demo.js
  packages/react-renderer-demo/src/common/nav-styles.js
Labels: demo, enhancement

#75 fix(renderer): Added URL validator.
  packages/react-form-renderer/src/constants/index.js
  packages/react-form-renderer/src/tests/parsers/__snapshots__/default-schema-validator.test.js.snap
  packages/react-form-renderer/src/tests/validators/validators.test.js
  packages/react-form-renderer/src/validators/helpers.js
  packages/react-form-renderer/src/validators/url-validator.js
  packages/react-form-renderer/src/validators/validator-mapper.js
  packages/react-form-renderer/src/validators/validators.js
  packages/react-renderer-demo/src/common/doc-texts/validators.js
  packages/react-renderer-demo/src/common/helpers/list-of-content.js
  packages/react-renderer-demo/src/docs-components/validators.md
  packages/react-renderer-demo/src/docs-components/validators/async-validator.js
  packages/react-renderer-demo/src/docs-components/validators/custom-function.js
  packages/react-renderer-demo/src/docs-components/validators/global-message.js
  packages/react-renderer-demo/src/docs-components/validators/length-validators.js
  packages/react-renderer-demo/src/docs-components/validators/number-validator.js
  packages/react-renderer-demo/src/docs-components/validators/pattern-validator.js
  packages/react-renderer-demo/src/docs-components/validators/record-level-validation.js
  packages/react-renderer-demo/src/docs-components/validators/required-validator.js
  packages/react-renderer-demo/src/docs-components/validators/url-validator.js
  packages/react-renderer-demo/src/layout.js
Labels: demo, enhancement, renderer

#85 fix(pf4): Added async filtering to pf4 async select.
  packages/pf4-component-mapper/demo/demo-schemas/sandbox.js
  packages/pf4-component-mapper/src/form-fields/select/dropdown-indicator.js
  packages/pf4-component-mapper/src/form-fields/select/select-styles.scss
  packages/pf4-component-mapper/src/form-fields/select/select.js
  packages/pf4-component-mapper/src/tests/select/select.test.js
  packages/react-form-renderer/src/form-renderer/enhanced-on-change.js
Labels: PF4, enhancement

#86 Search enhancement
  packages/react-renderer-demo/src/common/menu-renderer/mapper.js
  packages/react-renderer-demo/src/common/menu-renderer/menu-renderer.js
Labels: demo, enhancement

#87 fix(pf4): Select styling.
  packages/pf4-component-mapper/demo/demo-schemas/sandbox.js
  packages/pf4-component-mapper/src/form-fields/select/clear-indicator.js
  packages/pf4-component-mapper/src/form-fields/select/select-styles.scss
  packages/pf4-component-mapper/src/form-fields/select/select.js
Labels: PF4, bug

#88 Add renderer API doc
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/array-form-component.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/render-form.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
  packages/react-renderer-demo/src/common/doc-texts/renderer-api.js
  packages/react-renderer-demo/src/common/documenation-pages.js
  packages/react-renderer-demo/src/docs-components/renderer-api/renderer-api.md
Labels: demo, enhancement

#89 fix(pf3select): props options was overwriting state
  packages/pf3-component-mapper/src/form-fields/select/index.js
  packages/pf3-component-mapper/src/tests/form-fields/__snapshots__/select.test.js.snap
  packages/pf3-component-mapper/src/tests/form-fields/select.test.js
Labels: PF3, bug

#90 fix(pf3): using flex-layout instead of float in pf3-form group.
  packages/pf3-component-mapper/demo/index.js
  packages/pf3-component-mapper/src/form-fields/layout-components.js
  packages/pf3-component-mapper/src/form-fields/layout-components.scss
  packages/pf3-component-mapper/src/tests/layout-components.test.js
  packages/pf4-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
  packages/react-form-renderer/src/form-renderer/index.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/array-form-component.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-information.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
Labels: bug

#91 Migrate demo mdx
  packages/react-renderer-demo/package.json
  packages/react-renderer-demo/src/common/component/raw-component.js
  packages/react-renderer-demo/src/common/doc-texts/component-api.js
  packages/react-renderer-demo/src/common/doc-texts/condition.js
  packages/react-renderer-demo/src/common/doc-texts/field-provider.js
  packages/react-renderer-demo/src/common/doc-texts/form-controls.js
  packages/react-renderer-demo/src/common/doc-texts/form-schemas.js
  packages/react-renderer-demo/src/common/doc-texts/get-started.js
  packages/react-renderer-demo/src/common/doc-texts/installation.js
  packages/react-renderer-demo/src/common/doc-texts/unmounting.js
  packages/react-renderer-demo/src/common/documenation-pages.js
  packages/react-renderer-demo/src/common/examples-texts/wizard.js
  packages/react-renderer-demo/src/common/md-helper/index.js
  packages/react-renderer-demo/src/common/md-helper/mdx-components.js
  packages/react-renderer-demo/src/common/other-text/manageiq-components.js
  packages/react-renderer-demo/src/docs-components/condition.md
  packages/react-renderer-demo/src/docs-components/field-provider.md
  packages/react-renderer-demo/src/docs-components/get-started.md
  packages/react-renderer-demo/src/docs-components/installation.md
  packages/react-renderer-demo/src/docs-components/manageiq-components.md
  packages/react-renderer-demo/src/docs-components/pf3-wizard.md
  packages/react-renderer-demo/src/docs-components/pf4-wizard.md
  packages/react-renderer-demo/src/docs-components/unmounting.md
  packages/react-renderer-demo/src/docs-components/unmounting/clear-on-unmount.js
  packages/react-renderer-demo/src/docs-components/wizard.md
Labels: enhancement

#92 Common md component
  packages/react-renderer-demo/config/webpack.config.js
  packages/react-renderer-demo/src/App.js
  packages/react-renderer-demo/src/common/component/renderer-doc-page.js
  packages/react-renderer-demo/src/common/doc-texts/component-api.js
  packages/react-renderer-demo/src/common/doc-texts/component-mapping.js
  packages/react-renderer-demo/src/common/doc-texts/condition.js
  packages/react-renderer-demo/src/common/doc-texts/data-types.js
  packages/react-renderer-demo/src/common/doc-texts/field-provider.js
  packages/react-renderer-demo/src/common/doc-texts/form-controls.js
  packages/react-renderer-demo/src/common/doc-texts/get-started.js
  packages/react-renderer-demo/src/common/doc-texts/installation.js
  packages/react-renderer-demo/src/common/doc-texts/renderer-api.js
  packages/react-renderer-demo/src/common/doc-texts/unmounting.js
  packages/react-renderer-demo/src/common/doc-texts/validators.js
  packages/react-renderer-demo/src/common/documenation-pages.js
  packages/react-renderer-demo/src/common/helpers/list-of-content.js
  packages/react-renderer-demo/src/common/md-helper/mdx-components.js
  packages/react-renderer-demo/src/docs-components/component-api.md
  packages/react-renderer-demo/src/docs-components/data-types.md
  packages/react-renderer-demo/src/docs-components/get-started.md
  packages/react-renderer-demo/src/docs-components/get-started/get-started.js
  packages/react-renderer-demo/src/docs-components/renderer-api.md
Labels: demo, enhancement
