Repository data-driven-forms/react-forms, pull requests merged in 2019-04, with the labels that each got.

#4 fix(form-renderer): Added record-level validation prop to form context.
  packages/react-form-renderer/src/form-renderer/index.js
  packages/react-renderer-demo/src/editor-demo/common/doc-texts/validators.js
Labels: enhancement

#7 Fix travis on PR branches
  .travis.yml
Labels: bug

#12 Select styling
  packages/pf3-component-mapper/src/form-fields/form-fields.js
  packages/pf3-component-mapper/src/form-fields/react-select.scss
  packages/pf3-component-mapper/src/form-fields/select-styles.js
  packages/pf3-component-mapper/src/form-fields/select/index.js
  packages/pf3-component-mapper/src/form-fields/select/react-select.scss
  packages/pf3-component-mapper/src/form-fields/select/select-styles.js
  packages/pf3-component-mapper/src/tests/form-fields/__snapshots__/select.test.js.snap
Labels: PF3

#13 Update pf4 wizard pf3 tabs
  .travis.yml
  packages/pf3-component-mapper/src/form-fields/tabs.js
  packages/pf3-component-mapper/src/tests/__snapshots__/tabs.test.js.snap
  packages/pf3-component-mapper/src/tests/tabs.test.js
  packages/pf4-component-mapper/package.json
  packages/pf4-component-mapper/src/form-fields/wizard/step-buttons.js
  packages/pf4-component-mapper/src/form-fields/wizard/wizard-step.js
  packages/pf4-component-mapper/src/form-fields/wizard/wizard.js
  packages/react-renderer-demo/src/demo-data/wizard-schema.js
  packages/react-renderer-demo/src/editor-demo/common/examples-definitions.js
  packages/react-renderer-demo/src/editor-demo/common/examples-texts/tabs.js
  packages/react-renderer-demo/src/editor-demo/common/examples-texts/wizard.js
Labels: bug, enhancement
