Repository data-driven-forms/react-forms, pull requests merged in 2019-10, with the labels that each got.

#144 Plain text component
  packages/mui-component-mapper/package.json
  packages/mui-component-mapper/src/form-fields/component-mapper.js
  packages/mui-component-mapper/src/form-fields/form-fields.js
  packages/mui-component-mapper/src/form-fields/plain-text.js
  packages/pf3-component-mapper/src/form-fields/component-mapper.js
  packages/pf3-component-mapper/src/form-fields/form-fields.js
  packages/pf3-component-mapper/src/form-fields/plain-text.js
  packages/pf4-component-mapper/src/form-fields/component-mapper.js
  packages/pf4-component-mapper/src/form-fields/form-fields.js
  packages/pf4-component-mapper/src/form-fields/plain-text.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/react-form-renderer/src/constants/index.js
  packages/react-renderer-demo/src/common/example-common.js
  packages/react-renderer-demo/src/common/examples-definitions.js
Labels: common, enhancement

#146 Others page to Next docs
  packages/react-renderer-demo/pages/others/miq-components.md
  packages/react-renderer-demo/src-bak/common/other-text/manageiq-components.js
  packages/react-renderer-demo/src/components/navigation/other-pages/index.js
  packages/react-renderer-demo/src/components/navigation/schema.js
Labels: demo

#147 Field visibility
  packages/react-form-renderer/demo/sandbox.js
  packages/react-form-renderer/src/form-renderer/render-form.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/array-form-component.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/render-form.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/form-renderer.test.js
  packages/react-renderer-demo/src/docs-components/component-api.md
Labels: demo, enhancement, renderer

#63 FieldArray make it works
  README.md
  __mocks__/mock-layout-mapper.js
  packages/mui-component-mapper/src/form-fields/form-fields.js
  packages/mui-component-mapper/src/form-fields/layout-components.js
  packages/pf3-component-mapper/README.md
  packages/pf3-component-mapper/src/form-fields/form-fields.js
  packages/pf3-component-mapper/src/form-fields/layout-components.js
  packages/pf3-component-mapper/src/tests/layout-components.test.js
  packages/pf4-component-mapper/README.md
  packages/pf4-component-mapper/demo/demo-schemas/widget-schema.js
  packages/pf4-component-mapper/demo/index.js
  packages/pf4-component-mapper/package.json
  packages/pf4-component-mapper/src/form-fields/component-mapper.js
  packages/pf4-component-mapper/src/form-fields/fieldArray/final-form-array.scss
  packages/pf4-component-mapper/src/form-fields/fieldArray/index.js
  packages/pf4-component-mapper/src/form-fields/form-fields.js
  packages/pf4-component-mapper/src/form-fields/layout-components.js
  packages/pf4-component-mapper/src/tests/field-array/__snapshots__/field-array.test.js.snap
  packages/pf4-component-mapper/src/tests/field-array/field-array.test.js
  packages/pf4-component-mapper/src/tests/layout-components.test.js
  packages/react-form-renderer/README.md
  packages/react-form-renderer/demo/layout-mapper.js
  packages/react-form-renderer/package.json
  packages/react-form-renderer/src/constants/index.js
  packages/react-form-renderer/src/form-renderer/array-form-component.js
  packages/react-form-renderer/src/form-renderer/field-wrapper.js
  packages/react-form-renderer/src/form-renderer/helpers.js
  packages/react-form-renderer/src/form-renderer/index.js
  packages/react-form-renderer/src/form-renderer/renderer-context.js
  packages/react-form-renderer/src/parsers/default-schema-validator.js
  packages/react-form-renderer/src/parsers/mozilla-parser/mozilla-schema-parser.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/array-form-component.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-information.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/render-form.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/array-form-component.test.js
  packages/react-form-renderer/src/tests/form-renderer/form-controls.test.js
  packages/react-form-renderer/src/tests/form-renderer/form-information.test.js
  packages/react-form-renderer/src/tests/form-renderer/form-renderer.test.js
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
  packages/react-form-renderer/src/tests/parsers/mozilla-schema-parser.test.js
  packages/react-form-renderer/src/validators/index.js
  packages/react-renderer-demo/README.md
  packages/react-renderer-demo/src/common/documenation-pages.js
  packages/react-renderer-demo/src/common/md-helper/mdx-components.js
  packages/react-renderer-demo/src/docs-components/component-mapper/form-fields-mapper.js
  packages/react-renderer-demo/src/docs-components/component-mapper/layout-mapper.js
  packages/react-renderer-demo/src/docs-components/component-mapping.md
  packages/react-renderer-demo/src/docs-components/field-array.md
  packages/react-renderer-demo/src/docs-components/field-array/form-fields-mapper.js
  packages/react-renderer-demo/src/docs-components/field-array/pf4-demo.js
  packages/react-renderer-demo/src/editor-demo/common/doc-texts/data-types.js
  packages/react-renderer-demo/src/editor-demo/docs-components/data-types.md
  packages/react-renderer-demo/src/editor-demo/docs-components/data-types/data-types-example.js
Labels: PF4, enhancement, renderer

#153 fix(all): migrated to rullop because of webpack issues.
  .gitignore
  packages/mui-component-mapper/package.json
  packages/mui-component-mapper/rollup.config.js
  packages/pf3-component-mapper/package.json
  packages/pf3-component-mapper/rollup.config.js
  packages/pf3-component-mapper/src/form-fields/date-time-picker/date-picker-styles.scss
  packages/pf3-component-mapper/src/form-fields/date-time-picker/popover-root.js
  packages/pf4-component-mapper/package.json
  packages/pf4-component-mapper/rollup.config.js
  packages/react-form-renderer/package.json
  packages/react-form-renderer/rollup.config.js
  packages/react-form-renderer/src/parsers/mozilla-parser/mozilla-schema-parser.js
Labels: bug, common

#156 fix(pf3): use fieldLevelHelp for helperText
  packages/pf3-component-mapper/src/form-fields/form-fields.js
  packages/pf3-component-mapper/src/tests/form-fields.test.js
Labels: PF3

#154 fix(pf3): async options reload
  packages/pf3-component-mapper/src/form-fields/select/index.js
  packages/pf3-component-mapper/src/tests/form-fields/select.test.js
Labels: PF3, bug

#159 feat(pf4wizard): show titles
  packages/pf4-component-mapper/demo/demo-schemas/wizard-schema.js
  packages/pf4-component-mapper/src/form-fields/wizard/wizard-step.js
  packages/pf4-component-mapper/src/form-fields/wizard/wizard.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard-step.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/wizard-step.test.js
  packages/react-renderer-demo/src/docs-components/pf4-wizard.md
Labels: PF4, enhancement

#158 Fix popover pf3 styles in demo
  packages/react-renderer-demo/src/fonts/PatternFlyIcons-webfont.woff
  packages/react-renderer-demo/src/fonts/PatternFlyIcons-webfont.woff2
  packages/react-renderer-demo/src/vendor.scss
Labels: demo

#157 fix(subform): allow to receive other props
  packages/mui-component-mapper/src/form-fields/sub-form.js
  packages/pf3-component-mapper/src/form-fields/sub-form.js
  packages/pf3-component-mapper/src/tests/__snapshots__/sub-form.test.js.snap
  packages/pf4-component-mapper/src/form-fields/sub-form.js
  packages/pf4-component-mapper/src/tests/__snapshots__/sub-form.test.js.snap
Labels: MUI, PF3, PF4, bug

#161 Use postcss for pf3
  packages/pf3-component-mapper/package.json
  packages/pf3-component-mapper/rollup.config.js
  packages/pf3-component-mapper/src/form-fields/date-time-picker/date-picker-styles.scss
  packages/pf3-component-mapper/src/form-fields/date-time-picker/date-time-picker.js
  packages/pf3-component-mapper/src/form-fields/date-time-picker/popover-root.js
Labels: P1, PF3, bug

#162 Notify that only FIELD_ARRAY gets FieldArrayProvider
  packages/react-renderer-demo/src/docs-components/field-array.md
Labels: demo

#163 fix(pf3): give select menu higher z-index than input.
  packages/pf3-component-mapper/demo/demo-schemas/sandbox.js
  packages/pf3-component-mapper/src/form-fields/select/select-styles.js
Labels: PF3, bug

#164 Fix PF4 Wizard doc substep > substepOf
  packages/react-renderer-demo/src/docs-components/pf4-wizard.md
Labels: bug, demo

#165 fix(pf3): Date time picker placeholder.
  packages/pf3-component-mapper/demo/demo-schemas/sandbox.js
  packages/pf3-component-mapper/src/form-fields/date-time-picker/date-time-picker.js
Labels: PF3

#166 Update component-mapping.md
  packages/react-renderer-demo/src/docs-components/component-mapping.md
Labels: bug, demo

#167 feat(pf4): predict the future in the wizard nav
  packages/pf4-component-mapper/demo/demo-schemas/wizard-schema.js
  packages/pf4-component-mapper/src/form-fields/wizard/wizard.js
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
  packages/react-renderer-demo/src/docs-components/pf4-wizard.md
Labels: PF4, enhancement

#168 Add AsyncSelect docs
  packages/react-renderer-demo/src/common/examples-definitions.js
  packages/react-renderer-demo/src/common/examples-texts/select.js
  packages/react-renderer-demo/src/docs-components/pf3-select.md
  packages/react-renderer-demo/src/docs-components/pf4-select.md
Labels: Technical debt, demo

#170 fix(pf4wizard): refactor and fix number logic
  packages/pf4-component-mapper/src/form-fields/wizard/wizard.js
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
Labels: PF4, Technical debt, bug

#173 fix(pf3title): make it <h1 />
  packages/pf3-component-mapper/src/form-fields/layout-components.js
  packages/pf3-component-mapper/src/tests/layout-components.test.js
Labels: PF3

#172 fix(renderer): add label prop to form
  packages/react-form-renderer/src/form-renderer/index.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-information.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/form-information.test.js
  packages/react-renderer-demo/src/docs-components/component-mapping.md
  packages/react-renderer-demo/src/docs-components/renderer-api.md
Labels: demo, enhancement, renderer

#182 fix(renderer): remove tag control component.
  packages/mui-component-mapper/demo/demo-schemas/sandbox.js
  packages/mui-component-mapper/src/form-fields/component-mapper.js
  packages/pf3-component-mapper/demo/demo-schemas/sandbox.js
  packages/pf3-component-mapper/src/form-fields/component-mapper.js
  packages/pf4-component-mapper/demo/demo-schemas/sandbox.js
  packages/pf4-component-mapper/src/form-fields/component-mapper.js
  packages/pf4-component-mapper/src/tests/field-array/__snapshots__/field-array.test.js.snap
  packages/react-form-renderer/demo/form-fields-mapper.js
  packages/react-form-renderer/src/constants/index.js
  packages/react-form-renderer/src/demo-schemas/miq-schemas/input.js
  packages/react-form-renderer/src/demo-schemas/miq-schemas/output.js
  packages/react-form-renderer/src/form-renderer/helpers.js
  packages/react-form-renderer/src/parsers/miq-parser/constants.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/form-renderer.test.js
  packages/react-form-renderer/src/tests/parsers/default-schema-validator.test.js
  packages/react-renderer-demo/src/pages/form-renderer-page.js
Labels: common

#186 feat(pf4wizard): allow functions in nextStep object
  packages/pf4-component-mapper/src/form-fields/wizard/step-buttons.js
  packages/pf4-component-mapper/src/tests/wizard/step-buttons.test.js
  packages/react-renderer-demo/src/docs-components/pf4-wizard.md
Labels: PF4, enhancement
