Repository data-driven-forms/react-forms, pull requests merged in 2019-07, with the labels that each got.

#25 fix(react-renderer): Exposed schema parsers.
  packages/pf4-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
  packages/pf4-component-mapper/src/tests/__snapshots__/tabs.test.js.snap
  packages/react-form-renderer/src/index.js
Labels: renderer

#26 fix(react renderer): Fixed length validators value assignment.
  packages/react-form-renderer/src/tests/validators/validators.test.js
  packages/react-form-renderer/src/validators/validator-mapper.js
Labels: bug, renderer

#24 feat(pf4): select component.
  packages/pf3-component-mapper/src/form-fields/select/index.js
  packages/pf3-component-mapper/src/tests/form-fields/__snapshots__/select.test.js.snap
  packages/pf3-component-mapper/src/tests/form-fields/select.test.js
  packages/pf4-component-mapper/demo/demo-schemas/sandbox.js
  packages/pf4-component-mapper/package.json
  packages/pf4-component-mapper/src/form-fields/component-mapper.js
  packages/pf4-component-mapper/src/form-fields/form-fields.js
  packages/pf4-component-mapper/src/form-fields/select/select-styles.js
  packages/pf4-component-mapper/src/form-fields/select/select-styles.scss
  packages/pf4-component-mapper/src/form-fields/select/select.js
  packages/pf4-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
  packages/pf4-component-mapper/src/tests/form-fields.test.js
  packages/pf4-component-mapper/src/tests/select/select.test.js
  packages/react-renderer-demo/demo/index.html
  packages/react-renderer-demo/src/editor-demo/common/examples-definitions.js
  shared/select-helper.js
Labels: PF4, enhancement

#27 fix(pf4): Fix pf4 checkbox.
  packages/pf4-component-mapper/src/form-fields/form-fields.js
  packages/pf4-component-mapper/src/form-fields/multiple-choice-list.js
Labels: PF4, bug

#28 fixed demo github link
  packages/react-renderer-demo/src/editor-demo/App.js
Labels: bug, demo

#29 fix(select): moved select helpers to both pf3 and pf4 mappers.
  packages/pf3-component-mapper/src/form-fields/select/index.js
  packages/pf3-component-mapper/src/form-fields/select/select-helper.js
  packages/pf4-component-mapper/src/form-fields/select/select-helper.js
  packages/pf4-component-mapper/src/form-fields/select/select.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/array-form-component.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-information.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/render-form.test.js.snap
Labels: PF3, PF4, bug

#31 fix(pf4): Exposed select as raw component.
  packages/pf4-component-mapper/src/index.js
Labels: PF4

#32 Added getting started example to docs.
  packages/mui-component-mapper/src/form-fields/select-field.js
  packages/react-renderer-demo/config/webpack.config.js
  packages/react-renderer-demo/package.json
  packages/react-renderer-demo/src/editor-demo/App.js
  packages/react-renderer-demo/src/editor-demo/common/component/raw-component.js
  packages/react-renderer-demo/src/editor-demo/common/doc-texts/get-started.js
  packages/react-renderer-demo/src/editor-demo/common/example-common.js
  packages/react-renderer-demo/src/editor-demo/common/examples-nav.js
  packages/react-renderer-demo/src/editor-demo/common/nav-styles.js
  packages/react-renderer-demo/src/editor-demo/docs-components/get-started.js
  packages/react-renderer-demo/src/editor-demo/pages/demo.js
  packages/react-renderer-demo/src/editor-demo/pages/landing-page.js
Labels: demo, enhancement

#33 updated version of material ui in mui mapper.
  packages/mui-component-mapper/config/webpack.config.js
  packages/mui-component-mapper/demo/demo-schemas/sandbox.js
  packages/mui-component-mapper/demo/index.js
  packages/mui-component-mapper/package.json
  packages/mui-component-mapper/src/form-fields/form-fields.js
  packages/mui-component-mapper/src/form-fields/layout-components.js
  packages/mui-component-mapper/src/form-fields/multiple-choice-list.js
  packages/mui-component-mapper/src/form-fields/select-field.js
  packages/mui-component-mapper/src/form-fields/tabs.js
  packages/pf3-component-mapper/demo/demo-schemas/sandbox.js
  packages/pf3-component-mapper/src/form-fields/form-fields.js
  packages/pf4-component-mapper/demo/demo-schemas/sandbox.js
  packages/pf4-component-mapper/demo/demo-schemas/wizard-schema.js
  packages/pf4-component-mapper/src/form-fields/form-fields.js
  packages/react-form-renderer/README.md
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/render-form.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
  packages/react-renderer-demo/config/webpack.config.js
  packages/react-renderer-demo/package.json
  packages/react-renderer-demo/src/demo-data/wizard-schema.js
  packages/react-renderer-demo/src/editor-demo/App.js
  packages/react-renderer-demo/src/editor-demo/common/component/raw-component.js
  packages/react-renderer-demo/src/editor-demo/common/doc-page.js
  packages/react-renderer-demo/src/editor-demo/common/doc-texts/form-schemas.js
  packages/react-renderer-demo/src/editor-demo/common/examples-definitions.js
  packages/react-renderer-demo/src/editor-demo/common/examples-nav.js
  packages/react-renderer-demo/src/editor-demo/common/nav-styles.js
  packages/react-renderer-demo/src/editor-demo/common/other-text/manageiq-components.js
  packages/react-renderer-demo/src/editor-demo/demo-missing-fields/mui-wizzard/wizzard.js
  packages/react-renderer-demo/src/editor-demo/docs-components/get-started.js
  packages/react-renderer-demo/src/editor-demo/pages/form-renderer-page.js
  packages/react-renderer-demo/src/editor-demo/styles.scss
Labels: MUI, demo, enhancement

#34 Remove unused docs files
  packages/mui-component-mapper/src/form-fields/tabs.js
  packages/react-renderer-demo/src/components/spinner.js
  packages/react-renderer-demo/src/components/spinner.scss
  packages/react-renderer-demo/src/pages/home-page.js
  packages/react-renderer-demo/src/pages/pf3-mapper.js
  packages/react-renderer-demo/src/pages/pf4-mapper.js
Labels: demo, enhancement

#36 Fixed MUI mapper externals
  packages/mui-component-mapper/config/webpack.config.js
Labels: bug

#35 fix(pf4-select): Fixed clearing last value from multi select.
  packages/pf4-component-mapper/src/form-fields/select/select.js
  packages/react-renderer-demo/src/editor-demo/common/example-common.js
Labels: bug

#39 Added webpack terser plugin minification.
  package.json
  packages/mui-component-mapper/config/webpack.config.js
  packages/pf3-component-mapper/config/webpack.config.js
  packages/pf4-component-mapper/config/webpack.config.js
  packages/react-form-renderer/config/webpack.config.js
  packages/react-renderer-demo/config/webpack.config.js
  packages/react-renderer-demo/package.json
Labels: MUI, PF3, PF4, demo, renderer

#44 fix(renderer): Added form values as second argument to validators.
  packages/react-form-renderer/src/form-renderer/helpers.js
Labels: bug

#45 Update pf4 snapshots.
  packages/pf4-component-mapper/src/tests/__snapshots__/tabs.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
Labels: PF4

#46 fix(pf4Select): make async variant
  packages/pf4-component-mapper/src/form-fields/select/select.js
  packages/pf4-component-mapper/src/tests/select/select.test.js
Labels: PF4, enhancement

#48 Adds Component API doc page
  packages/react-renderer-demo/src/editor-demo/common/doc-texts/component-api.js
  packages/react-renderer-demo/src/editor-demo/common/documenation-pages.js
  packages/react-renderer-demo/src/editor-demo/docs-components/component-api/component-api.md
  packages/react-renderer-demo/src/editor-demo/docs-components/component-api/exampleLink.js
Labels: demo, enhancement

#54 feat(renderer): Added option to pass custom component for form buttons.
  packages/pf3-component-mapper/src/form-fields/layout-components.js
  packages/react-form-renderer/demo/form-fields-mapper.js
  packages/react-form-renderer/demo/index.js
  packages/react-form-renderer/demo/layout-mapper.js
  packages/react-form-renderer/src/form-renderer/form-controls.js
  packages/react-form-renderer/src/form-renderer/index.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/array-form-component.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-controls.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-information.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/form-controls.test.js
  packages/react-form-renderer/src/tests/form-renderer/form-renderer.test.js
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
  packages/react-renderer-demo/src/editor-demo/common/component/raw-component.js
  packages/react-renderer-demo/src/editor-demo/common/doc-texts/form-controls.js
  packages/react-renderer-demo/src/editor-demo/common/documenation-pages.js
  packages/react-renderer-demo/src/editor-demo/docs-components/form-controls.md
  packages/react-renderer-demo/src/editor-demo/docs-components/form-controls/custom-buttons.js
Labels: enhancement, renderer

#55 Remove console errors in demo
  packages/pf4-component-mapper/package.json
  packages/pf4-component-mapper/src/form-fields/form-fields.js
  packages/pf4-component-mapper/src/form-fields/select/select-styles.js
  packages/pf4-component-mapper/src/form-fields/select/select.js
  packages/pf4-component-mapper/src/form-fields/tabs.js
  packages/react-renderer-demo/src/editor-demo/common/example-common.js
  packages/react-renderer-demo/src/editor-demo/common/examples-texts/tabs.js
  packages/react-renderer-demo/src/editor-demo/demo-missing-fields/mui-wizzard/step-buttons.js
  packages/react-renderer-demo/src/editor-demo/pages/form-renderer-page.js
Labels: MUI, PF3, PF4, Technical debt, demo, renderer

#57 Deduped ace-editor usage.
  packages/react-renderer-demo/src/editor-demo/common/component/code-editor.js
  packages/react-renderer-demo/src/editor-demo/common/component/raw-component.js
  packages/react-renderer-demo/src/editor-demo/common/example-common.js
  packages/react-renderer-demo/src/editor-demo/common/md-helper/index.js
  packages/react-renderer-demo/src/editor-demo/pages/form-renderer-page.js
Labels: Technical debt, demo

#58 Fix typo in link
  packages/react-renderer-demo/src/editor-demo/docs-components/component-api/component-api.md
Labels: bug, demo
