Repository data-driven-forms/react-forms, pull requests merged in 2019-11, with the labels that each got.

#190 fix(pf4wizard): fix predicting steps for func nextStep
  packages/pf4-component-mapper/demo/demo-schemas/wizard-schema.js
  packages/pf4-component-mapper/demo/index.js
  packages/pf4-component-mapper/src/form-fields/wizard/step-buttons.js
  packages/pf4-component-mapper/src/form-fields/wizard/wizard.js
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
Labels: PF4, bug

#197 Added build badges to README.md
  README.md
Labels: common

#198 fix(pf3): fixed date picker initialization.
  packages/pf3-component-mapper/src/form-fields/date-time-picker/date-time-picker.js
  packages/pf3-component-mapper/src/form-fields/form-fields.js
  packages/pf3-component-mapper/src/tests/form-fields/date-time-picker/date-time-picker.test.js
Labels: bug

#201 Added release notes.
  package.json
Labels: Technical debt, common

#202 fix(renderer): onCancel receives form values
  packages/pf3-component-mapper/src/tests/__snapshots__/tabs.test.js.snap
  packages/pf3-component-mapper/src/tests/form-fields/date-time-picker/__snapshots__/year-selector.test.js.snap
  packages/pf4-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
  packages/pf4-component-mapper/src/tests/__snapshots__/tabs.test.js.snap
  packages/react-form-renderer/src/form-renderer/form-controls.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-controls.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/form-controls.test.js
  packages/react-renderer-demo/src/docs-components/renderer-api.md
Labels: enhancement, renderer

#204 Removed PF4 react-icons from code base.
  packages/pf4-component-mapper/package.json
  packages/pf4-component-mapper/rollup.config.js
  packages/pf4-component-mapper/size-snapshot.json
  packages/pf4-component-mapper/src/form-fields/fieldArray/index.js
  packages/pf4-component-mapper/src/form-fields/select/clear-indicator.js
  packages/pf4-component-mapper/src/form-fields/select/dropdown-indicator.js
  packages/pf4-component-mapper/src/form-fields/select/multi-value-remove.js
  packages/pf4-component-mapper/src/form-fields/select/option.js
  packages/pf4-component-mapper/src/icons/add-circle-o-icon.js
  packages/pf4-component-mapper/src/icons/caret-down-icon.js
  packages/pf4-component-mapper/src/icons/check-icon.js
  packages/pf4-component-mapper/src/icons/circle-notch-icon.js
  packages/pf4-component-mapper/src/icons/close-icon.js
  packages/pf4-component-mapper/src/icons/times-circle-icon.js
  packages/pf4-component-mapper/src/tests/field-array/__snapshots__/field-array.test.js.snap
  packages/pf4-component-mapper/src/tests/field-array/field-array.test.js
  packages/react-renderer-demo/package.json
  packages/react-renderer-demo/src/app/next.config.js
  packages/react-renderer-demo/src/app/package.json
Labels: common, demo

#206 Fixed demo navigation highlight.
  packages/react-renderer-demo/src/app/src/components/navigation/mapper.js
Labels: bug

#207 fixed wizard demo
  packages/react-renderer-demo/src/app/pages/component-example.js
  packages/react-renderer-demo/src/app/src/components/missing-demo-fields/mui-wizard/mui-wizard.js
Labels: bug

#209 Make nextdocs consistent with master
  packages/react-renderer-demo/src/app/pages/component-example.js
  packages/react-renderer-demo/src/app/pages/renderer/component-api.md
  packages/react-renderer-demo/src/app/pages/renderer/component-mapping.md
  packages/react-renderer-demo/src/app/pages/renderer/data-types.md
  packages/react-renderer-demo/src/app/pages/renderer/development-setup.md
  packages/react-renderer-demo/src/app/pages/renderer/field-array.md
  packages/react-renderer-demo/src/app/pages/renderer/field-provider.md
  packages/react-renderer-demo/src/app/pages/renderer/get-started.md
  packages/react-renderer-demo/src/app/pages/renderer/installation.md
  packages/react-renderer-demo/src/app/pages/renderer/renderer-api.md
  packages/react-renderer-demo/src/app/src/components/navigation/documentation-pages.js
  packages/react-renderer-demo/src/app/src/components/navigation/examples-definitions.js
  packages/react-renderer-demo/src/app/src/components/navigation/examples-texts/select.js
  packages/react-renderer-demo/src/app/src/doc-components/data-types-example.js
  packages/react-renderer-demo/src/app/src/doc-components/field-array/form-fields-mapper.js
  packages/react-renderer-demo/src/app/src/doc-components/field-array/pf4-demo.js
  packages/react-renderer-demo/src/app/src/doc-components/get-started/get-started.js
  packages/react-renderer-demo/src/app/src/doc-components/pf3-select.md
  packages/react-renderer-demo/src/app/src/doc-components/pf4-select.md
Labels: demo

#208 Removed wizard schema from initial demo
  packages/react-renderer-demo/src/app/pages/show-case.js
  packages/react-renderer-demo/src/app/src/schemas/wizard-schema.js
Labels: bug, demo

#211 Update repo demo readme for nextjs
  packages/react-renderer-demo/src/app/README.md
Labels: demo

#210 Fix verticalAlign PF4 icons
  packages/pf4-component-mapper/src/icons/add-circle-o-icon.js
  packages/pf4-component-mapper/src/icons/caret-down-icon.js
  packages/pf4-component-mapper/src/icons/check-icon.js
  packages/pf4-component-mapper/src/icons/circle-notch-icon.js
  packages/pf4-component-mapper/src/icons/close-icon.js
  packages/pf4-component-mapper/src/icons/times-circle-icon.js
Labels: PF4, bug

#212 Import styles to create component mapper demo
  packages/react-renderer-demo/src/app/src/doc-components/component-mapper/form-fields-mapper.js
Labels: bug, demo

#213 Stop mangling component names in next demo.
  packages/react-form-renderer/src/parsers/default-schema-validator.js
  packages/react-renderer-demo/package.json
  packages/react-renderer-demo/src/app/next.config.js
Labels: bug, demo

#216 Remove size-snapshot from git
  packages/mui-component-mapper/size-snapshot.json
  packages/pf3-component-mapper/size-snapshot.json
  packages/pf4-component-mapper/size-snapshot.json
  packages/react-form-renderer/size-snapshot.json
Labels: bug

#217 fix(pf4wizard): onCancel button receives formValues
  packages/pf4-component-mapper/demo/index.js
  packages/pf4-component-mapper/src/form-fields/wizard/step-buttons.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/step-buttons.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard-step.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/step-buttons.test.js
  packages/pf4-component-mapper/src/tests/wizard/wizard-step.test.js
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
Labels: PF4, bug

#218 Adjusted doc layout to comply with algolia doc-search.
  package.json
  packages/react-renderer-demo/src/app/src/components/layout.js
  packages/react-renderer-demo/src/app/src/components/mdx/mdx-components.js
Labels: P1, demo, enhancement

#219 fix(pf4wizard): pass formValues to onClose icon cancel action
  packages/pf4-component-mapper/src/form-fields/wizard/wizard.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
Labels: PF4, bug

#222 Turn on parallel for demo terser plugin
  packages/react-renderer-demo/src/app/next.config.js
  yarn.lock
Labels: P1, bug, demo

#226 fix(pf4): updated form buttons to fix spacing.
  packages/pf4-component-mapper/demo/index.html
  packages/pf4-component-mapper/src/form-fields/layout-components-styles.scss
  packages/pf4-component-mapper/src/form-fields/layout-components.js
  packages/pf4-component-mapper/src/tests/field-array/__snapshots__/field-array.test.js.snap
  packages/pf4-component-mapper/src/tests/layout-components.test.js
Labels: P1, PF4, bug

#227 Add table of contents to field array
  packages/react-renderer-demo/src/app/pages/renderer/field-array.md
Labels: Technical debt, bug

#230 Remove tag from all schemas
  packages/react-renderer-demo/src/app/pages/live-editor.js
Labels: Technical debt, bug, demo

#233 Ignore empty values length validator
  packages/react-form-renderer/src/tests/validators/validators.test.js
  packages/react-form-renderer/src/validators/index.js
Labels: bug, renderer

#234 Make headers in demo consistent
  packages/react-renderer-demo/src/app/pages/renderer/component-api.md
  packages/react-renderer-demo/src/app/pages/renderer/component-mapping.md
  packages/react-renderer-demo/src/app/pages/renderer/condition.md
  packages/react-renderer-demo/src/app/pages/renderer/data-types.md
  packages/react-renderer-demo/src/app/pages/renderer/development-setup.md
  packages/react-renderer-demo/src/app/pages/renderer/field-array.md
  packages/react-renderer-demo/src/app/pages/renderer/field-provider.md
  packages/react-renderer-demo/src/app/pages/renderer/form-controls.md
  packages/react-renderer-demo/src/app/pages/renderer/get-started.md
  packages/react-renderer-demo/src/app/pages/renderer/installation.md
  packages/react-renderer-demo/src/app/pages/renderer/renderer-api.md
  packages/react-renderer-demo/src/app/pages/renderer/unmounting.md
  packages/react-renderer-demo/src/app/pages/renderer/validators.md
  packages/react-renderer-demo/src/app/src/components/mdx/mdx-components.js
  packages/react-renderer-demo/src/app/src/doc-components/pf3-select.md
  packages/react-renderer-demo/src/app/src/doc-components/pf3-wizard.md
  packages/react-renderer-demo/src/app/src/doc-components/pf4-select.md
  packages/react-renderer-demo/src/app/src/doc-components/pf4-wizard.md
  packages/react-renderer-demo/src/app/src/doc-components/wizard.md
  packages/react-renderer-demo/src/app/src/docs-components/development-setup.md
  packages/react-renderer-demo/src/app/src/helpers/list-of-contents.js
Labels: Technical debt, demo

#235 Update PF4 wizard doc
  packages/react-renderer-demo/src/app/src/doc-components/pf4-wizard.md
Labels: Technical debt, demo

#237 Fixed demo links to enable crawlers.
  packages/react-renderer-demo/src/app/.eslintrc
  packages/react-renderer-demo/src/app/package.json
  packages/react-renderer-demo/src/app/src/components/layout.js
  packages/react-renderer-demo/src/app/src/components/mdx/mdx-components.js
  packages/react-renderer-demo/src/app/src/components/mdx/share-button.js
  packages/react-renderer-demo/src/app/src/helpers/list-of-contents.js
Labels: Technical debt, demo

#238 Added href links to left nav
  packages/react-renderer-demo/src/app/src/components/navigation/mapper.js
Labels: bug, demo

#239 Fixed missing HREF on rest of anchor tags.
  packages/react-renderer-demo/src/app/pages/index.js
  packages/react-renderer-demo/src/app/src/components/common/example-link.js
  packages/react-renderer-demo/src/app/src/components/mdx/share-button.js
  packages/react-renderer-demo/src/app/src/doc-components/component-mapper/form-fields-mapper.js
  packages/react-renderer-demo/src/app/src/doc-components/component-mapper/layout-mapper.js
  packages/react-renderer-demo/src/app/src/doc-components/field-array/form-fields-mapper.js
  packages/react-renderer-demo/src/app/src/helpers/list-of-contents.js
Labels: Technical debt, demo

#240 feat(renderer): introduce initializeOnMount
  packages/react-form-renderer/src/form-renderer/field-provider.js
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
  packages/react-renderer-demo/src/app/pages/renderer/initialize-mount.md
  packages/react-renderer-demo/src/app/src/components/navigation/documentation-pages.js
  packages/react-renderer-demo/src/app/src/doc-components/initialize-mount.js
Labels: enhancement, renderer

#241 Added doc search input to documentation.
  package.json
  packages/react-renderer-demo/src/app/pages/_document.js
  packages/react-renderer-demo/src/app/src/components/docsearch.js
  packages/react-renderer-demo/src/app/src/components/layout.js
  yarn.lock
Labels: demo, enhancement

#242 Add window check before initializing doc search API.
  packages/react-renderer-demo/src/app/src/components/docsearch.js
Labels: bug, demo

#243 Fixed doc search in prod.
  packages/react-renderer-demo/src/app/package.json
  packages/react-renderer-demo/src/app/pages/_document.js
  packages/react-renderer-demo/src/app/src/components/docsearch.js
  packages/react-renderer-demo/src/app/src/components/layout.js
  yarn.lock
Labels: bug, demo

#244 fixed non clickable toolbar when drawer was opened
  packages/react-renderer-demo/src/app/src/components/layout.js
Labels: bug, demo

#245 Fix styling for anchors
  packages/react-renderer-demo/src/app/pages/renderer/component-api.md
  packages/react-renderer-demo/src/app/src/components/mdx/mdx-components.js
Labels: bug, demo

#246 Fix link to example
  packages/react-renderer-demo/src/app/src/components/common/example-link.js
Labels: bug, demo

#247 Fix headers again
  packages/react-renderer-demo/src/app/src/components/mdx/mdx-components.js
  packages/react-renderer-demo/src/app/src/helpers/list-of-contents.js
Labels: bug, demo
