Repository data-driven-forms/react-forms, pull requests merged in 2020-02, with the labels that each got.

#299 fix(pf4): use tree shaking for PF4 dep
  packages/pf4-component-mapper/package.json
  packages/pf4-component-mapper/rollup.config.js
  packages/pf4-component-mapper/src/form-fields/fieldArray/index.js
  packages/pf4-component-mapper/src/form-fields/form-fields.js
  packages/pf4-component-mapper/src/form-fields/layout-components.js
  packages/pf4-component-mapper/src/form-fields/multiple-choice-list.js
  packages/pf4-component-mapper/src/form-fields/plain-text.js
  packages/pf4-component-mapper/src/form-fields/radio.js
  packages/pf4-component-mapper/src/form-fields/select/clear-indicator.js
  packages/pf4-component-mapper/src/form-fields/select/option.js
  packages/pf4-component-mapper/src/form-fields/select/value-container.js
  packages/pf4-component-mapper/src/form-fields/sub-form.js
  packages/pf4-component-mapper/src/form-fields/tabs.js
  packages/pf4-component-mapper/src/form-fields/wizard/step-buttons.js
  packages/pf4-component-mapper/src/form-fields/wizard/wizard-nav.js
  packages/pf4-component-mapper/src/form-fields/wizard/wizard-step.js
  packages/pf4-component-mapper/src/form-fields/wizard/wizard.js
  packages/pf4-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/react-renderer-demo/src/app/package.json
  packages/react-renderer-demo/src/app/src/doc-components/clear-on-unmount.js
  packages/react-renderer-demo/src/app/src/doc-components/cleared-value.js
  packages/react-renderer-demo/src/app/src/doc-components/data-types-example.js
  packages/react-renderer-demo/src/app/src/doc-components/initialize-mount.js
  yarn.lock
Labels: PF4

#300 fix(renderer): fix conditions for nested names
  packages/pf4-component-mapper/package.json
  packages/react-form-renderer/src/form-renderer/condition.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/render-form.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
Labels: bug, renderer

#301 Add and fix table of contents where missing
  packages/react-renderer-demo/src/app/pages/renderer/field-provider.md
  packages/react-renderer-demo/src/app/pages/renderer/get-started.md
  packages/react-renderer-demo/src/app/pages/renderer/installation.md
Labels: Technical debt, bug

#302 Check if the field has name set, not title or key
  packages/mui-component-mapper/demo/demo-schemas/sandbox.js
  packages/mui-component-mapper/src/form-fields/tabs.js
  packages/mui-component-mapper/src/tests/subform.test.js
  packages/mui-component-mapper/src/tests/tabs.test.js
  packages/pf3-component-mapper/demo/demo-schemas/sandbox.js
  packages/pf3-component-mapper/src/form-fields/tabs.js
  packages/pf3-component-mapper/src/tests/__snapshots__/tabs.test.js.snap
  packages/pf3-component-mapper/src/tests/tabs.test.js
  packages/pf4-component-mapper/demo/demo-schemas/sandbox.js
  packages/pf4-component-mapper/src/form-fields/multiple-choice-list.js
  packages/pf4-component-mapper/src/form-fields/tabs.js
  packages/pf4-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
  packages/pf4-component-mapper/src/tests/sub-form.test.js
  packages/pf4-component-mapper/src/tests/tabs.test.js
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
  packages/react-form-renderer/src/demo-schemas/miq-schemas/output.js
  packages/react-form-renderer/src/parsers/default-schema-validator.js
  packages/react-form-renderer/src/parsers/miq-parser/miq-parser.js
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
  packages/react-form-renderer/src/tests/parsers/__snapshots__/default-schema-validator.test.js.snap
  packages/react-form-renderer/src/tests/parsers/default-schema-validator.test.js
  packages/react-renderer-demo/src/app/pages/renderer/unmounting.md
  packages/react-renderer-demo/src/app/src/components/navigation/examples-definitions.js
Labels: Technical debt, renderer

#296 MUI mapper audit fix
  packages/common/src/multiple-choice-list.js
  packages/mui-component-mapper/demo/demo-schemas/sandbox.js
  packages/mui-component-mapper/demo/index.js
  packages/mui-component-mapper/package.json
  packages/mui-component-mapper/src/form-fields/form-fields.js
  packages/mui-component-mapper/src/form-fields/multiple-choice-list.js
  packages/mui-component-mapper/src/form-fields/radio.js
  packages/mui-component-mapper/src/form-fields/select-field.js
  packages/mui-component-mapper/src/tests/form-fields.test.js
  packages/mui-component-mapper/src/tests/select-field.test.js
  yarn.lock
Labels: MUI, bug, enhancement

#305 Limit material core to fix demo's styles
  packages/mui-component-mapper/package.json
  yarn.lock
Labels: bug, demo

#288 Add releases page to demo
  packages/react-renderer-demo/package.json
  packages/react-renderer-demo/src/app/pages/releases.js
  packages/react-renderer-demo/src/app/src/components/navigation/schema.js
  yarn.lock
Labels: enhancement

#306 Add link to twitter
  packages/react-renderer-demo/src/app/src/components/common/twitter-svg-icon.js
  packages/react-renderer-demo/src/app/src/components/footer.js
Labels: demo, enhancement

#308 feat(form-builder): split build into multiple files
  __mocks__/mock-layout-mapper.js
  packages/react-form-renderer/demo/form-fields-mapper.js
  packages/react-form-renderer/demo/layout-mapper.js
  packages/react-form-renderer/demo/sandbox.js
  packages/react-form-renderer/package.json
  packages/react-form-renderer/rollup.config.js
  packages/react-form-renderer/src/components/component-types.js
  packages/react-form-renderer/src/components/compose-validators.js
  packages/react-form-renderer/src/components/data-types.js
  packages/react-form-renderer/src/components/field-provider.js
  packages/react-form-renderer/src/components/form-renderer.js
  packages/react-form-renderer/src/components/layout-component-types.js
  packages/react-form-renderer/src/components/renderer-context.js
  packages/react-form-renderer/src/components/validator-types.js
  packages/react-form-renderer/src/constants/index.js
  packages/react-form-renderer/src/demo-schemas/miq-schemas/output.js
  packages/react-form-renderer/src/form-renderer/enhanced-on-change.js
  packages/react-form-renderer/src/form-renderer/field-wrapper.js
  packages/react-form-renderer/src/form-renderer/form-controls.js
  packages/react-form-renderer/src/form-renderer/form-information.js
  packages/react-form-renderer/src/form-renderer/helpers.js
  packages/react-form-renderer/src/form-renderer/render-form.js
  packages/react-form-renderer/src/form-renderer/renderer-context.js
  packages/react-form-renderer/src/index.js
  packages/react-form-renderer/src/parsers/default-schema-validator.js
  packages/react-form-renderer/src/parsers/miq-parser/constants.js
  packages/react-form-renderer/src/parsers/miq-parser/miq-parser.js
  packages/react-form-renderer/src/parsers/mozilla-parser/mozilla-helpers.js
  packages/react-form-renderer/src/parsers/mozilla-parser/mozilla-schema-parser.js
  packages/react-form-renderer/src/tests/form-renderer/data-types.test.js
  packages/react-form-renderer/src/tests/form-renderer/field-wrapper.test.js
  packages/react-form-renderer/src/tests/form-renderer/form-controls.test.js
  packages/react-form-renderer/src/tests/form-renderer/form-information.test.js
  packages/react-form-renderer/src/tests/form-renderer/form-renderer.test.js
  packages/react-form-renderer/src/tests/form-renderer/helpers.test.js
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
  packages/react-form-renderer/src/tests/parsers/default-schema-validator.test.js
  packages/react-form-renderer/src/tests/validators/validators.test.js
  packages/react-form-renderer/src/validators/validator-mapper.js
  yarn.lock
Labels: V2, renderer

#311 [V2] fix(renderer): remove treshold warning and option
  packages/react-form-renderer/demo/sandbox.js
  packages/react-form-renderer/src/parsers/mozilla-parser/mozilla-helpers.js
  packages/react-form-renderer/src/tests/parsers/expected-parser-results.js
  packages/react-form-renderer/src/tests/validators/validators.test.js
  packages/react-form-renderer/src/validators/validator-mapper.js
Labels: V2, renderer

#314 fix(PF4): added missing components to build.
  packages/pf4-component-mapper/src/components/component-mapper.js
  packages/pf4-component-mapper/src/components/field-array.js
  packages/pf4-component-mapper/src/components/final-form-array.scss
  packages/pf4-component-mapper/src/components/select.js
  packages/pf4-component-mapper/src/components/wizard.js
Labels: PF4, V2, bug

#312 fix(pf4): scroll to top on switching to a different step
  config/jest.setup.js
  packages/pf4-component-mapper/src/form-fields/wizard/wizard-step.js
Labels: PF4, bug

#315 [V2] Split MUI mapper
  packages/common/src/prop-types-templates.js
  packages/mui-component-mapper/demo/index.js
  packages/mui-component-mapper/package.json
  packages/mui-component-mapper/rollup.config.js
  packages/mui-component-mapper/src/common/form-field-grid.js
  packages/mui-component-mapper/src/common/helpers.js
  packages/mui-component-mapper/src/common/multiple-choice-list.js
  packages/mui-component-mapper/src/components/checkbox.js
  packages/mui-component-mapper/src/components/component-mapper.js
  packages/mui-component-mapper/src/components/date-picker.js
  packages/mui-component-mapper/src/components/form-template.js
  packages/mui-component-mapper/src/components/plain-text.js
  packages/mui-component-mapper/src/components/radio.js
  packages/mui-component-mapper/src/components/radio.scss
  packages/mui-component-mapper/src/components/select.js
  packages/mui-component-mapper/src/components/select/integration-select.js
  packages/mui-component-mapper/src/components/select/select-styles.js
  packages/mui-component-mapper/src/components/sub-form.js
  packages/mui-component-mapper/src/components/switch.js
  packages/mui-component-mapper/src/components/tabs.js
  packages/mui-component-mapper/src/components/text-area.js
  packages/mui-component-mapper/src/components/text-field.js
  packages/mui-component-mapper/src/components/time-picker.js
  packages/mui-component-mapper/src/form-fields/component-mapper.js
  packages/mui-component-mapper/src/form-fields/form-fields.js
  packages/mui-component-mapper/src/form-fields/plain-text.js
  packages/mui-component-mapper/src/form-fields/radio.js
  packages/mui-component-mapper/src/index.js
  packages/mui-component-mapper/src/tests/form-fields.test.js
  packages/mui-component-mapper/src/tests/helpers.test.js
  packages/mui-component-mapper/src/tests/multiple-choice-list.test.js
  packages/mui-component-mapper/src/tests/plain-text.test.js
  packages/mui-component-mapper/src/tests/select-field.test.js
  packages/mui-component-mapper/src/tests/subform.test.js
  packages/mui-component-mapper/src/tests/tabs.test.js
  packages/mui-component-mapper/src/vendor.js
  packages/mui-component-mapper/src/vendor.scss
Labels: MUI, V2, enhancement

#317 [V2] Use form api instead of formOptions
  __mocks__/mock-form-template.js
  __mocks__/with-provider.js
  packages/common/src/form-template.js
  packages/common/src/multiple-choice-list.js
  packages/mui-component-mapper/src/components/sub-form.js
  packages/mui-component-mapper/src/components/tabs.js
  packages/mui-component-mapper/src/tests/subform.test.js
  packages/mui-component-mapper/src/tests/tabs.test.js
  packages/pf3-component-mapper/src/components/sub-form.js
  packages/pf3-component-mapper/src/components/tabs.js
  packages/pf3-component-mapper/src/components/wizard.js
  packages/pf3-component-mapper/src/components/wizard/step-buttons.js
  packages/pf3-component-mapper/src/components/wizard/wizard-step.js
  packages/pf3-component-mapper/src/form-fields/switch-field.js
  packages/pf3-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
  packages/pf3-component-mapper/src/tests/__snapshots__/sub-form.test.js.snap
  packages/pf3-component-mapper/src/tests/__snapshots__/tabs.test.js.snap
  packages/pf3-component-mapper/src/tests/__snapshots__/wizard.test.js.snap
  packages/pf3-component-mapper/src/tests/form-fields.test.js
  packages/pf3-component-mapper/src/tests/sub-form.test.js
  packages/pf3-component-mapper/src/tests/switch-field.test.js
  packages/pf3-component-mapper/src/tests/tabs.test.js
  packages/pf3-component-mapper/src/tests/wizard.test.js
  packages/pf4-component-mapper/demo/demo-schemas/wizard-schema.js
  packages/pf4-component-mapper/src/components/field-array.js
  packages/pf4-component-mapper/src/components/sub-form.js
  packages/pf4-component-mapper/src/components/tabs.js
  packages/pf4-component-mapper/src/components/wizard.js
  packages/pf4-component-mapper/src/components/wizard/step-buttons.js
  packages/pf4-component-mapper/src/components/wizard/wizard-nav.js
  packages/pf4-component-mapper/src/tests/__snapshots__/form-template-common.test.js.snap
  packages/pf4-component-mapper/src/tests/__snapshots__/sub-form.test.js.snap
  packages/pf4-component-mapper/src/tests/__snapshots__/tabs.test.js.snap
  packages/pf4-component-mapper/src/tests/field-array/__snapshots__/field-array.test.js.snap
  packages/pf4-component-mapper/src/tests/form-template-common.test.js
  packages/pf4-component-mapper/src/tests/sub-form.test.js
  packages/pf4-component-mapper/src/tests/tabs.test.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
  packages/react-form-renderer/demo/form-fields-mapper.js
  packages/react-form-renderer/demo/form-template.js
  packages/react-form-renderer/src/components/field-provider.js
  packages/react-form-renderer/src/components/form-renderer.js
  packages/react-form-renderer/src/form-renderer/render-form.js
  packages/react-form-renderer/src/hooks/useFormApi.js
  packages/react-form-renderer/src/index.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/render-form.test.js.snap
  packages/react-renderer-demo/src/app/src/components/missing-demo-fields/mui-wizard/mui-wizard.js
  packages/react-renderer-demo/src/app/src/doc-components/component-mapper/form-fields-mapper.js
  packages/react-renderer-demo/src/app/src/doc-components/field-array/form-fields-mapper.js
Labels: V2, renderer

#321 feat(FormSpy): export formSpy instead of passing it as a prop
  __mocks__/mock-form-template.js
  packages/common/src/form-template.js
  packages/pf4-component-mapper/src/components/wizard.js
  packages/pf4-component-mapper/src/tests/__snapshots__/form-template-common.test.js.snap
  packages/pf4-component-mapper/src/tests/field-array/__snapshots__/field-array.test.js.snap
  packages/pf4-component-mapper/src/tests/form-template-common.test.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/react-form-renderer/demo/form-template.js
  packages/react-form-renderer/src/components/form-renderer.js
  packages/react-form-renderer/src/components/form-spy.js
  packages/react-form-renderer/src/components/form.js
  packages/react-form-renderer/src/form-renderer/field-wrapper.js
  packages/react-form-renderer/src/index.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/render-form.test.js.snap
Labels: V2, enhancement, renderer

#320 Validate MUI hidden tabs
  packages/mui-component-mapper/src/form-fields/form-fields.js
  packages/mui-component-mapper/src/form-fields/tabs.js
  packages/mui-component-mapper/src/tests/tabs.test.js
Labels: MUI, bug

#316 Upgrade final form
  package.json
  packages/common/src/multiple-choice-list.js
  packages/mui-component-mapper/src/components/checkbox.js
  packages/mui-component-mapper/src/tests/form-fields.test.js
  packages/mui-component-mapper/src/tests/multiple-choice-list.test.js
  packages/pf3-component-mapper/demo/demo-schemas/sandbox.js
  packages/pf3-component-mapper/src/components/checkbox.js
  packages/pf3-component-mapper/src/components/wizard/step-buttons.js
  packages/pf3-component-mapper/src/tests/__snapshots__/wizard.test.js.snap
  packages/pf3-component-mapper/src/tests/form-fields.test.js
  packages/pf3-component-mapper/src/tests/multiple-choice-list.test.js
  packages/pf4-component-mapper/src/common/multiple-choice-list.js
  packages/pf4-component-mapper/src/components/checkbox.js
  packages/pf4-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
  packages/pf4-component-mapper/src/tests/__snapshots__/form-template-common.test.js.snap
  packages/pf4-component-mapper/src/tests/field-array/__snapshots__/field-array.test.js.snap
  packages/pf4-component-mapper/src/tests/form-fields.test.js
  packages/pf4-component-mapper/src/tests/form-template-common.test.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/react-form-renderer/package.json
  packages/react-form-renderer/src/components/field-provider.js
  packages/react-form-renderer/src/components/renderer-context.js
  packages/react-form-renderer/src/form-renderer/field-wrapper.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/render-form.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/data-types.test.js
  packages/react-form-renderer/src/tests/form-renderer/field-wrapper.test.js
  packages/react-form-renderer/src/tests/form-renderer/form-renderer.test.js
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
  yarn.lock
Labels: V2, renderer

#322 Export field array instead of using a prop
  packages/pf4-component-mapper/src/components/field-array.js
  packages/pf4-component-mapper/src/tests/field-array/__snapshots__/field-array.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/react-form-renderer/src/components/field-array.js
  packages/react-form-renderer/src/form-renderer/field-wrapper.js
  packages/react-form-renderer/src/index.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/render-form.test.js.snap
Labels: V2, enhancement, renderer

#325 Add fallback for releases
  packages/react-renderer-demo/src/app/pages/releases.js
Labels: demo, enhancement

#326 [V2] feat(renderer): remove onStateUpdate prop
  packages/common/src/form-template.js
  packages/pf4-component-mapper/src/tests/form-template-common.test.js
  packages/react-form-renderer/src/components/form-renderer.js
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
Labels: V2, renderer

#323 [V2] Refactor PF4 wizard to hooks
  packages/pf4-component-mapper/package.json
  packages/pf4-component-mapper/src/components/wizard.js
  packages/pf4-component-mapper/src/components/wizard/reducer.js
  packages/pf4-component-mapper/src/components/wizard/wizard-nav.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/wizard-nav.test.js
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
  yarn.lock
Labels: PF4

#327 [v2]: Export field provider
  __mocks__/with-provider.js
  packages/mui-component-mapper/src/components/checkbox.js
  packages/mui-component-mapper/src/components/date-picker.js
  packages/mui-component-mapper/src/components/radio.js
  packages/mui-component-mapper/src/components/select.js
  packages/mui-component-mapper/src/components/sub-form.js
  packages/mui-component-mapper/src/components/switch.js
  packages/mui-component-mapper/src/components/text-area.js
  packages/mui-component-mapper/src/components/text-field.js
  packages/mui-component-mapper/src/components/time-picker.js
  packages/mui-component-mapper/src/tests/form-fields.test.js
  packages/pf3-component-mapper/src/components/checkbox.js
  packages/pf3-component-mapper/src/components/date-picker.js
  packages/pf3-component-mapper/src/components/radio.js
  packages/pf3-component-mapper/src/components/select.js
  packages/pf3-component-mapper/src/components/switch.js
  packages/pf3-component-mapper/src/components/text-field.js
  packages/pf3-component-mapper/src/components/textarea.js
  packages/pf3-component-mapper/src/form-fields/radio-group.js
  packages/pf3-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
  packages/pf3-component-mapper/src/tests/__snapshots__/sub-form.test.js.snap
  packages/pf3-component-mapper/src/tests/__snapshots__/tabs.test.js.snap
  packages/pf3-component-mapper/src/tests/__snapshots__/wizard.test.js.snap
  packages/pf3-component-mapper/src/tests/form-fields.test.js
  packages/pf4-component-mapper/package.json
  packages/pf4-component-mapper/src/common/radio.js
  packages/pf4-component-mapper/src/components/checkbox.js
  packages/pf4-component-mapper/src/components/date-picker.js
  packages/pf4-component-mapper/src/components/radio.js
  packages/pf4-component-mapper/src/components/select.js
  packages/pf4-component-mapper/src/components/switch.js
  packages/pf4-component-mapper/src/components/text-area.js
  packages/pf4-component-mapper/src/components/text-field.js
  packages/pf4-component-mapper/src/components/time-picker.js
  packages/pf4-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
  packages/pf4-component-mapper/src/tests/__snapshots__/form-template-common.test.js.snap
  packages/pf4-component-mapper/src/tests/__snapshots__/sub-form.test.js.snap
  packages/pf4-component-mapper/src/tests/__snapshots__/tabs.test.js.snap
  packages/pf4-component-mapper/src/tests/field-array/field-array.test.js
  packages/pf4-component-mapper/src/tests/form-fields.test.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/react-form-renderer/demo/form-fields-mapper.js
  packages/react-form-renderer/demo/form-template.js
  packages/react-form-renderer/demo/index.js
  packages/react-form-renderer/demo/sandbox.js
  packages/react-form-renderer/src/components/field-provider.js
  packages/react-form-renderer/src/form-renderer/field-wrapper.js
  packages/react-form-renderer/src/form-renderer/helpers.js
  packages/react-form-renderer/src/hooks/use-field-api.js
  packages/react-form-renderer/src/index.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/render-form.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/data-types.test.js
  packages/react-form-renderer/src/tests/form-renderer/field-wrapper.test.js
  packages/react-form-renderer/src/tests/form-renderer/form-renderer.test.js
  packages/react-form-renderer/src/tests/form-renderer/helpers.test.js
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
  yarn.lock
Labels: V2, common

#329 [V2] feat(parsers): add parsers repo
  packages/parsers/.gitignore
  packages/parsers/.npmignore
  packages/parsers/LICENSE
  packages/parsers/README.md
  packages/parsers/babel.config.js
  packages/parsers/package.json
  packages/parsers/rollup.config.js
  packages/parsers/src/index.js
  packages/parsers/src/parsers/miq.js
  packages/parsers/src/parsers/miq/constants.js
  packages/parsers/src/parsers/mozilla.js
  packages/parsers/src/parsers/mozilla/mozilla-helpers.js
  packages/parsers/src/tests/miq/miq-parser.test.js
  packages/parsers/src/tests/miq/miq-schemas/input.js
  packages/parsers/src/tests/miq/miq-schemas/output.js
  packages/parsers/src/tests/mozilla/expected-parser-results.js
  packages/parsers/src/tests/mozilla/mozilla-schema-parser.test.js
  packages/parsers/src/tests/mozilla/schemas.js
  packages/react-form-renderer/src/index.js
  packages/react-form-renderer/src/tests/parsers/default-schema-validator.test.js
  packages/react-form-renderer/src/tests/parsers/miq-parser.test.js
  packages/react-form-renderer/src/tests/parsers/output.js
Labels: V2

#331 Add Discord link to demo
  packages/react-renderer-demo/src/app/src/components/common/discord-svg-icon.js
  packages/react-renderer-demo/src/app/src/components/footer.js
Labels: demo, enhancement

#333 fix(renderer): add support for string pattern and flags
  packages/react-form-renderer/src/form-renderer/condition.js
  packages/react-form-renderer/src/parsers/default-schema-validator.js
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
  packages/react-form-renderer/src/tests/parsers/__snapshots__/default-schema-validator.test.js.snap
  packages/react-form-renderer/src/tests/parsers/default-schema-validator.test.js
  packages/react-renderer-demo/src/app/pages/renderer/condition.md
Labels: bug, enhancement, renderer

#334 fix(renderer): add flags for pattern validator
  packages/react-form-renderer/src/tests/validators/validators.test.js
  packages/react-form-renderer/src/validators/index.js
  packages/react-renderer-demo/src/app/src/doc-components/validators/pattern-validator.js
Labels: enhancement

#338 [V2] Master > V2
  config/jest.setup.js
  packages/mui-component-mapper/src/tests/tabs.test.js
  packages/pf3-component-mapper/demo/demo-schemas/sandbox.js
  packages/pf3-component-mapper/src/common/button.js
  packages/pf3-component-mapper/src/common/form-wrapper.js
  packages/pf3-component-mapper/src/common/render-input-group.js
  packages/pf3-component-mapper/src/components/button.js
  packages/pf3-component-mapper/src/components/checkbox.js
  packages/pf3-component-mapper/src/components/component-mapper.js
  packages/pf3-component-mapper/src/components/date-picker.js
  packages/pf3-component-mapper/src/components/input-group-fields.js
  packages/pf3-component-mapper/src/components/plain-text.js
  packages/pf3-component-mapper/src/components/radio.js
  packages/pf3-component-mapper/src/components/select.js
  packages/pf3-component-mapper/src/components/switch.js
  packages/pf3-component-mapper/src/components/text-field.js
  packages/pf3-component-mapper/src/components/textarea.js
  packages/pf3-component-mapper/src/components/wizard/button.scss
  packages/pf3-component-mapper/src/components/wizard/step-buttons.js
  packages/pf3-component-mapper/src/tests/__snapshots__/input-addon.test.js.snap
  packages/pf3-component-mapper/src/tests/__snapshots__/wizard.test.js.snap
  packages/pf3-component-mapper/src/tests/component-mapper.test.js
  packages/pf3-component-mapper/src/tests/input-addon.test.js
  packages/pf4-component-mapper/src/components/wizard/wizard-step.js
  packages/react-form-renderer/src/components/component-types.js
  packages/react-form-renderer/src/form-renderer/condition.js
  packages/react-form-renderer/src/parsers/default-schema-validator.js
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
  packages/react-form-renderer/src/tests/parsers/__snapshots__/default-schema-validator.test.js.snap
  packages/react-form-renderer/src/tests/parsers/default-schema-validator.test.js
  packages/react-form-renderer/src/tests/validators/validators.test.js
  packages/react-form-renderer/src/validators/index.js
  packages/react-renderer-demo/src/app/pages/releases.js
  packages/react-renderer-demo/src/app/pages/renderer/condition.md
  packages/react-renderer-demo/src/app/src/components/common/discord-svg-icon.js
  packages/react-renderer-demo/src/app/src/components/footer.js
  packages/react-renderer-demo/src/app/src/doc-components/validators/pattern-validator.js
Labels: V2

#339 [V2] Validator mapper
  packages/pf3-component-mapper/src/tests/__snapshots__/input-addon.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/react-form-renderer/demo/form-fields-mapper.js
  packages/react-form-renderer/src/components/form-renderer.js
  packages/react-form-renderer/src/form-renderer/render-form.js
  packages/react-form-renderer/src/parsers/default-schema-validator.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
  packages/react-form-renderer/src/tests/parsers/__snapshots__/default-schema-validator.test.js.snap
  packages/react-form-renderer/src/tests/parsers/default-schema-validator.test.js
  packages/react-form-renderer/src/tests/validators/validators.test.js
  packages/react-form-renderer/src/validators/validator-mapper.js
Labels: V2, renderer

#340 [V2] Fix hook file name
  packages/react-form-renderer/src/hooks/use-field-api.js
  packages/react-form-renderer/src/hooks/use-form-api.js
  packages/react-form-renderer/src/index.js
  packages/react-renderer-demo/src/app/src/components/missing-demo-fields/mui-wizard/mui-wizard.js
Labels: Technical debt, V2, renderer

#341 [V2] pf4: Add isRequired to checkbox and switch
  packages/pf4-component-mapper/demo/demo-schemas/superschema.js
  packages/pf4-component-mapper/demo/index.js
  packages/pf4-component-mapper/src/common/is-required.js
  packages/pf4-component-mapper/src/components/checkbox.js
  packages/pf4-component-mapper/src/components/switch.js
  packages/pf4-component-mapper/src/tests/form-fields.test.js
Labels: PF4, V2, bug
