Repository data-driven-forms/react-forms, pull requests merged in 2020-09, with the labels that each got.

#774 fix(manager): allow multiple isEqual for a field
  packages/form-state-manager/src/tests/files/use-field.test.js
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager

#776 feat(manager): add field component
  packages/form-state-manager/src/files/field.tsx
  packages/form-state-manager/src/tests/files/field.test.js
  packages/form-state-manager/src/types/field.d.ts
Labels: State manager, enhancement

#775 fix(manager): convert initialValue/defaultValue when dataType
  packages/form-state-manager/src/files/use-field.ts
  packages/form-state-manager/src/tests/files/use-field.test.js
  packages/form-state-manager/src/types/data-types.d.ts
  packages/form-state-manager/src/utils/convert-value.ts
Labels: State manager

#777 feat(manager): prepare API for rendering based on state changes
  packages/form-state-manager/src/tests/performance/field-render-cycle.test.js
  packages/form-state-manager/src/tests/utils/find-difference.test.js
  packages/form-state-manager/src/utils/find-difference.ts
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager

#778 fix(renderer): make component option in use field api interface
  packages/react-form-renderer/src/files/use-field-api.d.ts
Labels: bug, renderer

#779 fix(renderer): Make use-field-api accept value definition.
  packages/react-form-renderer/src/files/use-field-api.d.ts
Labels: enhancement

#780 fix(pf4): add missing select interface properties
  packages/pf4-component-mapper/src/files/select.d.ts
Labels: bug

#781 Fix optimization page
  packages/react-renderer-demo/src/pages/optimization.md
Labels: bug, docs

#782 Redirect on examples when no mapper
  packages/react-renderer-demo/src/components/component-example.js
Labels: Technical debt, docs

#783 feat(manager): rerender form on basic functions
  packages/form-state-manager/src/files/use-field.ts
  packages/form-state-manager/src/tests/files/use-field-array.test.js
  packages/form-state-manager/src/tests/performance/field-render-cycle.test.js
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/types/field-config.d.ts
  packages/form-state-manager/src/types/use-field.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager

#784 Revert "Redirect on examples when no mapper"
  packages/react-renderer-demo/src/components/component-example.js
  packages/react-renderer-demo/src/pages/404.js
Labels: bug, docs

#785 fix(manager): fix rendering issues by rerendering forms on mount
  packages/form-state-manager/src/files/use-field.ts
  packages/form-state-manager/src/tests/files/use-field-array.test.js
  packages/form-state-manager/src/tests/files/use-field.test.js
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager

#787 fix(renderer): fix wizard context export type
  packages/react-form-renderer/src/files/wizard-context.d.ts
Labels: bug

#792 Fix popper position on mobile screens
  packages/react-renderer-demo/src/helpers/list-of-contents-select.js
Labels: bug, docs

#797 Add missing useContext import to template/wizard
  templates/component-mapper/src/files/wizard.js
Labels: bug

#789 Merge typography and link components in code example
  packages/react-renderer-demo/src/components/code-example.js
Labels: bug, docs

#790 Add twitter badges to readmes
  README.md
  packages/ant-component-mapper/README.md
  packages/blueprint-component-mapper/README.md
  packages/mui-component-mapper/README.md
  packages/parsers/README.md
  packages/pf3-component-mapper/README.md
  packages/pf4-component-mapper/README.md
  packages/react-form-renderer/README.md
  packages/suir-component-mapper/README.md
  templates/component-mapper/README.md
Labels: enhancement

#791 Fix algolia search on mobile screens
  packages/react-renderer-demo/src/components/docsearch.js
Labels: bug, docs

#793 Fix code editor width to keep menu the same
  packages/react-renderer-demo/src/components/code-editor/index.js
  packages/react-renderer-demo/src/components/code-example.js
Labels: bug, docs

#794 Make tables fixed on smaller screens
  packages/react-renderer-demo/src/components/mdx/mdx-components.js
Labels: bug, docs

#798 fix(pf4): add missing disabled prop to select typings
  packages/pf4-component-mapper/src/files/select.d.ts
Labels: PF4, bug

#799 fix(pf4): fix missing id prop in select TS definition.
  packages/pf4-component-mapper/src/files/select.d.ts
Labels: PF4, bug

#800 feat(carbon): add dual list component
  packages/carbon-component-mapper/demo/index.js
  packages/carbon-component-mapper/package.json
  packages/carbon-component-mapper/src/files/dual-list-select.d.ts
  packages/carbon-component-mapper/src/files/dual-list-select.js
  packages/carbon-component-mapper/src/files/dual-list-select.scss
  packages/carbon-component-mapper/src/tests/dual-list-select.test.js
  packages/common/babel.config.js
  yarn.lock
Labels: Carbon

#801 feat(carbon): add field array component
  packages/carbon-component-mapper/demo/demo-schemas/widget-schema.js
  packages/carbon-component-mapper/demo/index.js
  packages/carbon-component-mapper/src/files/field-array.d.ts
  packages/carbon-component-mapper/src/files/field-array.js
  packages/carbon-component-mapper/src/files/field-array.scss
  packages/carbon-component-mapper/src/tests/field-array.test.js
Labels: Carbon

#807 fix(renderer): export parse condition function
  packages/react-form-renderer/src/files/parse-condition.d.ts
  packages/react-form-renderer/src/files/parse-condition.js
  packages/react-form-renderer/src/form-renderer/condition.js
  packages/react-form-renderer/src/index.js
  packages/react-form-renderer/src/tests/form-renderer/parse-condition.test.js
Labels: enhancement, renderer

#803 feat(carbon): wizard component
  packages/carbon-component-mapper/demo/demo-schemas/wizard-schema.js
  packages/carbon-component-mapper/src/files/wizard.d.ts
  packages/carbon-component-mapper/src/files/wizard.js
  packages/carbon-component-mapper/src/files/wizard.scss
  packages/carbon-component-mapper/src/tests/wizard.test.js
  packages/common/babel.config.js
Labels: Carbon

#809 fix(renderer): export validator mapper in index.js
  packages/react-form-renderer/src/index.js
Labels: bug, renderer

#808 Add texts for Cabon components
  packages/react-renderer-demo/src/components/navigation/schemas/mappers.schema.js
  packages/react-renderer-demo/src/doc-components/date-picker.js
  packages/react-renderer-demo/src/doc-components/dual-list-select.js
  packages/react-renderer-demo/src/doc-components/examples-texts/carbon/carbon-date-picker.md
  packages/react-renderer-demo/src/doc-components/examples-texts/carbon/carbon-dual-list-select.md
  packages/react-renderer-demo/src/doc-components/examples-texts/carbon/carbon-field-array.md
  packages/react-renderer-demo/src/doc-components/examples-texts/carbon/carbon-plain-text.md
  packages/react-renderer-demo/src/doc-components/examples-texts/carbon/carbon-radio.md
  packages/react-renderer-demo/src/doc-components/examples-texts/carbon/carbon-sub-form.md
  packages/react-renderer-demo/src/doc-components/examples-texts/carbon/carbon-time-picker.md
  packages/react-renderer-demo/src/doc-components/examples-texts/carbon/carbon-wizard.md
  packages/react-renderer-demo/src/doc-components/field-array.js
  packages/react-renderer-demo/src/doc-components/plain-text.js
  packages/react-renderer-demo/src/doc-components/radio.js
  packages/react-renderer-demo/src/doc-components/sub-form.js
  packages/react-renderer-demo/src/doc-components/time-picker.js
  packages/react-renderer-demo/src/doc-components/wizard.js
  packages/react-renderer-demo/src/pages/mappers/sub-form.js
Labels: Carbon

#812 fix(carbon): introduce validateOnMount
  packages/carbon-component-mapper/src/files/date-picker.js
  packages/carbon-component-mapper/src/files/field-array.js
  packages/carbon-component-mapper/src/files/form-group.d.ts
  packages/carbon-component-mapper/src/files/select.js
  packages/carbon-component-mapper/src/files/slider.js
  packages/carbon-component-mapper/src/files/text-field.js
  packages/carbon-component-mapper/src/files/textarea.js
  packages/carbon-component-mapper/src/files/time-picker.js
Labels: Carbon

#813 fix(carbon): fix spacing for form template
  packages/carbon-component-mapper/src/files/form-template.js
  packages/carbon-component-mapper/src/files/form-template.scss
  packages/common/src/form-template.js
  packages/pf3-component-mapper/src/tests/__snapshots__/input-addon.test.js.snap
  packages/pf3-component-mapper/src/tests/__snapshots__/multiple-choice-list.test.js.snap
  packages/pf3-component-mapper/src/tests/__snapshots__/wizard.test.js.snap
  packages/pf4-component-mapper/src/tests/__snapshots__/form-template-common.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
Labels: Carbon

#814 feat(carbon): add AM/PM, timezones into carbon timepicker
  packages/carbon-component-mapper/package.json
  packages/carbon-component-mapper/src/files/time-picker.js
  packages/carbon-component-mapper/src/tests/time-picker.test.js
  packages/react-renderer-demo/src/doc-components/examples-texts/carbon/carbon-time-picker.md
  yarn.lock
Labels: Carbon

#815 Carbon helper text
  packages/carbon-component-mapper/README.md
  packages/carbon-component-mapper/src/common/helper-text-block.js
  packages/carbon-component-mapper/src/common/helper-text-block.scss
  packages/carbon-component-mapper/src/files/checkbox.js
  packages/carbon-component-mapper/src/files/date-picker.js
  packages/carbon-component-mapper/src/files/radio.js
  packages/carbon-component-mapper/src/files/slider.js
  packages/carbon-component-mapper/src/files/switch.js
  packages/carbon-component-mapper/src/files/time-picker.js
  packages/carbon-component-mapper/src/tests/components.test.js
  packages/react-renderer-demo/src/pages/mappers/carbon-component-mapper.md
Labels: Carbon

#816 fix(carbon): allow to pass props to wrapper div
  packages/carbon-component-mapper/src/files/checkbox.js
  packages/carbon-component-mapper/src/files/date-picker.js
  packages/carbon-component-mapper/src/files/form-group.d.ts
  packages/carbon-component-mapper/src/files/slider.js
  packages/carbon-component-mapper/src/files/switch.js
  packages/carbon-component-mapper/src/files/time-picker.js
  packages/react-renderer-demo/src/pages/mappers/carbon-component-mapper.md
Labels: Carbon
