Repository data-driven-forms/react-forms, pull requests merged in 2020-06, with the labels that each got.

#532 fix(mui): change empty value in select from '' to null
  packages/mui-component-mapper/src/files/select.js
Labels: MUI, bug

#533 Update semantic release to support semantic-release/git
  package.json
  packages/common/package.json
  packages/mui-component-mapper/package.json
  packages/parsers/package.json
  packages/pf3-component-mapper/package.json
  packages/pf4-component-mapper/package.json
  packages/react-form-renderer/package.json
  packages/suir-component-mapper/package.json
  templates/component-mapper/package.json
  yarn.lock
Labels: bug

#536 Fix wrong buttons props for default form template in docs
  packages/react-renderer-demo/src/pages/renderer/form-template.md
Labels: bug, docs

#538 [TS] fix(renderer): export useFieldApiConfig for components.
  packages/react-form-renderer/src/files/use-field-api.d.ts
Labels: renderer

#537 [TS] Mui typings
  packages/mui-component-mapper/package.json
  packages/mui-component-mapper/rollup.config.js
  packages/mui-component-mapper/src/files/checkbox.d.ts
  packages/mui-component-mapper/src/files/component-mapper.d.ts
  packages/mui-component-mapper/src/files/date-picker.d.ts
  packages/mui-component-mapper/src/files/dual-list-select.d.ts
  packages/mui-component-mapper/src/files/dual-list-select.js
  packages/mui-component-mapper/src/files/field-array.d.ts
  packages/mui-component-mapper/src/files/form-template.d.ts
  packages/mui-component-mapper/src/files/plain-text.d.ts
  packages/mui-component-mapper/src/files/plain-text.js
  packages/mui-component-mapper/src/files/radio.d.ts
  packages/mui-component-mapper/src/files/radio.js
  packages/mui-component-mapper/src/files/select.d.ts
  packages/mui-component-mapper/src/files/slider.d.ts
  packages/mui-component-mapper/src/files/sub-form.d.ts
  packages/mui-component-mapper/src/files/switch.d.ts
  packages/mui-component-mapper/src/files/tabs.d.ts
  packages/mui-component-mapper/src/files/text-field.d.ts
  packages/mui-component-mapper/src/files/text-field.js
  packages/mui-component-mapper/src/files/textarea.d.ts
  packages/mui-component-mapper/src/files/textarea.js
  packages/mui-component-mapper/src/files/time-picker.d.ts
  packages/mui-component-mapper/src/files/wizard.d.ts
  packages/mui-component-mapper/src/index.js
  packages/react-form-renderer/src/files/form-renderer.d.ts
  packages/react-form-renderer/src/files/form-template-render-props.d.ts
Labels: MUI

#546 Lock PF4 dependencies in examples
  packages/react-renderer-demo/src/stackblitz-templates/pf4-templates.js
Labels: Technical debt, docs

#551 fix(common): wizard check validating on enter
  packages/common/src/wizard/enter-handler.js
  packages/pf4-component-mapper/src/tests/wizard/step-buttons.test.js
Labels: bug, common

#554 fix(pf4): fix wizard types for new version
  packages/pf4-component-mapper/src/files/dual-list-select.d.ts
  packages/pf4-component-mapper/src/files/wizard.d.ts
  packages/pf4-component-mapper/src/files/wizard.js
Labels: PF4, Technical debt

#557 Convert firebase object to array
  packages/react-renderer-demo/src/components/notification-panel.js
Labels: bug, docs

#559 fix(all): fixed missing component mapper type extension
  packages/blueprint-component-mapper/src/files/component-mapper.d.ts
  packages/mui-component-mapper/src/files/component-mapper.d.ts
  packages/pf4-component-mapper/src/files/component-mapper.d.ts
  packages/suir-component-mapper/src/files/component-mapper.d.ts
  yarn.lock
Labels: bug

#561 Add TSlib as dep to demo stackblitz template
  packages/react-renderer-demo/src/stackblitz-templates/pf4-templates.js
Labels: bug, docs

#563 Add TS option to generate templates
  .eslintignore
  .gitignore
  package.json
  scripts/generate-mapper.js
  templates/component-mapper/package.json
  templates/component-mapper/src/files/component-mapper.js
  templates/typings/src/files/checkbox.d.ts
  templates/typings/src/files/component-mapper.d.ts
  templates/typings/src/files/date-picker.d.ts
  templates/typings/src/files/dual-list-select.d.ts
  templates/typings/src/files/field-array.d.ts
  templates/typings/src/files/form-group.d.ts
  templates/typings/src/files/form-template.d.ts
  templates/typings/src/files/plain-text.d.ts
  templates/typings/src/files/radio.d.ts
  templates/typings/src/files/select.d.ts
  templates/typings/src/files/slider.d.ts
  templates/typings/src/files/sub-form.d.ts
  templates/typings/src/files/switch.d.ts
  templates/typings/src/files/tabs.d.ts
  templates/typings/src/files/text-field.d.ts
  templates/typings/src/files/textarea.d.ts
  templates/typings/src/files/time-picker.d.ts
  templates/typings/src/files/wizard.d.ts
  templates/typings/tsconfig.json
Labels: enhancement

#564 Add mobile friendly table of content
  packages/react-renderer-demo/src/components/code-editor/index.js
  packages/react-renderer-demo/src/helpers/list-of-contents-select.js
  packages/react-renderer-demo/src/helpers/list-of-contents.js
  packages/react-renderer-demo/src/next.config.js
  packages/react-renderer-demo/src/pages/mappers/blueprint-component-mapper.md
  packages/react-renderer-demo/src/pages/mappers/mui-component-mapper.md
  packages/react-renderer-demo/src/pages/mappers/pf3-component-mapper.md
  packages/react-renderer-demo/src/pages/mappers/pf4-component-mapper.md
  packages/react-renderer-demo/src/pages/mappers/suir-component-mapper.md
  packages/react-renderer-demo/src/pages/migration-guide.md
  packages/react-renderer-demo/src/pages/renderer/action-mapper.md
  packages/react-renderer-demo/src/pages/renderer/cleared-value.md
  packages/react-renderer-demo/src/pages/renderer/component-api.md
  packages/react-renderer-demo/src/pages/renderer/component-mapping.md
  packages/react-renderer-demo/src/pages/renderer/condition.md
  packages/react-renderer-demo/src/pages/renderer/data-types.md
  packages/react-renderer-demo/src/pages/renderer/development-setup.md
  packages/react-renderer-demo/src/pages/renderer/dynamic-fields.md
  packages/react-renderer-demo/src/pages/renderer/field-provider.md
  packages/react-renderer-demo/src/pages/renderer/file-input.md
  packages/react-renderer-demo/src/pages/renderer/form-template.md
  packages/react-renderer-demo/src/pages/renderer/get-started.md
  packages/react-renderer-demo/src/pages/renderer/global-component-props.md
  packages/react-renderer-demo/src/pages/renderer/initialize-mount.md
  packages/react-renderer-demo/src/pages/renderer/installation.md
  packages/react-renderer-demo/src/pages/renderer/renderer-api.md
  packages/react-renderer-demo/src/pages/renderer/schema-validator.md
  packages/react-renderer-demo/src/pages/renderer/unmounting.md
  packages/react-renderer-demo/src/pages/renderer/validators.md
  packages/react-renderer-demo/src/pages/testing.md
Labels: docs, enhancement

#566 Fix suir props
  packages/suir-component-mapper/src/files/checkbox.d.ts
  packages/suir-component-mapper/src/files/checkbox.js
  packages/suir-component-mapper/src/files/date-picker.js
  packages/suir-component-mapper/src/files/switch.js
  packages/suir-component-mapper/src/files/text-field.js
  packages/suir-component-mapper/src/files/time-picker.js
Labels: SUIR, bug

#567 Use common layout component for each doc page
  packages/react-renderer-demo/src/components/doc-page.js
  packages/react-renderer-demo/src/helpers/list-of-contents-select.js
  packages/react-renderer-demo/src/helpers/list-of-contents.js
  packages/react-renderer-demo/src/next.config.js
  packages/react-renderer-demo/src/pages/mappers/blueprint-component-mapper.md
  packages/react-renderer-demo/src/pages/mappers/mui-component-mapper.md
  packages/react-renderer-demo/src/pages/mappers/pf3-component-mapper.md
  packages/react-renderer-demo/src/pages/mappers/pf4-component-mapper.md
  packages/react-renderer-demo/src/pages/mappers/suir-component-mapper.md
  packages/react-renderer-demo/src/pages/migration-guide.md
  packages/react-renderer-demo/src/pages/renderer/action-mapper.md
  packages/react-renderer-demo/src/pages/renderer/cleared-value.md
  packages/react-renderer-demo/src/pages/renderer/component-api.md
  packages/react-renderer-demo/src/pages/renderer/component-mapping.md
  packages/react-renderer-demo/src/pages/renderer/condition.md
  packages/react-renderer-demo/src/pages/renderer/data-types.md
  packages/react-renderer-demo/src/pages/renderer/development-setup.md
  packages/react-renderer-demo/src/pages/renderer/dynamic-fields.md
  packages/react-renderer-demo/src/pages/renderer/field-provider.md
  packages/react-renderer-demo/src/pages/renderer/file-input.md
  packages/react-renderer-demo/src/pages/renderer/form-template.md
  packages/react-renderer-demo/src/pages/renderer/get-started.md
  packages/react-renderer-demo/src/pages/renderer/global-component-props.md
  packages/react-renderer-demo/src/pages/renderer/initialize-mount.md
  packages/react-renderer-demo/src/pages/renderer/installation.md
  packages/react-renderer-demo/src/pages/renderer/renderer-api.md
  packages/react-renderer-demo/src/pages/renderer/schema-validator.md
  packages/react-renderer-demo/src/pages/renderer/unmounting.md
  packages/react-renderer-demo/src/pages/renderer/validators.md
  packages/react-renderer-demo/src/pages/testing.md
Labels: Technical debt, docs

#568 fix(renderer): memoize do not pass all arguments
  packages/react-form-renderer/src/files/compose-validators.js
  packages/react-form-renderer/src/files/validators.d.ts
  packages/react-form-renderer/src/tests/form-renderer/validator.test.js
  packages/react-form-renderer/src/validators/helpers.d.ts
  packages/react-form-renderer/src/validators/helpers.js
  packages/react-renderer-demo/src/pages/renderer/validators.md
Labels: bug, renderer

#575 fix(renderer): tab children do not need component anymore
  packages/pf4-component-mapper/demo/demo-schemas/sandbox.js
  packages/react-form-renderer/src/files/default-schema-validator.js
  packages/react-renderer-demo/src/components/navigation/examples-definitions.js
  packages/react-renderer-demo/src/pages/component-example/tabs.js
  packages/react-renderer-demo/src/pages/renderer/component-mapping.md
Labels: Technical debt, bug, renderer

#586 Add introduction for field schema
  packages/react-renderer-demo/src/pages/schema/introduction.md
Labels: docs

#588 Move component examples to mappers section
  packages/react-renderer-demo/src/components/navigation/mapper.js
  packages/react-renderer-demo/src/components/navigation/schemas/mappers.schema.js
  packages/react-renderer-demo/src/components/navigation/schemas/schema.js
  packages/react-renderer-demo/src/pages/mappers/checkbox-multiple.js
  packages/react-renderer-demo/src/pages/mappers/checkbox.js
  packages/react-renderer-demo/src/pages/mappers/date-picker.js
  packages/react-renderer-demo/src/pages/mappers/dual-list-select.js
  packages/react-renderer-demo/src/pages/mappers/field-array.js
  packages/react-renderer-demo/src/pages/mappers/plain-text.js
  packages/react-renderer-demo/src/pages/mappers/radio.js
  packages/react-renderer-demo/src/pages/mappers/select.js
  packages/react-renderer-demo/src/pages/mappers/slider.js
  packages/react-renderer-demo/src/pages/mappers/sub-form.js
  packages/react-renderer-demo/src/pages/mappers/switch.js
  packages/react-renderer-demo/src/pages/mappers/tabs.js
  packages/react-renderer-demo/src/pages/mappers/text-field.js
  packages/react-renderer-demo/src/pages/mappers/textarea.js
  packages/react-renderer-demo/src/pages/mappers/time-picker.js
  packages/react-renderer-demo/src/pages/mappers/wizard.js
Labels: docs

#590 Add constant page to schema section
  packages/react-renderer-demo/src/components/navigation/schemas/schema.schema.js
  packages/react-renderer-demo/src/pages/schema/constants.md
Labels: docs

#589 Add importing section to menu
  packages/react-renderer-demo/src/components/navigation/schemas/schema.js
  packages/react-renderer-demo/src/pages/optimization.md
Labels: docs

#591 Add missing files to schema section
  packages/react-renderer-demo/src/components/navigation/schemas/schema.schema.js
  packages/react-renderer-demo/src/pages/schema/actions.md
  packages/react-renderer-demo/src/pages/schema/introduction.md
  packages/react-renderer-demo/src/pages/schema/validator-mapper.md
Labels: docs

#592 Update field pages
  packages/react-renderer-demo/src/pages/components/field-provider.md
  packages/react-renderer-demo/src/pages/hooks/use-field-api.md
  packages/react-renderer-demo/src/pages/input-meta.md
  packages/react-renderer-demo/src/pages/mappers/custom-mapper.md
Labels: docs

#594 Add env switcher to code examples
  packages/react-renderer-demo/src/components/code-editor/index.js
  packages/react-renderer-demo/src/components/code-editor/transform-imports.js
  packages/react-renderer-demo/src/components/landing-page/landing-page-cards.js
  packages/react-renderer-demo/src/components/mdx/mdx-components.js
  packages/react-renderer-demo/src/pages/components/field-provider.md
  packages/react-renderer-demo/src/pages/components/form-template.md
  packages/react-renderer-demo/src/pages/hooks/use-field-api.md
  packages/react-renderer-demo/src/pages/optimization.md
Labels: docs

#562 PF4 downshift select
  packages/pf4-component-mapper/demo/demo-schemas/select-schema.js
  packages/pf4-component-mapper/demo/index.js
  packages/pf4-component-mapper/package.json
  packages/pf4-component-mapper/rollup.config.js
  packages/pf4-component-mapper/src/common/select/clear-indicator.js
  packages/pf4-component-mapper/src/common/select/clear-indicator.scss
  packages/pf4-component-mapper/src/common/select/dropdown-indicator.js
  packages/pf4-component-mapper/src/common/select/empty-options.js
  packages/pf4-component-mapper/src/common/select/input.js
  packages/pf4-component-mapper/src/common/select/input.scss
  packages/pf4-component-mapper/src/common/select/menu.js
  packages/pf4-component-mapper/src/common/select/multi-value-container.js
  packages/pf4-component-mapper/src/common/select/multi-value-remove.js
  packages/pf4-component-mapper/src/common/select/option.js
  packages/pf4-component-mapper/src/common/select/select-styles.scss
  packages/pf4-component-mapper/src/common/select/select.js
  packages/pf4-component-mapper/src/common/select/value-container.js
  packages/pf4-component-mapper/src/tests/form-fields.test.js
  packages/pf4-component-mapper/src/tests/select/select.test.js
  yarn.lock
Labels: PF4, enhancement

#598 Add import to react form renderer component
  packages/react-renderer-demo/src/pages/components/renderer.md
Labels: docs

#596 Fix links and reroute old links to new ones
  packages/react-renderer-demo/src/components/common/example-link.js
  packages/react-renderer-demo/src/components/docsearch.js
  packages/react-renderer-demo/src/components/landing-page/landing-page-cards.js
  packages/react-renderer-demo/src/components/navigation/examples-definitions.js
  packages/react-renderer-demo/src/doc-components/examples-texts/blueprint/blueprint-date-picker.md
  packages/react-renderer-demo/src/doc-components/examples-texts/blueprint/blueprint-dual-list-select.md
  packages/react-renderer-demo/src/doc-components/examples-texts/blueprint/blueprint-field-array.md
  packages/react-renderer-demo/src/doc-components/examples-texts/mui/common.md
  packages/react-renderer-demo/src/doc-components/examples-texts/mui/mui-dual-list-select.md
  packages/react-renderer-demo/src/doc-components/examples-texts/mui/mui-field-array.md
  packages/react-renderer-demo/src/doc-components/examples-texts/mui/mui-slider.md
  packages/react-renderer-demo/src/doc-components/examples-texts/pf3/pf3-field-array.md
  packages/react-renderer-demo/src/doc-components/examples-texts/pf3/pf3-slider.md
  packages/react-renderer-demo/src/doc-components/examples-texts/pf4/pf4-dual-list.md
  packages/react-renderer-demo/src/doc-components/examples-texts/pf4/pf4-field-array.md
  packages/react-renderer-demo/src/doc-components/examples-texts/suir/suir-field-array.md
  packages/react-renderer-demo/src/pages/404.js
  packages/react-renderer-demo/src/pages/components/field-array.md
  packages/react-renderer-demo/src/pages/components/field-provider.md
  packages/react-renderer-demo/src/pages/components/form-template.md
  packages/react-renderer-demo/src/pages/components/renderer.md
  packages/react-renderer-demo/src/pages/hooks/use-field-api.md
  packages/react-renderer-demo/src/pages/index.js
  packages/react-renderer-demo/src/pages/introduction.md
  packages/react-renderer-demo/src/pages/mappers/action-mapper.md
  packages/react-renderer-demo/src/pages/mappers/component-api.md
  packages/react-renderer-demo/src/pages/mappers/global-component-props.md
  packages/react-renderer-demo/src/pages/mappers/schema-validator-mapper.md
  packages/react-renderer-demo/src/pages/mappers/suir-component-mapper.md
  packages/react-renderer-demo/src/pages/mappers/validator-mapper.md
  packages/react-renderer-demo/src/pages/schema/condition-actions.md
  packages/react-renderer-demo/src/pages/schema/condition-sequence.md
  packages/react-renderer-demo/src/pages/schema/initialize-on-mount.md
Labels: docs

#597 Add bar for component mappers
  packages/react-renderer-demo/src/components/component-mapper-bar.js
  packages/react-renderer-demo/src/next.config.js
  packages/react-renderer-demo/src/pages/mappers/blueprint-component-mapper.md
  packages/react-renderer-demo/src/pages/mappers/mui-component-mapper.md
  packages/react-renderer-demo/src/pages/mappers/pf3-component-mapper.md
  packages/react-renderer-demo/src/pages/mappers/pf4-component-mapper.md
  packages/react-renderer-demo/src/pages/mappers/suir-component-mapper.md
Labels: docs

#599 Update examples to allow module switcher
  packages/react-renderer-demo/src/pages/mappers/blueprint-component-mapper.md
  packages/react-renderer-demo/src/pages/schema/constants.md
  packages/react-renderer-demo/src/pages/testing.md
Labels: docs
