Repository data-driven-forms/react-forms, pull requests merged in 2020-01, with the labels that each got.

#274 Added missing href tags to docs link to improve search.
  packages/react-renderer-demo/src/app/pages/renderer/component-api.md
  packages/react-renderer-demo/src/app/pages/renderer/condition.md
  packages/react-renderer-demo/src/app/pages/renderer/field-array.md
  packages/react-renderer-demo/src/app/pages/renderer/field-provider.md
  packages/react-renderer-demo/src/app/pages/renderer/initialize-mount.md
  packages/react-renderer-demo/src/app/pages/renderer/renderer-api.md
Labels: Technical debt, demo

#272 Use select componsition to style pf3 select
  packages/common/package.json
  packages/common/src/prop-types-templates.js
  packages/common/src/select/index.js
  packages/common/src/utils/fn-to-string.js
  packages/pf3-component-mapper/demo/index.js
  packages/pf3-component-mapper/package.json
  packages/pf3-component-mapper/src/form-fields/form-fields.js
  packages/pf3-component-mapper/src/form-fields/select/clear-indicator.js
  packages/pf3-component-mapper/src/form-fields/select/dropdown-indicator.js
  packages/pf3-component-mapper/src/form-fields/select/index.js
  packages/pf3-component-mapper/src/form-fields/select/option.js
  packages/pf3-component-mapper/src/form-fields/select/react-select.scss
  packages/pf3-component-mapper/src/form-fields/select/select-styles.js
  packages/pf3-component-mapper/src/tests/form-fields/__snapshots__/select.test.js.snap
  packages/pf3-component-mapper/src/tests/form-fields/select/__snapshots__/select.test.js.snap
  packages/pf3-component-mapper/src/tests/form-fields/select/clear-indicator.test.js
  packages/pf3-component-mapper/src/tests/form-fields/select/option.test.js
  packages/pf3-component-mapper/src/tests/form-fields/select/select.test.js
  yarn.lock
Labels: PF3, Technical debt, common

#273 Cleared value prop
  packages/pf4-component-mapper/src/tests/field-array/__snapshots__/field-array.test.js.snap
  packages/react-form-renderer/demo/index.js
  packages/react-form-renderer/demo/sandbox.js
  packages/react-form-renderer/src/form-renderer/enhanced-on-change.js
  packages/react-form-renderer/src/form-renderer/field-provider.js
  packages/react-form-renderer/src/form-renderer/index.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/enhanced-on-change.test.js
  packages/react-renderer-demo/src/app/pages/renderer/cleared-value.md
  packages/react-renderer-demo/src/app/pages/renderer/renderer-api.md
  packages/react-renderer-demo/src/app/src/components/navigation/documentation-pages.js
  packages/react-renderer-demo/src/app/src/doc-components/cleared-value.js
Labels: enhancement, renderer

#8 Form submit by pressing enter
  packages/common/src/wizard/enter-handler.js
  packages/common/src/wizard/select-next.js
  packages/pf3-component-mapper/demo/index.js
  packages/pf3-component-mapper/src/form-fields/form-fields.js
  packages/pf3-component-mapper/src/form-fields/switch-field.js
  packages/pf3-component-mapper/src/form-fields/wizzard/wizzard.js
  packages/pf3-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
  packages/pf3-component-mapper/src/tests/__snapshots__/wizard.test.js.snap
  packages/pf3-component-mapper/src/tests/switch-field.test.js
  packages/pf4-component-mapper/src/form-fields/wizard/step-buttons.js
  packages/pf4-component-mapper/src/form-fields/wizard/wizard.js
  packages/pf4-component-mapper/src/tests/field-array/__snapshots__/field-array.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/step-buttons.test.js
  packages/react-form-renderer/src/form-renderer/form-controls.js
  packages/react-form-renderer/src/form-renderer/index.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-controls.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-information.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
Labels: PF3, PF4, Technical debt, bug, renderer

#278 Add missing tests
  .circleci/config.yml
  packages/mui-component-mapper/src/tests/demo-test.test.js
  packages/mui-component-mapper/src/tests/helpers.test.js
  packages/mui-component-mapper/src/tests/plain-text.test.js
  packages/mui-component-mapper/src/tests/subform.test.js
  packages/mui-component-mapper/src/tests/tabs.test.js
  packages/pf4-component-mapper/src/tests/form-fields.test.js
  packages/pf4-component-mapper/src/tests/plain-text.spec.js
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
  packages/react-form-renderer/src/form-renderer/field-provider.js
  packages/react-form-renderer/src/form-renderer/field-wrapper.js
  packages/react-form-renderer/src/tests/form-renderer/field-wrapper.test.js
  packages/react-form-renderer/src/tests/form-renderer/form-renderer.test.js
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
  packages/react-form-renderer/src/tests/form-renderer/schema-error-component.test.js
  packages/react-form-renderer/src/tests/validators/helper.test.js
  packages/react-form-renderer/src/tests/validators/messages.test.js
  packages/react-form-renderer/src/tests/validators/validators.test.js
Labels: Technical debt

#279 Convert component examples to mdx
  packages/react-renderer-demo/src/app/pages/component-example/checkbox-multiple.js
  packages/react-renderer-demo/src/app/pages/component-example/checkbox-multiple.md
  packages/react-renderer-demo/src/app/pages/component-example/checkbox.js
  packages/react-renderer-demo/src/app/pages/component-example/checkbox.md
  packages/react-renderer-demo/src/app/pages/component-example/date-picker.js
  packages/react-renderer-demo/src/app/pages/component-example/date-picker.md
  packages/react-renderer-demo/src/app/pages/component-example/plain-text.js
  packages/react-renderer-demo/src/app/pages/component-example/plain-text.md
  packages/react-renderer-demo/src/app/pages/component-example/radio.js
  packages/react-renderer-demo/src/app/pages/component-example/radio.md
  packages/react-renderer-demo/src/app/pages/component-example/select-field.js
  packages/react-renderer-demo/src/app/pages/component-example/select-field.md
  packages/react-renderer-demo/src/app/pages/component-example/sub-form.js
  packages/react-renderer-demo/src/app/pages/component-example/sub-form.md
  packages/react-renderer-demo/src/app/pages/component-example/switch-field.js
  packages/react-renderer-demo/src/app/pages/component-example/switch-field.md
  packages/react-renderer-demo/src/app/pages/component-example/tabs.js
  packages/react-renderer-demo/src/app/pages/component-example/tabs.md
  packages/react-renderer-demo/src/app/pages/component-example/text-field.js
  packages/react-renderer-demo/src/app/pages/component-example/text-field.md
  packages/react-renderer-demo/src/app/pages/component-example/textarea-field.js
  packages/react-renderer-demo/src/app/pages/component-example/textarea-field.md
  packages/react-renderer-demo/src/app/pages/component-example/time-picker.js
  packages/react-renderer-demo/src/app/pages/component-example/time-picker.md
  packages/react-renderer-demo/src/app/pages/component-example/wizard.js
  packages/react-renderer-demo/src/app/pages/component-example/wizard.md
  packages/react-renderer-demo/src/app/src/components/component-example.js
Labels: demo

#280 Common multiple choice list
  packages/common/src/multiple-choice-list.js
  packages/common/src/prop-types-templates.js
  packages/mui-component-mapper/src/form-fields/multiple-choice-list.js
  packages/mui-component-mapper/src/tests/multiple-choice-list.test.js
  packages/pf3-component-mapper/src/form-fields/multiple-choice-list.js
  packages/pf3-component-mapper/src/tests/__snapshots__/multiple-choice-list.test.js.snap
  packages/pf4-component-mapper/src/form-fields/multiple-choice-list.js
  packages/pf4-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
Labels: MUI, PF3, PF4, common

#277 Use tranform pluging to transform PF4 icons
  babel.config.js
  package.json
  packages/react-renderer-demo/package.json
  packages/react-renderer-demo/src/app/.babelrc
  packages/react-renderer-demo/src/app/babel.config.js
  packages/react-renderer-demo/src/app/package.json
  yarn.lock
Labels: Technical debt

#281 Clean obsolete props in formRenderer
  README.md
  packages/pf3-component-mapper/demo/index.js
  packages/pf3-component-mapper/src/tests/wizard.test.js
  packages/pf4-component-mapper/demo/index.js
  packages/pf4-component-mapper/src/tests/field-array/__snapshots__/field-array.test.js.snap
  packages/react-form-renderer/README.md
  packages/react-form-renderer/demo/index.js
  packages/react-form-renderer/src/form-renderer/index.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-information.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/form-renderer.test.js
  packages/react-renderer-demo/src/app/pages/renderer/renderer-api.md
  packages/react-renderer-demo/src/app/src/components/navigation/schema.js
Labels: Technical debt, renderer

#282 ComponentExample cleanup
  packages/react-renderer-demo/src/app/pages/_app.js
  packages/react-renderer-demo/src/app/pages/component-example/checkbox-multiple.md
  packages/react-renderer-demo/src/app/pages/component-example/checkbox.md
  packages/react-renderer-demo/src/app/pages/component-example/date-picker.md
  packages/react-renderer-demo/src/app/pages/component-example/plain-text.md
  packages/react-renderer-demo/src/app/pages/component-example/radio.md
  packages/react-renderer-demo/src/app/pages/component-example/select-field.md
  packages/react-renderer-demo/src/app/pages/component-example/sub-form.md
  packages/react-renderer-demo/src/app/pages/component-example/switch-field.md
  packages/react-renderer-demo/src/app/pages/component-example/tabs.md
  packages/react-renderer-demo/src/app/pages/component-example/text-field.md
  packages/react-renderer-demo/src/app/pages/component-example/textarea-field.md
  packages/react-renderer-demo/src/app/pages/component-example/time-picker.md
  packages/react-renderer-demo/src/app/pages/component-example/wizard.md
  packages/react-renderer-demo/src/app/src/common/examples-texts/select.js
  packages/react-renderer-demo/src/app/src/components/component-example-text.js
  packages/react-renderer-demo/src/app/src/components/component-example.js
Labels: demo, enhancement

#285 Remove getInitialProps until CSS issue is fixed
  packages/react-renderer-demo/src/app/pages/_app.js
Labels: bug

#286 Render all texts on component example
  packages/react-renderer-demo/src/app/pages/component-example/checkbox-multiple.md
  packages/react-renderer-demo/src/app/pages/component-example/checkbox.md
  packages/react-renderer-demo/src/app/pages/component-example/date-picker.md
  packages/react-renderer-demo/src/app/pages/component-example/plain-text.md
  packages/react-renderer-demo/src/app/pages/component-example/radio.md
  packages/react-renderer-demo/src/app/pages/component-example/select-field.md
  packages/react-renderer-demo/src/app/pages/component-example/sub-form.md
  packages/react-renderer-demo/src/app/pages/component-example/switch-field.md
  packages/react-renderer-demo/src/app/pages/component-example/tabs.md
  packages/react-renderer-demo/src/app/pages/component-example/text-field.md
  packages/react-renderer-demo/src/app/pages/component-example/textarea-field.md
  packages/react-renderer-demo/src/app/pages/component-example/time-picker.md
  packages/react-renderer-demo/src/app/pages/component-example/wizard.md
  packages/react-renderer-demo/src/app/src/components/component-example-text.js
  packages/react-renderer-demo/src/app/src/components/component-example.js
  packages/react-renderer-demo/src/app/src/components/mdx/mdx-components.js
  packages/react-renderer-demo/src/app/src/components/navigation/examples-texts/tabs.js
  packages/react-renderer-demo/src/app/src/doc-components/pf3-select.md
  packages/react-renderer-demo/src/app/src/doc-components/pf3-wizard.md
  packages/react-renderer-demo/src/app/src/doc-components/pf4-select.md
  packages/react-renderer-demo/src/app/src/doc-components/pf4-wizard.md
  packages/react-renderer-demo/src/app/src/doc-components/wizard.md
Labels: demo, enhancement

#287 Include query in algolia for component examples
  packages/react-renderer-demo/src/app/src/components/docsearch.js
Labels: demo, enhancement

#289 Set TRAVIS_REPO_SLUG in Circle_CI
  .circleci/config.yml
Labels: bug

#291 Updated wildcard-release-notes to latest
  package.json
  yarn.lock
Labels: dependencies

#290 Fix demo editor
  packages/react-renderer-demo/src/app/pages/live-editor.js
Labels: bug, demo

#293 fix(renderer): prevent double submitting by button
  __mocks__/mock-layout-mapper.js
  packages/pf4-component-mapper/src/tests/field-array/__snapshots__/field-array.test.js.snap
  packages/react-form-renderer/demo/index.js
  packages/react-form-renderer/src/form-renderer/form-controls.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-controls.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-information.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/data-types.test.js
Labels: bug, renderer

#294 feat(pf4): wizard predicts nextSteps in realtime
  packages/mui-component-mapper/src/form-fields/form-fields.js
  packages/mui-component-mapper/src/form-fields/sub-form.js
  packages/pf3-component-mapper/src/form-fields/form-fields.js
  packages/pf3-component-mapper/src/form-fields/sub-form.js
  packages/pf4-component-mapper/demo/demo-schemas/wizard-schema.js
  packages/pf4-component-mapper/demo/index.js
  packages/pf4-component-mapper/src/form-fields/fieldArray/index.js
  packages/pf4-component-mapper/src/form-fields/form-fields.js
  packages/pf4-component-mapper/src/form-fields/wizard/wizard-nav.js
  packages/pf4-component-mapper/src/form-fields/wizard/wizard.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/wizard-nav.test.js
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
  packages/react-form-renderer/src/form-renderer/field-wrapper.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/render-form.test.js.snap
  packages/react-renderer-demo/src/app/pages/renderer/field-provider.md
  packages/react-renderer-demo/src/app/src/doc-components/pf4-wizard.md
Labels: PF4, demo, renderer

#297 fix(pf4): allow to update options, loadOptions props
  packages/pf4-component-mapper/src/form-fields/select/select.js
  packages/pf4-component-mapper/src/tests/select/select.test.js
Labels: PF4, bug

#298 fix(pf4): Multi async select initial value change.
  packages/pf4-component-mapper/demo/index.js
  packages/pf4-component-mapper/src/form-fields/select/select.js
  packages/pf4-component-mapper/src/tests/select/select.test.js
Labels: PF4, bug
