Repository data-driven-forms/react-forms, pull requests merged in 2020-11, with the labels that each got.

#873 Add FormFieldGridProps to mua text field docs.
  packages/react-renderer-demo/src/doc-components/examples-texts/mui/text-field.md
Labels: docs

#874 feat(formTemplate): allow to pass props to each component
  packages/ant-component-mapper/src/files/form-template.d.ts
  packages/ant-component-mapper/src/files/form-template.js
  packages/blueprint-component-mapper/src/files/form-template.d.ts
  packages/carbon-component-mapper/src/files/form-template.d.ts
  packages/carbon-component-mapper/src/files/form-template.js
  packages/common/src/form-template.d.ts
  packages/common/src/form-template.js
  packages/mui-component-mapper/src/files/form-template.d.ts
  packages/mui-component-mapper/src/files/form-template.js
  packages/pf3-component-mapper/src/files/form-template.js
  packages/pf3-component-mapper/src/tests/__snapshots__/multiple-choice-list.test.js.snap
  packages/pf4-component-mapper/src/files/form-template.d.ts
  packages/pf4-component-mapper/src/files/form-template.js
  packages/pf4-component-mapper/src/tests/__snapshots__/form-template-common.test.js.snap
  packages/react-renderer-demo/src/pages/components/form-template.md
  packages/suir-component-mapper/src/files/form-template.d.ts
  packages/suir-component-mapper/src/files/form-template.js
  templates/component-mapper/src/files/form-template.js
  templates/typings/src/files/form-template.d.ts
Labels: common, enhancement

#876 fix(manager): set form.validating to true when a field is being validated
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager, bug

#877 Wizard dropdown nav
  packages/pf4-component-mapper/demo/index.html
  packages/pf4-component-mapper/package.json
  packages/pf4-component-mapper/src/files/wizard.js
  packages/pf4-component-mapper/src/files/wizard/reducer.js
  packages/pf4-component-mapper/src/files/wizard/wizard-toggle.js
  packages/pf4-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/wizard-toggle.test.js
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
  packages/react-renderer-demo/src/stackblitz-templates/pf4-templates.js
  yarn.lock
Labels: PF4, bug

#878 fix(manager): fix submitting
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager, bug

#880 fix(manager): reset errors when revalidated
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager, bug

#881 feat(manager): focus on error input
  packages/form-state-manager/demo/index.tsx
  packages/form-state-manager/src/tests/helpers/text-field.tsx
  packages/form-state-manager/src/tests/utils/focus-error.test.js
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/utils/focus-error.ts
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager, bug

#884 feat(carbon): make prepareProps available externally
  packages/carbon-component-mapper/src/files/checkbox.js
  packages/carbon-component-mapper/src/files/date-picker.js
  packages/carbon-component-mapper/src/files/dual-list-select.js
  packages/carbon-component-mapper/src/files/field-array.js
  packages/carbon-component-mapper/src/files/prepare-props.d.ts
  packages/carbon-component-mapper/src/files/prepare-props.js
  packages/carbon-component-mapper/src/files/radio.js
  packages/carbon-component-mapper/src/files/select.js
  packages/carbon-component-mapper/src/files/slider.js
  packages/carbon-component-mapper/src/files/switch.js
  packages/carbon-component-mapper/src/files/text-field.js
  packages/carbon-component-mapper/src/files/textarea.js
  packages/carbon-component-mapper/src/files/time-picker.js
  packages/carbon-component-mapper/src/index.js
Labels: Carbon, enhancement

#892 feat(manager): implement fileInput features
  packages/form-state-manager/src/files/use-field.ts
  packages/form-state-manager/src/tests/files/use-field.test.js
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager

#893 Add alert for PF3 mapper
  packages/react-renderer-demo/src/pages/mappers/pf3-component-mapper.md
Labels: Technical debt, docs

#895 fix(manager): fix error format inconsistency
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager, bug

#896 fix(carbon): adjusted combobox onchange invocation for singlevalues
  packages/carbon-component-mapper/src/files/select.js
Labels: Carbon, bug

#900 feat(renderer): enhance condition with custom function and comparators
  packages/react-form-renderer/src/files/default-schema-validator.js
  packages/react-form-renderer/src/files/parse-condition.js
  packages/react-form-renderer/src/tests/form-renderer/parse-condition.test.js
  packages/react-form-renderer/src/tests/parsers/__snapshots__/default-schema-validator.test.js.snap
  packages/react-form-renderer/src/tests/parsers/default-schema-validator.test.js
  packages/react-renderer-demo/src/components/navigation/schemas/schema.schema.js
  packages/react-renderer-demo/src/examples/components/conditions/comparators.js
  packages/react-renderer-demo/src/examples/components/conditions/is-function.js
  packages/react-renderer-demo/src/helpers/generic-mui-component.js
  packages/react-renderer-demo/src/pages/schema/comparators.md
  packages/react-renderer-demo/src/pages/schema/is.md
Labels: enhancement, renderer

#901 fix(mui): map component prop to element in plain text
  packages/mui-component-mapper/src/files/plain-text.d.ts
  packages/mui-component-mapper/src/files/plain-text.js
  packages/react-renderer-demo/src/doc-components/examples-texts/mui/plain-text.md
Labels: MUI, bug

#902 Add FieldArray conditions to FAQ
  packages/react-renderer-demo/src/pages/faq.md
Labels: docs

#903 Create Pull request template
  .github/pull_request_template.md
Labels: enhancement

#905 Add custom components docs section.
  packages/react-renderer-demo/src/components/navigation/schemas/custom-examples.schema.js
  packages/react-renderer-demo/src/components/navigation/schemas/schema.js
  packages/react-renderer-demo/src/examples/components/examples/sample-example.js
  packages/react-renderer-demo/src/pages/examples/sample-example.md
Labels: docs

#906 Custom examples guide.
  packages/react-renderer-demo/src/pages/development-setup.md
Labels: docs
