Repository data-driven-forms/react-forms, pull requests merged in 2020-10, with the labels that each got.

#819 fix(carbon): add seperate transformation for progressStep/structuredList
  packages/carbon-component-mapper/README.md
  packages/carbon-component-mapper/rollup.config.js
  packages/carbon-component-mapper/src/files/dual-list-select.js
  packages/carbon-component-mapper/src/files/wizard.js
  packages/common/babel.config.js
Labels: Carbon

#821 feat(renderer): dynamic when attribute
  packages/pf3-component-mapper/src/tests/__snapshots__/input-addon.test.js.snap
  packages/pf3-component-mapper/src/tests/__snapshots__/multiple-choice-list.test.js.snap
  packages/pf3-component-mapper/src/tests/__snapshots__/wizard.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/react-form-renderer/src/files/condition.d.ts
  packages/react-form-renderer/src/files/default-schema-validator.js
  packages/react-form-renderer/src/files/parse-condition.d.ts
  packages/react-form-renderer/src/files/parse-condition.js
  packages/react-form-renderer/src/form-renderer/condition.js
  packages/react-form-renderer/src/form-renderer/render-form.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/render-form.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/condition.test.js
  packages/react-form-renderer/src/tests/form-renderer/parse-condition.test.js
  packages/react-form-renderer/src/tests/parsers/__snapshots__/default-schema-validator.test.js.snap
  packages/react-renderer-demo/src/pages/schema/condition-schema.md
Labels: enhancement, renderer

#822 feat(manager): implement async onSubmit
  packages/form-state-manager/src/files/form-error.ts
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager

#823 Update docs, make them more interesting and searchable
  packages/react-renderer-demo/src/components/landing-page/landing-page-cards.js
  packages/react-renderer-demo/src/pages/hooks/use-form-api.md
  packages/react-renderer-demo/src/pages/installation.md
  packages/react-renderer-demo/src/pages/introduction.md
  packages/react-renderer-demo/src/pages/mappers/custom-mapper.md
  packages/react-renderer-demo/src/pages/migration-guide.md
  packages/react-renderer-demo/src/pages/schema/clear-on-unmount.md
  packages/react-renderer-demo/src/pages/schema/cleared-value.md
  packages/react-renderer-demo/src/pages/schema/data-types.md
  packages/react-renderer-demo/src/pages/schema/initialize-on-mount.md
Labels: docs, enhancement

#824 Fix useFieldApi doc page
  packages/react-renderer-demo/src/components/landing-page/landing-page-cards.js
  packages/react-renderer-demo/src/pages/hooks/use-field-api.md
Labels: docs, enhancement

#825 Add FAQ page to demo
  packages/react-renderer-demo/src/components/navigation/schemas/schema.js
  packages/react-renderer-demo/src/pages/faq.md
Labels: docs, enhancement

#826 Update codeExample heading and url to github
  packages/react-renderer-demo/src/components/code-example.js
Labels: docs

#827 fix(carbon): fix styles for wizard/subform/tabs
  packages/carbon-component-mapper/src/files/sub-form.d.ts
  packages/carbon-component-mapper/src/files/sub-form.js
  packages/carbon-component-mapper/src/files/sub-form.scss
  packages/carbon-component-mapper/src/files/tabs.d.ts
  packages/carbon-component-mapper/src/files/tabs.js
  packages/carbon-component-mapper/src/files/tabs.scss
  packages/carbon-component-mapper/src/files/wizard.d.ts
  packages/carbon-component-mapper/src/files/wizard.js
  packages/carbon-component-mapper/src/files/wizard.scss
  packages/react-renderer-demo/src/doc-components/examples-texts/carbon/carbon-sub-form.md
  packages/react-renderer-demo/src/doc-components/examples-texts/carbon/carbon-tabs.md
  packages/react-renderer-demo/src/doc-components/examples-texts/carbon/carbon-wizard.md
  packages/react-renderer-demo/src/doc-components/tabs.js
Labels: Carbon, bug

#830 Limit max width for content on documentation
  packages/react-renderer-demo/src/components/common/connected-links.js
  packages/react-renderer-demo/src/components/component-example-text.js
  packages/react-renderer-demo/src/components/doc-page.js
  packages/react-renderer-demo/src/helpers/generic-mui-component.js
  packages/react-renderer-demo/src/helpers/list-of-contents.js
  packages/react-renderer-demo/src/pages/mappers/date-picker.js
  packages/react-renderer-demo/src/pages/mappers/time-picker.js
Labels: docs, enhancement

#831 Refactor component example component
  packages/react-renderer-demo/src/components/component-example.js
  packages/react-renderer-demo/src/stackblitz-templates/ant-templates.js
  packages/react-renderer-demo/src/stackblitz-templates/blueprint-templates.js
  packages/react-renderer-demo/src/stackblitz-templates/carbon-templates.js
  packages/react-renderer-demo/src/stackblitz-templates/mui-templates.js
  packages/react-renderer-demo/src/stackblitz-templates/pf3-templates.js
  packages/react-renderer-demo/src/stackblitz-templates/pf4-templates.js
  packages/react-renderer-demo/src/stackblitz-templates/suir-template.js
Labels: Technical debt, docs

#832 PF4 Dual List Select mobile styling
  packages/pf4-component-mapper/src/files/dual-list-select.js
  packages/pf4-component-mapper/src/files/dual-list-select.scss
Labels: PF4

#833 fix(mui): allow to customize subform
  packages/mui-component-mapper/src/files/sub-form.d.ts
  packages/mui-component-mapper/src/files/sub-form.js
  packages/react-renderer-demo/src/doc-components/examples-texts/mui/mui-sub-form.md
  packages/react-renderer-demo/src/doc-components/sub-form.js
Labels: MUI, enhancement

#836 feat(renderer): add useWarnings functionality
  packages/react-form-renderer/src/files/compose-validators.js
  packages/react-form-renderer/src/files/field.d.ts
  packages/react-form-renderer/src/files/use-field-api.d.ts
  packages/react-form-renderer/src/files/use-field-api.js
  packages/react-form-renderer/src/files/validator-mapper.d.ts
  packages/react-form-renderer/src/files/validators.d.ts
  packages/react-form-renderer/src/form-renderer/validator-helpers.d.ts
  packages/react-form-renderer/src/form-renderer/validator-helpers.js
  packages/react-form-renderer/src/tests/form-renderer/validator.test.js
  packages/react-renderer-demo/src/components/navigation/schemas/schema.schema.js
  packages/react-renderer-demo/src/pages/schema/validator-warnings.md
Labels: enhancement, renderer

#837 Fix MUI imports in demo
  packages/react-renderer-demo/src/components/code-editor/index.js
  packages/react-renderer-demo/src/components/code-example.js
Labels: Technical debt, docs

#840 Update validation docs
  packages/react-renderer-demo/src/examples/components/validators/url-validator.js
  packages/react-renderer-demo/src/helpers/list-of-contents.js
  packages/react-renderer-demo/src/pages/schema/async-validator.md
  packages/react-renderer-demo/src/pages/schema/custom-validator.md
  packages/react-renderer-demo/src/pages/schema/length-validator.md
  packages/react-renderer-demo/src/pages/schema/number-value-validator.md
  packages/react-renderer-demo/src/pages/schema/pattern-validator.md
  packages/react-renderer-demo/src/pages/schema/record-level-validation.md
  packages/react-renderer-demo/src/pages/schema/required-validator.md
  packages/react-renderer-demo/src/pages/schema/url-validator.md
Labels: docs, enhancement

#841 Remove obsolete divs from code examples
  packages/react-renderer-demo/src/examples/components/action-mapper.js
  packages/react-renderer-demo/src/examples/components/condition.js
  packages/react-renderer-demo/src/examples/components/conditions/and.js
  packages/react-renderer-demo/src/examples/components/conditions/is-empty.js
  packages/react-renderer-demo/src/examples/components/conditions/is-not-empty.js
  packages/react-renderer-demo/src/examples/components/conditions/not-match.js
  packages/react-renderer-demo/src/examples/components/conditions/not.js
  packages/react-renderer-demo/src/examples/components/conditions/pattern.js
  packages/react-renderer-demo/src/examples/components/conditions/set.js
  packages/react-renderer-demo/src/examples/components/field-array/pf4-demo.js
  packages/react-renderer-demo/src/examples/components/form-template/custom-buttons.js
  packages/react-renderer-demo/src/examples/components/schema-validator.js
  packages/react-renderer-demo/src/examples/components/validators/async-validator.js
  packages/react-renderer-demo/src/examples/components/validators/custom-function.js
  packages/react-renderer-demo/src/examples/components/validators/global-message.js
  packages/react-renderer-demo/src/examples/components/validators/length-validators.js
  packages/react-renderer-demo/src/examples/components/validators/number-validator.js
  packages/react-renderer-demo/src/examples/components/validators/pattern-validator.js
  packages/react-renderer-demo/src/examples/components/validators/record-level-validation.js
  packages/react-renderer-demo/src/examples/components/validators/required-validator.js
  packages/react-renderer-demo/src/examples/components/validators/url-validator.js
Labels: Technical debt, docs

#842 Update object path dependency to fix vulnerability
  yarn.lock
Labels: Technical debt

#848 feat(pf4): show meta.warnings
  packages/pf4-component-mapper/demo/index.html
  packages/pf4-component-mapper/package.json
  packages/pf4-component-mapper/src/common/form-group.js
  packages/pf4-component-mapper/src/common/show-error.js
  packages/pf4-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
  packages/pf4-component-mapper/src/tests/__snapshots__/form-template-common.test.js.snap
  packages/pf4-component-mapper/src/tests/form-fields.test.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/step-buttons.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard-step.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
  yarn.lock
Labels: PF4

#846 feat(carbon): implemented optional isRequired for all fields
  packages/carbon-component-mapper/src/common/is-required.js
  packages/carbon-component-mapper/src/common/is-required.scss
  packages/carbon-component-mapper/src/common/prepare-props.js
  packages/carbon-component-mapper/src/files/checkbox.js
  packages/carbon-component-mapper/src/files/date-picker.js
  packages/carbon-component-mapper/src/files/dual-list-select.js
  packages/carbon-component-mapper/src/files/field-array.js
  packages/carbon-component-mapper/src/files/radio.js
  packages/carbon-component-mapper/src/files/select.js
  packages/carbon-component-mapper/src/files/switch.js
  packages/carbon-component-mapper/src/tests/components.test.js
  packages/react-renderer-demo/src/pages/mappers/carbon-component-mapper.md
Labels: Carbon, enhancement

#845 feat(manager): introduce warnings feature
  packages/form-state-manager/src/files/compose-validators.ts
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/types/compose-validators.d.ts
  packages/form-state-manager/src/types/use-field.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager, enhancement

#853 feat(blueprint): implement warning intent
  packages/blueprint-component-mapper/src/files/form-group.js
  packages/blueprint-component-mapper/src/tests/components.test.js
Labels: Carbon, enhancement

#849 feat(mui): implement warning validation
  packages/mui-component-mapper/src/files/checkbox.js
  packages/mui-component-mapper/src/files/date-picker.js
  packages/mui-component-mapper/src/files/dual-list-select.js
  packages/mui-component-mapper/src/files/radio.js
  packages/mui-component-mapper/src/files/select.js
  packages/mui-component-mapper/src/files/slider.js
  packages/mui-component-mapper/src/files/switch.js
  packages/mui-component-mapper/src/files/text-field.js
  packages/mui-component-mapper/src/files/textarea.js
  packages/mui-component-mapper/src/files/time-picker.js
  packages/mui-component-mapper/src/tests/form-fields.test.js
Labels: MUI, enhancement

#854 feat(ant): add warning
  packages/ant-component-mapper/src/common/form-wrapper.js
  packages/ant-component-mapper/src/tests/components.test.js
Labels: ANT, enhancement

#855 feat(carbon): add warning support
  packages/carbon-component-mapper/package.json
  packages/carbon-component-mapper/src/common/helper-text-block.js
  packages/carbon-component-mapper/src/files/checkbox.js
  packages/carbon-component-mapper/src/files/date-picker.js
  packages/carbon-component-mapper/src/files/radio.js
  packages/carbon-component-mapper/src/files/select.js
  packages/carbon-component-mapper/src/files/slider.js
  packages/carbon-component-mapper/src/files/switch.js
  packages/carbon-component-mapper/src/files/text-field.js
  packages/carbon-component-mapper/src/files/textarea.js
  packages/carbon-component-mapper/src/files/time-picker.js
  packages/carbon-component-mapper/src/tests/components.test.js
  yarn.lock
Labels: Carbon, enhancement

#856 feat(suir): implement warning as helperText
  packages/suir-component-mapper/src/common/helpers.js
  packages/suir-component-mapper/src/files/checkbox.js
  packages/suir-component-mapper/src/files/date-picker.js
  packages/suir-component-mapper/src/files/dual-list-select.js
  packages/suir-component-mapper/src/files/radio.js
  packages/suir-component-mapper/src/files/select.js
  packages/suir-component-mapper/src/files/switch.js
  packages/suir-component-mapper/src/files/text-field.js
  packages/suir-component-mapper/src/files/textarea.js
  packages/suir-component-mapper/src/files/time-picker.js
  packages/suir-component-mapper/src/tests/form-fields.test.js
Labels: SUIR, enhancement

#857 Implement warning messages for mappers
  packages/ant-component-mapper/src/common/form-wrapper.js
  packages/ant-component-mapper/src/tests/components.test.js
  packages/blueprint-component-mapper/src/files/form-group.js
  packages/blueprint-component-mapper/src/tests/components.test.js
  packages/carbon-component-mapper/package.json
  packages/carbon-component-mapper/src/common/helper-text-block.js
  packages/carbon-component-mapper/src/files/checkbox.js
  packages/carbon-component-mapper/src/files/date-picker.js
  packages/carbon-component-mapper/src/files/radio.js
  packages/carbon-component-mapper/src/files/select.js
  packages/carbon-component-mapper/src/files/slider.js
  packages/carbon-component-mapper/src/files/switch.js
  packages/carbon-component-mapper/src/files/text-field.js
  packages/carbon-component-mapper/src/files/textarea.js
  packages/carbon-component-mapper/src/files/time-picker.js
  packages/carbon-component-mapper/src/tests/components.test.js
  packages/mui-component-mapper/src/files/checkbox.js
  packages/mui-component-mapper/src/files/date-picker.js
  packages/mui-component-mapper/src/files/dual-list-select.js
  packages/mui-component-mapper/src/files/radio.js
  packages/mui-component-mapper/src/files/select.js
  packages/mui-component-mapper/src/files/slider.js
  packages/mui-component-mapper/src/files/switch.js
  packages/mui-component-mapper/src/files/text-field.js
  packages/mui-component-mapper/src/files/textarea.js
  packages/mui-component-mapper/src/files/time-picker.js
  packages/mui-component-mapper/src/tests/form-fields.test.js
  packages/suir-component-mapper/src/common/helpers.js
  packages/suir-component-mapper/src/files/checkbox.js
  packages/suir-component-mapper/src/files/date-picker.js
  packages/suir-component-mapper/src/files/dual-list-select.js
  packages/suir-component-mapper/src/files/radio.js
  packages/suir-component-mapper/src/files/select.js
  packages/suir-component-mapper/src/files/switch.js
  packages/suir-component-mapper/src/files/text-field.js
  packages/suir-component-mapper/src/files/textarea.js
  packages/suir-component-mapper/src/files/time-picker.js
  packages/suir-component-mapper/src/tests/form-fields.test.js
  yarn.lock
Labels: enhancement

#858 Remove wrong text from PF4 plain text page
  packages/react-renderer-demo/src/doc-components/examples-texts/pf4/plain-text.md
Labels: bug, docs

#859 Update readme
  README.md
  packages/ant-component-mapper/README.md
  packages/blueprint-component-mapper/README.md
  packages/carbon-component-mapper/README.md
  packages/mui-component-mapper/README.md
  packages/parsers/README.md
  packages/pf3-component-mapper/README.md
  packages/pf4-component-mapper/README.md
  packages/react-form-renderer/README.md
  packages/suir-component-mapper/README.md
  templates/component-mapper/README.md
Labels: Technical debt

#861 fix(manager): do not allow send submit when invalid
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/types/form-spy.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager

#862 fix(manager): set touched on blur
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager

#863 fix(manager): recalculate dirty/pristine based on fields
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager, bug

#829 fix(pf3): allow select null value
  packages/pf3-component-mapper/demo/index.js
  packages/pf3-component-mapper/package.json
  packages/pf3-component-mapper/src/files/select.js
  packages/pf3-component-mapper/src/files/select/dropdown-indicator.js
  packages/pf3-component-mapper/src/files/select/select.js
  packages/pf3-component-mapper/src/tests/form-fields/select/__snapshots__/select.test.js.snap
  packages/react-form-renderer/src/form-renderer/enhanced-on-change.js
  yarn.lock
Labels: bug

#870 fix(pf4): dual list search width stretch.
  packages/pf4-component-mapper/src/files/dual-list-select.js
  packages/pf4-component-mapper/src/files/dual-list-select.scss
Labels: PF4
