Repository data-driven-forms/react-forms, pull requests merged in 2020-04, with the labels that each got.

#407 [V1] fix(renderer): do not fail when using or
  packages/react-form-renderer/src/parsers/default-schema-validator.js
  packages/react-form-renderer/src/tests/parsers/__snapshots__/default-schema-validator.test.js.snap
  packages/react-form-renderer/src/tests/parsers/default-schema-validator.test.js
Labels: V1, bug, renderer

#420 fix(renderer): update final form deps
  packages/react-form-renderer/package.json
  yarn.lock
Labels: Technical debt, dependencies, renderer

#422 Add notification panel to demo
  packages/react-renderer-demo/src/app/pages/_document.js
  packages/react-renderer-demo/src/app/pages/index.js
  packages/react-renderer-demo/src/app/src/components/layout.js
  packages/react-renderer-demo/src/app/src/components/notification-panel.js
Labels: demo, enhancement

#423 Fix notificiation counter on first render
  packages/react-renderer-demo/src/app/src/components/layout.js
  packages/react-renderer-demo/src/app/src/components/notification-panel.js
Labels: bug, demo

#424 fix(pf4): wizard disable next button when validating
  packages/pf4-component-mapper/src/form-fields/wizard/step-buttons.js
  packages/pf4-component-mapper/src/form-fields/wizard/wizard-step.js
  packages/pf4-component-mapper/src/form-fields/wizard/wizard.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard-step.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/step-buttons.test.js
  packages/pf4-component-mapper/src/tests/wizard/wizard-step.test.js
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
Labels: PF4, V1, bug

#425 fix(renderer): export validator mapper.
  packages/react-form-renderer/src/files/form-renderer.js
  packages/react-form-renderer/src/files/validator-mapper.js
  packages/react-form-renderer/src/tests/validators/validators.test.js
Labels: renderer

#426 fix(pf4): wizard disable button on validating
  packages/pf4-component-mapper/src/files/wizard/step-buttons.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/step-buttons.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/step-buttons.test.js
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
Labels: PF4, bug

#429 Allow additional props in component mapper
  packages/mui-component-mapper/demo/index.js
  packages/mui-component-mapper/src/common/form-field-grid.js
  packages/mui-component-mapper/src/common/multiple-choice-list.js
  packages/mui-component-mapper/src/files/checkbox.js
  packages/mui-component-mapper/src/files/date-picker.js
  packages/mui-component-mapper/src/files/radio.js
  packages/mui-component-mapper/src/files/select.js
  packages/mui-component-mapper/src/files/switch.js
  packages/mui-component-mapper/src/files/tabs.js
  packages/mui-component-mapper/src/files/text-field.js
  packages/mui-component-mapper/src/files/textarea.js
  packages/mui-component-mapper/src/files/time-picker.js
  packages/mui-component-mapper/src/tests/form-fields.test.js
  packages/react-form-renderer/demo/form-fields-mapper.js
  packages/react-form-renderer/demo/index.js
  packages/react-form-renderer/src/form-renderer/render-form.js
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
  packages/react-renderer-demo/src/app/pages/component-example/checkbox-multiple.js
  packages/react-renderer-demo/src/app/pages/component-example/checkbox.js
  packages/react-renderer-demo/src/app/pages/component-example/date-picker.js
  packages/react-renderer-demo/src/app/pages/component-example/radio.js
  packages/react-renderer-demo/src/app/pages/component-example/switch.js
  packages/react-renderer-demo/src/app/pages/component-example/tabs.js
  packages/react-renderer-demo/src/app/pages/component-example/time-picker.js
  packages/react-renderer-demo/src/app/pages/renderer/global-component-props.md
  packages/react-renderer-demo/src/app/src/components/mui-definitions/checkbox-text.md
  packages/react-renderer-demo/src/app/src/components/mui-definitions/common.md
  packages/react-renderer-demo/src/app/src/components/mui-definitions/date-picker-text.md
  packages/react-renderer-demo/src/app/src/components/mui-definitions/radio-text.md
  packages/react-renderer-demo/src/app/src/components/mui-definitions/switch-text.md
  packages/react-renderer-demo/src/app/src/components/mui-definitions/tabs-text.md
  packages/react-renderer-demo/src/app/src/components/mui-definitions/time-picker-text.md
  packages/react-renderer-demo/src/app/src/components/navigation/documentation-pages.js
  packages/react-renderer-demo/src/app/src/doc-components/global-component-props/add-global-prop-to-component.js
  packages/react-renderer-demo/src/app/src/doc-components/global-component-props/props-priority.js
Labels: MUI, enhancement, renderer

#433 fix(rendrer): remove clearOnUnmount from fieldApi clean props.
  packages/react-form-renderer/src/files/use-field-api.js
Labels: bug, renderer

#432 feat(renderer): enhance conditions
  babel.config.js
  package.json
  packages/react-form-renderer/demo/index.js
  packages/react-form-renderer/src/files/default-schema-validator.js
  packages/react-form-renderer/src/form-renderer/condition.js
  packages/react-form-renderer/src/form-renderer/render-form.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/render-form.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/condition.test.js
  packages/react-form-renderer/src/tests/form-renderer/parse-condition.test.js
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
  packages/react-form-renderer/src/tests/parsers/__snapshots__/default-schema-validator.test.js.snap
  packages/react-form-renderer/src/tests/parsers/default-schema-validator.test.js
  packages/react-renderer-demo/src/app/pages/renderer/condition.md
  packages/react-renderer-demo/src/app/src/doc-components/conditions/sequence.js
  packages/react-renderer-demo/src/app/src/doc-components/conditions/set.js
  yarn.lock
Labels: enhancement, renderer

#436 fix(pf4): refactor wizard, validating disable nav
  packages/common/src/wizard/reducer.js
  packages/pf4-component-mapper/demo/demo-schemas/wizard-schema.js
  packages/pf4-component-mapper/src/files/wizard.js
  packages/pf4-component-mapper/src/files/wizard/step-buttons.js
  packages/pf4-component-mapper/src/files/wizard/wizard-nav.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/step-buttons.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/wizard-nav.test.js
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
Labels: PF4, enhancement

#439 Added API driven notifications panel.
  packages/react-renderer-demo/src/app/src/components/layout.js
  packages/react-renderer-demo/src/app/src/components/notification-panel.js
Labels: demo

#438 fix(mui): add default field array
  packages/mui-component-mapper/demo/demo-schemas/field-array-schema.js
  packages/mui-component-mapper/demo/index.js
  packages/mui-component-mapper/src/files/component-mapper.js
  packages/mui-component-mapper/src/files/field-array.js
  packages/mui-component-mapper/src/tests/field-array.test.js
  packages/react-renderer-demo/src/app/pages/component-example/field-array.js
  packages/react-renderer-demo/src/app/pages/renderer/dynamic-fields.md
  packages/react-renderer-demo/src/app/src/components/navigation/examples-definitions.js
  packages/react-renderer-demo/src/app/src/components/navigation/examples-texts/field-array.js
  packages/react-renderer-demo/src/app/src/components/navigation/field-array-schema.js
  packages/react-renderer-demo/src/app/src/doc-components/mui-field-array.md
  packages/react-renderer-demo/src/app/src/doc-components/pf3-field-array.md
  packages/react-renderer-demo/src/app/src/doc-components/pf4-field-array.md
Labels: MUI, enhancement

#443 Update docs examples
  packages/react-renderer-demo/src/app/examples/components/clear-on-unmount.js
  packages/react-renderer-demo/src/app/examples/components/cleared-value.js
  packages/react-renderer-demo/src/app/examples/components/component-mapper/form-fields-mapper-docs.css
  packages/react-renderer-demo/src/app/examples/components/component-mapper/form-fields-mapper.js
  packages/react-renderer-demo/src/app/examples/components/condition.js
  packages/react-renderer-demo/src/app/examples/components/conditions/and.js
  packages/react-renderer-demo/src/app/examples/components/conditions/is-empty.js
  packages/react-renderer-demo/src/app/examples/components/conditions/is-not-empty.js
  packages/react-renderer-demo/src/app/examples/components/conditions/is.js
  packages/react-renderer-demo/src/app/examples/components/conditions/not-match.js
  packages/react-renderer-demo/src/app/examples/components/conditions/not.js
  packages/react-renderer-demo/src/app/examples/components/conditions/or.js
  packages/react-renderer-demo/src/app/examples/components/conditions/pattern.js
  packages/react-renderer-demo/src/app/examples/components/conditions/sequence.js
  packages/react-renderer-demo/src/app/examples/components/conditions/set.js
  packages/react-renderer-demo/src/app/examples/components/custom-buttons.js
  packages/react-renderer-demo/src/app/examples/components/data-types-example.js
  packages/react-renderer-demo/src/app/examples/components/field-array/form-fields-mapper.js
  packages/react-renderer-demo/src/app/examples/components/field-array/pf4-demo.js
  packages/react-renderer-demo/src/app/examples/components/get-started/get-started.js
  packages/react-renderer-demo/src/app/examples/components/global-component-props/add-global-prop-to-component.js
  packages/react-renderer-demo/src/app/examples/components/global-component-props/props-priority.js
  packages/react-renderer-demo/src/app/examples/components/initialize-mount.js
  packages/react-renderer-demo/src/app/examples/components/schema-validator.js
  packages/react-renderer-demo/src/app/examples/components/validators/async-validator.js
  packages/react-renderer-demo/src/app/examples/components/validators/custom-function.js
  packages/react-renderer-demo/src/app/examples/components/validators/global-message.js
  packages/react-renderer-demo/src/app/examples/components/validators/length-validators.js
  packages/react-renderer-demo/src/app/examples/components/validators/number-validator.js
  packages/react-renderer-demo/src/app/examples/components/validators/pattern-validator.js
  packages/react-renderer-demo/src/app/examples/components/validators/record-level-validation.js
  packages/react-renderer-demo/src/app/examples/components/validators/required-validator.js
  packages/react-renderer-demo/src/app/examples/components/validators/url-validator.js
  packages/react-renderer-demo/src/app/next.config.js
  packages/react-renderer-demo/src/app/pages/renderer/cleared-value.md
  packages/react-renderer-demo/src/app/pages/renderer/component-mapping.md
  packages/react-renderer-demo/src/app/pages/renderer/condition.md
  packages/react-renderer-demo/src/app/pages/renderer/data-types.md
  packages/react-renderer-demo/src/app/pages/renderer/dynamic-fields.md
  packages/react-renderer-demo/src/app/pages/renderer/form-template.md
  packages/react-renderer-demo/src/app/pages/renderer/get-started.md
  packages/react-renderer-demo/src/app/pages/renderer/global-component-props.md
  packages/react-renderer-demo/src/app/pages/renderer/initialize-mount.md
  packages/react-renderer-demo/src/app/pages/renderer/schema-validator.md
  packages/react-renderer-demo/src/app/pages/renderer/unmounting.md
  packages/react-renderer-demo/src/app/pages/renderer/validators.md
  packages/react-renderer-demo/src/app/src/components/code-example.js
  packages/react-renderer-demo/src/app/src/components/common/raw-component.js
Labels: demo

#442 fix(renderer): move functionality from render to useField
  packages/common/src/wizard/wizard.js
  packages/mui-component-mapper/src/files/plain-text.js
  packages/mui-component-mapper/src/files/sub-form.js
  packages/pf3-component-mapper/src/files/button.js
  packages/pf3-component-mapper/src/files/sub-form.js
  packages/pf3-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
  packages/pf3-component-mapper/src/tests/__snapshots__/input-addon.test.js.snap
  packages/pf3-component-mapper/src/tests/__snapshots__/wizard.test.js.snap
  packages/pf3-component-mapper/src/tests/form-fields.test.js
  packages/pf4-component-mapper/demo/index.js
  packages/pf4-component-mapper/src/files/sub-form.js
  packages/pf4-component-mapper/src/files/tabs.js
  packages/pf4-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
  packages/pf4-component-mapper/src/tests/form-fields.test.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/react-form-renderer/src/files/field-provider.js
  packages/react-form-renderer/src/files/use-field-api.js
  packages/react-form-renderer/src/form-renderer/assign-special-type.js
  packages/react-form-renderer/src/form-renderer/condition.js
  packages/react-form-renderer/src/form-renderer/render-form.js
  packages/react-form-renderer/src/form-renderer/validator-helpers.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/render-form.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
  packages/react-form-renderer/src/tests/form-renderer/use-field-api.test.js
  packages/react-renderer-demo/src/app/examples/tests/__snapshots__/custom-component-outside-renderer.test.js.snap
  packages/react-renderer-demo/src/app/examples/tests/__snapshots__/custom-component-with-renderer.test.js.snap
  packages/react-renderer-demo/src/app/examples/tests/custom-component-outside-renderer.test.js
  packages/react-renderer-demo/src/app/pages/renderer/component-mapping.md
Labels: enhancement, renderer

#445 Fix notification panel filtering and sorting
  packages/react-renderer-demo/src/app/src/components/notification-panel.js
Labels: bug, demo

#448 fix(pf4): fixed radio not being checked.
  packages/pf4-component-mapper/src/files/radio.js
  packages/pf4-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
Labels: bug

#449 Use react-github-buttons instead of outside script
  packages/react-renderer-demo/package.json
  packages/react-renderer-demo/src/app/pages/_document.js
  packages/react-renderer-demo/src/app/pages/index.js
  yarn.lock
Labels: demo

#450 fix(pf4): allow to pass container to wizard
  packages/pf4-component-mapper/src/form-fields/wizard/wizard.js
Labels: PF4, V1

#451 Demo Build size optimizations
  packages/common/babel.config.js
  packages/common/package.json
  packages/mui-component-mapper/package.json
  packages/pf3-component-mapper/package.json
  packages/pf4-component-mapper/package.json
  packages/pf4-component-mapper/src/files/dual-list-select.js
  packages/react-form-renderer/package.json
  packages/react-renderer-demo/package.json
  packages/react-renderer-demo/src/app/examples/components/schema-validator.js
  packages/react-renderer-demo/src/app/next.config.js
  packages/react-renderer-demo/src/app/package.json
  yarn.lock
Labels: Technical debt

#452 fix(pf4): add styling for disabled options
  packages/pf4-component-mapper/demo/demo-schemas/wizard-schema.js
  packages/pf4-component-mapper/src/form-fields/select/option.js
  packages/pf4-component-mapper/src/form-fields/select/select-styles.scss
Labels: PF4, V1, bug

#454 Updates PF4 from V1
  packages/pf4-component-mapper/demo/demo-schemas/wizard-schema.js
  packages/pf4-component-mapper/src/common/select/option.js
  packages/pf4-component-mapper/src/common/select/select-styles.scss
  packages/pf4-component-mapper/src/files/wizard.js
  packages/pf4-component-mapper/src/files/wizard/reducer.js
  packages/react-renderer-demo/src/app/src/doc-components/pf4-wizard.md
Labels: PF4, enhancement

#455 fix(pf4): update patternfly core version
  packages/pf4-component-mapper/package.json
  packages/pf4-component-mapper/src/tests/__snapshots__/form-template-common.test.js.snap
  packages/pf4-component-mapper/src/tests/tabs.test.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/step-buttons.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/react-renderer-demo/package.json
  packages/react-renderer-demo/src/app/package.json
  yarn.lock
Labels: PF4, dependencies

#457 fix(all): fix proptypes accross all packages
  packages/common/src/form-template.js
  packages/common/src/prop-types-templates.js
  packages/mui-component-mapper/src/files/plain-text.js
  packages/mui-component-mapper/src/files/radio.js
  packages/mui-component-mapper/src/files/sub-form.js
  packages/mui-component-mapper/src/files/wizard/wizard-step.js
  packages/pf3-component-mapper/src/common/form-wrapper.js
  packages/pf3-component-mapper/src/files/button.js
  packages/pf3-component-mapper/src/files/checkbox.js
  packages/pf3-component-mapper/src/files/date-picker.js
  packages/pf3-component-mapper/src/files/plain-text.js
  packages/pf3-component-mapper/src/files/radio.js
  packages/pf3-component-mapper/src/files/select.js
  packages/pf3-component-mapper/src/files/select/select.js
  packages/pf3-component-mapper/src/files/sub-form.js
  packages/pf3-component-mapper/src/files/switch.js
  packages/pf3-component-mapper/src/files/text-field.js
  packages/pf3-component-mapper/src/files/textarea.js
  packages/pf3-component-mapper/src/files/wizard.js
  packages/pf3-component-mapper/src/form-fields/date-time-picker/date-time-picker.js
  packages/pf3-component-mapper/src/form-fields/date-time-picker/popover-root.js
  packages/pf3-component-mapper/src/form-fields/required-label.js
  packages/pf4-component-mapper/src/common/form-group.js
  packages/pf4-component-mapper/src/common/select/multi-value-container.js
  packages/pf4-component-mapper/src/common/select/select.js
  packages/pf4-component-mapper/src/common/select/value-container.js
  packages/pf4-component-mapper/src/files/checkbox.js
  packages/pf4-component-mapper/src/files/date-picker.js
  packages/pf4-component-mapper/src/files/dual-list-select.js
  packages/pf4-component-mapper/src/files/form-template.js
  packages/pf4-component-mapper/src/files/plain-text.js
  packages/pf4-component-mapper/src/files/radio.js
  packages/pf4-component-mapper/src/files/select.js
  packages/pf4-component-mapper/src/files/sub-form.js
  packages/pf4-component-mapper/src/files/text-field.js
  packages/pf4-component-mapper/src/files/textarea.js
  packages/pf4-component-mapper/src/files/time-picker.js
  packages/pf4-component-mapper/src/files/wizard.js
  packages/pf4-component-mapper/src/files/wizard/step-buttons.js
  packages/react-renderer-demo/src/app/pages/component-example/wizard.js
  packages/react-renderer-demo/src/app/src/components/component-example.js
Labels: Technical debt, bug

#459 Fix canReset use in getStarted
  packages/react-renderer-demo/src/app/examples/components/get-started/get-started.js
  packages/react-renderer-demo/src/app/pages/migration-guide.md
Labels: demo

#460 Fix styling issues on documentation
  packages/react-renderer-demo/src/app/src/components/common/connected-links.js
  packages/react-renderer-demo/src/app/src/components/footer.js
  packages/react-renderer-demo/src/app/src/components/layout.js
Labels: bug, demo

#462 Fix no notifications for demo
  packages/react-renderer-demo/src/app/src/components/notification-panel.js
Labels: bug, demo

#465 Add auto-labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: enhancement

#461 Redesign documentation landing page
  packages/react-renderer-demo/src/app/pages/index.js
  packages/react-renderer-demo/src/app/pages/renderer/get-started.md
  packages/react-renderer-demo/src/app/pages/renderer/installation.md
  packages/react-renderer-demo/src/app/src/components/common/material-logo.js
  packages/react-renderer-demo/src/app/src/components/common/pf3-logo.js
  packages/react-renderer-demo/src/app/src/components/common/pf4-logo.js
  packages/react-renderer-demo/src/app/src/components/landing-page/formExample.js
  packages/react-renderer-demo/src/app/src/components/landing-page/landing-page-cards.js
  packages/react-renderer-demo/src/app/src/components/navigation/documentation-pages.js
Labels: docs, enhancement
