Repository data-driven-forms/react-forms, pull requests merged in 2020-08, with the labels that each got.

#665 Add headers to components' descriptions
  packages/react-renderer-demo/src/components/mdx/mdx-components.js
  packages/react-renderer-demo/src/doc-components/examples-texts/ant/ant-field-array.md
  packages/react-renderer-demo/src/doc-components/examples-texts/ant/ant-wizard.md
  packages/react-renderer-demo/src/doc-components/examples-texts/blueprint/blueprint-date-picker.md
  packages/react-renderer-demo/src/doc-components/examples-texts/blueprint/blueprint-dual-list-select.md
  packages/react-renderer-demo/src/doc-components/examples-texts/blueprint/blueprint-field-array.md
  packages/react-renderer-demo/src/doc-components/examples-texts/blueprint/blueprint-wizard.md
  packages/react-renderer-demo/src/doc-components/examples-texts/mui/mui-dual-list-select.md
  packages/react-renderer-demo/src/doc-components/examples-texts/mui/mui-field-array.md
  packages/react-renderer-demo/src/doc-components/examples-texts/mui/mui-slider.md
  packages/react-renderer-demo/src/doc-components/examples-texts/pf3/pf3-field-array.md
  packages/react-renderer-demo/src/doc-components/examples-texts/pf3/pf3-select.md
  packages/react-renderer-demo/src/doc-components/examples-texts/pf3/pf3-slider.md
  packages/react-renderer-demo/src/doc-components/examples-texts/pf3/pf3-wizard.md
  packages/react-renderer-demo/src/doc-components/examples-texts/pf4/pf4-dual-list.md
  packages/react-renderer-demo/src/doc-components/examples-texts/pf4/pf4-field-array.md
  packages/react-renderer-demo/src/doc-components/examples-texts/pf4/pf4-select.md
  packages/react-renderer-demo/src/doc-components/examples-texts/pf4/pf4-tabs.md
  packages/react-renderer-demo/src/doc-components/examples-texts/pf4/pf4-wizard.md
  packages/react-renderer-demo/src/doc-components/examples-texts/suir/suir-checkbox-multiple.md
  packages/react-renderer-demo/src/doc-components/examples-texts/suir/suir-checkbox.md
  packages/react-renderer-demo/src/doc-components/examples-texts/suir/suir-date-picker.md
  packages/react-renderer-demo/src/doc-components/examples-texts/suir/suir-dual-list-select.md
  packages/react-renderer-demo/src/doc-components/examples-texts/suir/suir-field-array.md
  packages/react-renderer-demo/src/doc-components/examples-texts/suir/suir-radio.md
  packages/react-renderer-demo/src/doc-components/examples-texts/suir/suir-select.md
  packages/react-renderer-demo/src/doc-components/examples-texts/suir/suir-slider.md
  packages/react-renderer-demo/src/doc-components/examples-texts/suir/suir-sub-form.md
  packages/react-renderer-demo/src/doc-components/examples-texts/suir/suir-switch.md
  packages/react-renderer-demo/src/doc-components/examples-texts/suir/suir-tabs.md
  packages/react-renderer-demo/src/doc-components/examples-texts/suir/suir-text-field.md
  packages/react-renderer-demo/src/doc-components/examples-texts/suir/suir-textarea.md
  packages/react-renderer-demo/src/doc-components/examples-texts/suir/suir-time-picker.md
  packages/react-renderer-demo/src/doc-components/examples-texts/wizard.md
Labels: Technical debt, docs

#658 feat(manager): convert files to TS
  packages/form-state-manager/config/webpack.config.js
  packages/form-state-manager/demo/index.tsx
  packages/form-state-manager/package.json
  packages/form-state-manager/rollup.config.js
  packages/form-state-manager/src/files/form-manager-context.js
  packages/form-state-manager/src/files/form-manager-context.ts
  packages/form-state-manager/src/files/form-state-manager.js
  packages/form-state-manager/src/files/form-state-manager.tsx
  packages/form-state-manager/src/files/use-field.ts
  packages/form-state-manager/src/index.js
  packages/form-state-manager/src/index.ts
  packages/form-state-manager/src/tests/utils/get-form-values.test.js
  packages/form-state-manager/src/types/any-object.d.ts
  packages/form-state-manager/src/utils/get-form-values.ts
  packages/form-state-manager/src/utils/state-manager-reducer.ts
  packages/form-state-manager/src/utils/use-subscription.ts
  packages/form-state-manager/tsconfig.json
  packages/form-state-manager/tslint.json
  yarn.lock
Labels: State manager

#667 [state-manager] Add tests for utils functions
  package.json
  packages/form-state-manager/src/tests/utils/state-manager-reducer.test.js
  packages/form-state-manager/src/tests/utils/use-subscription.test.js
Labels: State manager

#666 Clear tests
  packages/common/src/multiple-choice-list.js
  packages/mui-component-mapper/src/files/slider.js
  packages/pf3-component-mapper/package.json
  packages/pf3-component-mapper/src/common/form-wrapper.js
  packages/pf3-component-mapper/src/files/button.js
  packages/pf3-component-mapper/src/files/select.js
  packages/pf3-component-mapper/src/files/tabs.js
  packages/pf3-component-mapper/src/files/wizard/step-buttons.js
  packages/pf3-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
  packages/pf3-component-mapper/src/tests/__snapshots__/multiple-choice-list.test.js.snap
  packages/pf3-component-mapper/src/tests/__snapshots__/tabs.test.js.snap
  packages/pf3-component-mapper/src/tests/__snapshots__/wizard.test.js.snap
  packages/pf3-component-mapper/src/tests/form-fields.test.js
  packages/pf3-component-mapper/src/tests/form-fields/date-time-picker/__snapshots__/mont-selector.test.js.snap
  packages/pf3-component-mapper/src/tests/form-fields/date-time-picker/__snapshots__/navbar.test.js.snap
  packages/pf3-component-mapper/src/tests/form-fields/date-time-picker/__snapshots__/picker-input.test.js.snap
  packages/pf3-component-mapper/src/tests/form-fields/date-time-picker/__snapshots__/time-picker.test.js.snap
  packages/pf3-component-mapper/src/tests/form-fields/date-time-picker/date-time-picker.test.js
  packages/pf3-component-mapper/src/tests/form-fields/date-time-picker/mont-selector.test.js
  packages/pf3-component-mapper/src/tests/form-fields/date-time-picker/navbar.test.js
  packages/pf3-component-mapper/src/tests/form-fields/date-time-picker/picker-input.test.js
  packages/pf3-component-mapper/src/tests/form-fields/date-time-picker/time-picker.test.js
  packages/pf3-component-mapper/src/tests/form-fields/select/select.test.js
  packages/pf3-component-mapper/src/tests/form-template.test.js
  packages/pf3-component-mapper/src/tests/multiple-choice-list.test.js
  packages/pf3-component-mapper/src/tests/tabs.test.js
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
  packages/react-form-renderer/src/form-renderer/condition.js
  packages/suir-component-mapper/src/tests/form-fields.test.js
  yarn.lock
Labels: Technical debt, dependencies

#670 [STATE-MANAGER] Extract types to /types folder
  packages/form-state-manager/demo/index.tsx
  packages/form-state-manager/package.json
  packages/form-state-manager/src/files/form-manager-context.ts
  packages/form-state-manager/src/files/form-state-manager.tsx
  packages/form-state-manager/src/files/use-field.ts
  packages/form-state-manager/src/types/form-manager-context.d.ts
  packages/form-state-manager/src/types/form-state-manager.d.ts
  packages/form-state-manager/src/types/state-manager-reducer.d.ts
  packages/form-state-manager/src/types/use-field.d.ts
  packages/form-state-manager/src/types/use-subscription.d.ts
  packages/form-state-manager/src/utils/state-manager-reducer.ts
  packages/form-state-manager/src/utils/use-subscription.ts
  scripts/copy-files.js
Labels: State manager

#671 feat(manager): create global manager api
  packages/form-state-manager/src/files/form-manager-context.ts
  packages/form-state-manager/src/files/form-state-manager.tsx
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/tests/utils/use-subscription.test.js
  packages/form-state-manager/src/types/form-manager-context.d.ts
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
  packages/form-state-manager/src/utils/use-subscription.ts
Labels: State manager

#673 chore(manager): enable linter for ts files
  packages/form-state-manager/.eslintrc
  packages/form-state-manager/package.json
  packages/form-state-manager/src/types/form-state-manager.d.ts
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/types/state-manager-reducer.d.ts
  packages/form-state-manager/src/types/use-field.d.ts
  packages/form-state-manager/src/types/use-subscription.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
  packages/form-state-manager/src/utils/state-manager-reducer.ts
  packages/form-state-manager/tslint.json
  yarn.lock
Labels: State manager, Technical debt

#674 feat(state): move context to manager api
  packages/form-state-manager/.eslintignore
  packages/form-state-manager/.eslintrc
  packages/form-state-manager/src/files/form-manager-context.ts
  packages/form-state-manager/src/files/form-state-manager.tsx
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/tests/utils/state-manager-reducer.test.js
  packages/form-state-manager/src/tests/utils/use-subscription.test.js
  packages/form-state-manager/src/types/field-state.ts
  packages/form-state-manager/src/types/form-manager-context.d.ts
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/types/state-manager-reducer.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
  packages/form-state-manager/src/utils/state-manager-reducer.ts
  packages/form-state-manager/src/utils/use-subscription.ts
Labels: State manager

#677 fix(manager): handle submit gives nested object as argument
  packages/form-state-manager/.eslintrc
  packages/form-state-manager/demo/index.tsx
  packages/form-state-manager/src/tests/utils/get-form-values.test.js
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/utils/get-form-values.ts
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager, bug

#678 feat(state): Add basic form metadata
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager

#679 [manager] Store field state in global state
  packages/form-state-manager/src/files/form-manager-context.ts
  packages/form-state-manager/src/files/form-state-manager.tsx
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/tests/utils/use-subscription.test.js
  packages/form-state-manager/src/types/field-state.ts
  packages/form-state-manager/src/types/form-manager-context.d.ts
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/types/use-subscription.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
  packages/form-state-manager/src/utils/use-subscription.ts
Labels: State manager

#683 feat(manager): add blur and focus event handlers
  packages/form-state-manager/src/files/form-manager-context.ts
  packages/form-state-manager/src/files/form-state-manager.tsx
  packages/form-state-manager/src/files/use-field.ts
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/tests/utils/use-subscription.test.js
  packages/form-state-manager/src/types/form-manager-context.d.ts
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/types/use-subscription.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
  packages/form-state-manager/src/utils/use-subscription.ts
Labels: State manager

#682 feat(state): add meta for fields
  packages/form-state-manager/src/files/use-field.ts
  packages/form-state-manager/src/tests/utils/use-subscription.test.js
  packages/form-state-manager/src/types/field-config.d.ts
  packages/form-state-manager/src/types/field-state.ts
  packages/form-state-manager/src/types/form-manager-context.d.ts
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/types/use-subscription.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
  packages/form-state-manager/src/utils/use-subscription.ts
Labels: State manager

#686 [manager] render cycle tests
  packages/form-state-manager/.eslintrc
  packages/form-state-manager/demo/index.tsx
  packages/form-state-manager/src/tests/helpers/text-field.tsx
  packages/form-state-manager/src/tests/performance/field-render-cycle.test.js
Labels: State manager, Technical debt

#685 feat(state): clearOnUnmount
  packages/form-state-manager/src/files/form-manager-context.ts
  packages/form-state-manager/src/files/form-state-manager.tsx
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/types/field-config.d.ts
  packages/form-state-manager/src/types/form-state-manager.d.ts
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/types/use-subscription.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
  packages/form-state-manager/src/utils/use-subscription.ts
Labels: State manager

#689 feat(state): introduce initializeOnMount
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/tests/utils/use-subscription.test.js
  packages/form-state-manager/src/types/field-config.d.ts
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/types/use-subscription.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
  packages/form-state-manager/src/utils/use-subscription.ts
Labels: State manager

#691 feat(manager): add field level validation API
  packages/form-state-manager/src/files/use-field.ts
  packages/form-state-manager/src/tests/helpers/text-field.tsx
  packages/form-state-manager/src/tests/utils/validate.test.js
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/types/use-field.d.ts
  packages/form-state-manager/src/types/use-subscription.d.ts
  packages/form-state-manager/src/types/validate.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
  packages/form-state-manager/src/utils/use-subscription.ts
  packages/form-state-manager/src/utils/validate.ts
Labels: State manager

#692 feat(state): add form level validate
  packages/form-state-manager/src/tests/utils/validate.test.js
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/types/validate.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
  packages/form-state-manager/src/utils/validate.ts
Labels: State manager

#695 Unskip PF4 wizard test
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
Labels: PF4, Technical debt

#694 feat(state): add subscription API
  packages/form-state-manager/src/files/form-state-manager.tsx
  packages/form-state-manager/src/files/use-field.ts
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/tests/utils/use-subscription.test.js
  packages/form-state-manager/src/types/field-config.d.ts
  packages/form-state-manager/src/types/form-state-manager.d.ts
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/types/use-field.d.ts
  packages/form-state-manager/src/types/use-subscription.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
  packages/form-state-manager/src/utils/use-subscription.ts
Labels: State manager

#698 feat(state): implement clearedValue
  packages/form-state-manager/src/files/form-state-manager.tsx
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/tests/utils/use-subscription.test.js
  packages/form-state-manager/src/types/form-manager-context.d.ts
  packages/form-state-manager/src/types/form-state-manager.d.ts
  packages/form-state-manager/src/types/use-subscription.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
  packages/form-state-manager/src/utils/use-subscription.ts
Labels: State manager

#701 feat(state): add DataType to useSubscription
  config/globalSetup.js
  package.json
  packages/form-state-manager/src/tests/utils/use-subscription.test.js
  packages/form-state-manager/src/types/data-types.d.ts
  packages/form-state-manager/src/types/use-subscription.d.ts
  packages/form-state-manager/src/utils/convert-type.ts
  packages/form-state-manager/src/utils/use-subscription.ts
Labels: State manager

#697 fix(pf4): Add customization api to plain text
  packages/pf4-component-mapper/src/files/plain-text.d.ts
  packages/pf4-component-mapper/src/files/plain-text.js
  packages/react-renderer-demo/src/doc-components/examples-texts/pf4/pf4-plain-text.md
Labels: bug

#702 feat(state): add initialValues
  packages/form-state-manager/src/files/form-manager-context.ts
  packages/form-state-manager/src/files/form-state-manager.tsx
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/tests/utils/use-subscription.test.js
  packages/form-state-manager/src/types/form-manager-context.d.ts
  packages/form-state-manager/src/types/form-state-manager.d.ts
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
  packages/form-state-manager/src/utils/use-subscription.ts
Labels: State manager

#703 feat(manager): mutate error object on field-level validation.
  packages/form-state-manager/src/files/form-state-manager.tsx
  packages/form-state-manager/src/tests/utils/use-subscription.test.js
  packages/form-state-manager/src/types/form-state-manager.d.ts
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/types/validate.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
  packages/form-state-manager/src/utils/use-subscription.ts
  packages/form-state-manager/src/utils/validate.ts
Labels: State manager

#704 fix(state): add initialValues to values
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
  packages/form-state-manager/src/utils/use-subscription.ts
Labels: State manager, bug

#707 Fix typo in documentation navigation
  packages/react-renderer-demo/src/components/navigation/schemas/schema.schema.js
Labels: bug, docs

#706 fix(state): match FF's getState output
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/types/any-object.d.ts
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager

#710 feat(state): add batch function
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager, enhancement

#712 feat(manager): create field states in manager
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/tests/utils/use-subscription.test.js
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
  packages/form-state-manager/src/utils/use-subscription.ts
Labels: State manager, enhancement

#713 feat(manager): add debug prop
  packages/form-state-manager/src/files/form-state-manager.tsx
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/types/form-state-manager.d.ts
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager

#711 feat(state): add subscribe/unsubscribe
  packages/form-state-manager/src/files/form-manager-context.ts
  packages/form-state-manager/src/files/form-spy.ts
  packages/form-state-manager/src/files/form-state-manager.tsx
  packages/form-state-manager/src/tests/form-spy.test.js
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/types/field-config.d.ts
  packages/form-state-manager/src/types/form-manager-context.d.ts
  packages/form-state-manager/src/types/form-spy.d.ts
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/utils/generate-id.ts
  packages/form-state-manager/src/utils/manager-api.ts
  packages/form-state-manager/src/utils/use-subscription.ts
Labels: State manager, enhancement

#715 feat(manager): add async validating field flag
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/tests/utils/use-subscription.test.js
  packages/form-state-manager/src/types/field-config.d.ts
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
  packages/form-state-manager/src/utils/use-subscription.ts
Labels: State manager

#716 feat(manager): match FF's field getState
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager

#717 feat(manager): add reset/restart functions
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager

#718 fix(manager): allow nested batching
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager

#719 Form level validation state mutation
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
  packages/form-state-manager/src/utils/use-subscription.ts
Labels: State manager

#720 feat(manager): initialize + keepDirtyOnReinitialize
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager

#722 feat(manager): introduce destroyOnUnregister
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager

#724 fix(manager): add submit
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager

#725 feat(manager): Add basic field array support
  packages/form-state-manager/src/files/use-field-array.ts
  packages/form-state-manager/src/files/use-field.ts
  packages/form-state-manager/src/tests/files/use-field-array.test.js
  packages/form-state-manager/src/types/use-field-array.d.ts
  packages/form-state-manager/src/types/use-field.d.ts
Labels: State manager

#731 fix(manager): unflat values in state
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/tests/utils/use-subscription.test.js
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager

#732 Update readme
  README.md
  packages/ant-component-mapper/README.md
  packages/blueprint-component-mapper/README.md
  packages/mui-component-mapper/README.md
  packages/parsers/README.md
  packages/pf3-component-mapper/README.md
  packages/pf4-component-mapper/README.md
  packages/react-form-renderer/README.md
  packages/react-renderer-demo/src/pages/development-setup.md
  packages/suir-component-mapper/README.md
  templates/component-mapper/README.md
Labels: Technical debt

#727 feat(manager): introduce resume/pause validation
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager

#733 fix(manager): remove duplicate field array change call
  packages/form-state-manager/src/files/use-field-array.ts
  packages/form-state-manager/src/tests/files/use-field-array.test.js
Labels: State manager

#735 feat(manager): introduce setConfig
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager

#734 feat(manager): add field array remove/shift/pop methods
  packages/form-state-manager/src/files/use-field-array.ts
  packages/form-state-manager/src/tests/files/use-field-array.test.js
  packages/form-state-manager/src/types/use-field-array.d.ts
Labels: State manager

#730 fix(common): use isMounted.current in select
  packages/common/src/select/index.js
  packages/pf3-component-mapper/src/files/select/select.js
Labels: bug, common

#736 feat(manager): introduce isEqual and validateFields
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/types/field-config.d.ts
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager

#740 feat(manager): add field array update method
  packages/form-state-manager/src/files/use-field-array.ts
  packages/form-state-manager/src/tests/files/use-field-array.test.js
  packages/form-state-manager/src/types/use-field-array.d.ts
Labels: State manager

#738 fix(manager): merge useField and useSubscription
  packages/form-state-manager/src/files/use-field.ts
  packages/form-state-manager/src/tests/files/use-field.test.js
  packages/form-state-manager/src/tests/helpers/text-field.tsx
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/types/use-field.d.ts
  packages/form-state-manager/src/types/use-subscription.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
  packages/form-state-manager/src/utils/use-subscription.ts
Labels: State manager

#741 feat(manager): add move and swap field array methods
  packages/form-state-manager/src/files/use-field-array.ts
  packages/form-state-manager/src/tests/files/use-field-array.test.js
  packages/form-state-manager/src/types/use-field-array.d.ts
  packages/form-state-manager/src/utils/array-move.ts
Labels: State manager

#742 feat(manager): Revalidate all fields
  packages/form-state-manager/.eslintrc
  packages/form-state-manager/src/files/use-field.ts
  packages/form-state-manager/src/tests/.eslintrc
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager

#743 feat(manager): add field array unshift method
  packages/form-state-manager/src/files/use-field-array.ts
  packages/form-state-manager/src/tests/files/use-field-array.test.js
  packages/form-state-manager/src/types/use-field-array.d.ts
Labels: State manager

#744 fix(manager): rename value to initialValue in field config
  packages/form-state-manager/src/files/use-field.ts
  packages/form-state-manager/src/tests/files/use-field.test.js
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/types/field-config.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager, Technical debt

#747 feat(manager): add field array insert method
  packages/form-state-manager/src/files/use-field-array.ts
  packages/form-state-manager/src/tests/files/use-field-array.test.js
  packages/form-state-manager/src/types/use-field-array.d.ts
Labels: State manager

#745 feat(manager): add support for field.type
  packages/form-state-manager/src/files/use-field.ts
  packages/form-state-manager/src/tests/files/use-field.test.js
  packages/form-state-manager/src/types/use-field.d.ts
Labels: State manager

#748 feat(manager): add concat and removeBatch field array methods
  packages/form-state-manager/src/files/use-field-array.ts
  packages/form-state-manager/src/tests/files/use-field-array.test.js
  packages/form-state-manager/src/types/use-field-array.d.ts
Labels: State manager

#749 fix(manager): add length to field array meta
  packages/form-state-manager/src/files/use-field-array.ts
  packages/form-state-manager/src/types/use-field-array.d.ts
Labels: State manager

#750 feat(manager): introduce defaultValue
  packages/form-state-manager/src/files/use-field.ts
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/types/field-config.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager

#752 feat(manager): introduce format & parse
  packages/form-state-manager/src/files/use-field.ts
  packages/form-state-manager/src/tests/files/use-field.test.js
  packages/form-state-manager/src/types/use-field.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager

#751 fix(manager): create common field array api hook
  packages/form-state-manager/src/files/form-manager-context.ts
  packages/form-state-manager/src/files/form-state-manager.tsx
  packages/form-state-manager/src/files/use-field-array-api.ts
  packages/form-state-manager/src/files/use-field-array.ts
  packages/form-state-manager/src/types/form-manager-context.d.ts
  packages/form-state-manager/src/types/use-field-array-api.d.ts
  packages/form-state-manager/src/types/use-field-array.d.ts
Labels: State manager

#754 fix(manager): handle empty string/undefined in useField
  packages/form-state-manager/src/files/use-field.ts
  packages/form-state-manager/src/tests/files/use-field.test.js
Labels: State manager, bug

#755 feat(manager): add FieldArray component
  packages/form-state-manager/src/files/field-array.tsx
  packages/form-state-manager/src/files/use-field-array.ts
  packages/form-state-manager/src/types/field-array.d.ts
  packages/form-state-manager/src/types/use-field-array.d.ts
Labels: State manager

#756 fix(manager): do initial validation
  packages/form-state-manager/src/tests/files/use-field.test.js
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/tests/utils/validate.test.js
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager

#757 feat(manager): add data in registerField
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/types/field-config.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager

#759 feat(manager): add after/before submit callbacks
  packages/form-state-manager/src/files/use-field.ts
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/types/field-config.d.ts
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/types/use-field.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager

#760 fix(renderer): serialize validate config to prevent infinite loop
  packages/react-form-renderer/demo/index.js
  packages/react-form-renderer/src/files/use-field-api.js
  packages/react-form-renderer/src/tests/form-renderer/use-field-api.test.js
Labels: bug, renderer

#766 fix(pf3): fix incorrect invalid prop type in select component
  packages/pf3-component-mapper/src/files/select.js
Labels: bug

#767 Changed validator mapper type to export object
  packages/react-form-renderer/src/files/form-renderer.d.ts
  packages/react-form-renderer/src/files/renderer-context.d.ts
  packages/react-form-renderer/src/files/validator-mapper.d.ts
  packages/react-form-renderer/src/form-renderer/validator-helpers.d.ts
Labels: bug, renderer

#768 Fix links for components examples
  packages/react-renderer-demo/src/components/common/example-link.js
  packages/react-renderer-demo/src/components/navigation/examples-definitions.js
  packages/react-renderer-demo/src/components/navigation/find-connected-links.js
  packages/react-renderer-demo/src/components/navigation/mapper.js
  packages/react-renderer-demo/src/doc-components/dual-list-select.js
  packages/react-renderer-demo/src/hooks/use-mapper-link.js
  packages/react-renderer-demo/src/pages/mappers/component-api.md
  packages/react-renderer-demo/src/pages/typescript.md
Labels: bug, docs, enhancement

#770 fix(renderer): move resolve props to top
  packages/react-form-renderer/demo/form-template.js
  packages/react-form-renderer/demo/index.js
  packages/react-form-renderer/src/files/use-field-api.js
Labels: enhancement

#772 feat(manager): implement allowNull
  packages/form-state-manager/src/files/use-field.ts
  packages/form-state-manager/src/tests/files/use-field.test.js
  packages/form-state-manager/src/types/use-field.d.ts
Labels: State manager

#758 fix(manager): allow multiple field listener validators
  packages/form-state-manager/src/files/compose-validators.ts
  packages/form-state-manager/src/tests/files/compose-validators.test.js
  packages/form-state-manager/src/tests/files/use-field.test.js
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/types/compose-validators.d.ts
  packages/form-state-manager/src/types/manager-api.d.ts
  packages/form-state-manager/src/utils/manager-api.ts
Labels: State manager

#773 feat(manager): implement multiple for on change
  packages/form-state-manager/src/files/use-field.ts
  packages/form-state-manager/src/tests/files/use-field.test.js
Labels: State manager, enhancement
