Repository data-driven-forms/react-forms, pull requests merged in 2020-03, with the labels that each got.

#344 breaking(renderer): removed FieldProvider from field props.
  packages/mui-component-mapper/src/components/radio.js
  packages/mui-component-mapper/src/components/sub-form.js
  packages/pf3-component-mapper/src/components/sub-form.js
  packages/pf3-component-mapper/src/components/wizard.js
  packages/pf3-component-mapper/src/components/wizard/step-buttons.js
  packages/pf3-component-mapper/src/tests/__snapshots__/wizard.test.js.snap
  packages/pf4-component-mapper/src/components/sub-form.js
  packages/pf4-component-mapper/src/components/tabs.js
  packages/pf4-component-mapper/src/components/wizard.js
  packages/pf4-component-mapper/src/components/wizard/step-buttons.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/react-form-renderer/src/form-renderer/field-wrapper.js
  packages/react-form-renderer/src/index.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
  packages/react-renderer-demo/src/app/src/components/missing-demo-fields/mui-wizard/mui-wizard.js
  packages/react-renderer-demo/src/app/src/components/missing-demo-fields/mui-wizard/step-buttons.js
  packages/react-renderer-demo/src/app/src/doc-components/component-mapper/form-fields-mapper.js
  packages/react-renderer-demo/src/app/src/doc-components/field-array/form-fields-mapper.js
Labels: V2, common

#345 Props clean up
  packages/pf3-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
  packages/pf4-component-mapper/demo/demo-schemas/sandbox.js
  packages/pf4-component-mapper/src/components/checkbox.js
  packages/pf4-component-mapper/src/components/date-picker.js
  packages/pf4-component-mapper/src/components/field-array.js
  packages/pf4-component-mapper/src/components/select.js
  packages/pf4-component-mapper/src/components/switch.js
  packages/pf4-component-mapper/src/components/text-area.js
  packages/pf4-component-mapper/src/components/text-field.js
  packages/pf4-component-mapper/src/components/time-picker.js
  packages/pf4-component-mapper/src/components/wizard.js
  packages/pf4-component-mapper/src/components/wizard/step-buttons.js
  packages/pf4-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/react-form-renderer/src/form-renderer/field-wrapper.js
  packages/react-form-renderer/src/hooks/use-field-api.js
Labels: Technical debt, V2, common

#346 [V2] Update React dependency
  packages/common/package.json
  packages/mui-component-mapper/package.json
  packages/mui-component-mapper/src/components/select/integration-select.js
  packages/pf3-component-mapper/demo/demo-schemas/sandbox.js
  packages/pf3-component-mapper/package.json
  packages/pf3-component-mapper/src/components/button.js
  packages/pf3-component-mapper/src/components/checkbox.js
  packages/pf4-component-mapper/package.json
  packages/react-form-renderer/package.json
  packages/react-form-renderer/src/form-renderer/render-form.js
  packages/react-renderer-demo/package.json
  packages/react-renderer-demo/src/app/package.json
  yarn.lock
Labels: dependencies

#342 [V2] Action mapper proposal
  packages/react-form-renderer/demo/form-fields-mapper.js
  packages/react-form-renderer/demo/index.js
  packages/react-form-renderer/demo/sandbox.js
  packages/react-form-renderer/src/components/form-renderer.js
  packages/react-form-renderer/src/hooks/use-field-api.js
  packages/react-form-renderer/src/parsers/default-schema-validator.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/render-form.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
  packages/react-form-renderer/src/tests/parsers/__snapshots__/default-schema-validator.test.js.snap
  packages/react-form-renderer/src/tests/parsers/default-schema-validator.test.js
Labels: V2, enhancement, renderer

#347 [V2] fix(renderer): clearOnUnmount only on unmounting
  packages/react-form-renderer/src/hooks/use-field-api.js
Labels: V2, bug, renderer

#349 [V2] breaking(renderer): rename form fields mapper to component mapper.
  README.md
  packages/mui-component-mapper/README.md
  packages/mui-component-mapper/demo/index.js
  packages/mui-component-mapper/src/components/component-mapper.js
  packages/mui-component-mapper/src/tests/form-fields.test.js
  packages/mui-component-mapper/src/tests/tabs.test.js
  packages/parsers/README.md
  packages/pf3-component-mapper/README.md
  packages/pf3-component-mapper/demo/index.js
  packages/pf3-component-mapper/src/index.js
  packages/pf3-component-mapper/src/tests/__snapshots__/input-addon.test.js.snap
  packages/pf3-component-mapper/src/tests/input-addon.test.js
  packages/pf3-component-mapper/src/tests/wizard.test.js
  packages/pf4-component-mapper/README.md
  packages/pf4-component-mapper/demo/index.js
  packages/pf4-component-mapper/src/tests/field-array/field-array.test.js
  packages/pf4-component-mapper/src/tests/form-fields.test.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
  packages/react-form-renderer/README.md
  packages/react-form-renderer/demo/index.js
  packages/react-form-renderer/src/components/form-renderer.js
  packages/react-form-renderer/src/form-renderer/render-form.js
  packages/react-form-renderer/src/parsers/default-schema-validator.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/render-form.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/data-types.test.js
  packages/react-form-renderer/src/tests/form-renderer/form-renderer.test.js
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
  packages/react-form-renderer/src/tests/parsers/__snapshots__/default-schema-validator.test.js.snap
  packages/react-form-renderer/src/tests/parsers/default-schema-validator.test.js
  packages/react-renderer-demo/src/app/pages/live-editor.js
  packages/react-renderer-demo/src/app/pages/renderer/component-api.md
  packages/react-renderer-demo/src/app/pages/renderer/component-mapping.md
  packages/react-renderer-demo/src/app/pages/renderer/field-provider.md
  packages/react-renderer-demo/src/app/pages/renderer/renderer-api.md
  packages/react-renderer-demo/src/app/pages/renderer/unmounting.md
  packages/react-renderer-demo/src/app/pages/show-case.js
  packages/react-renderer-demo/src/app/src/components/component-example.js
  packages/react-renderer-demo/src/app/src/components/landing-page/landing-page-cards.js
  packages/react-renderer-demo/src/app/src/components/layout.js
  packages/react-renderer-demo/src/app/src/doc-components/clear-on-unmount.js
  packages/react-renderer-demo/src/app/src/doc-components/cleared-value.js
  packages/react-renderer-demo/src/app/src/doc-components/component-mapper/form-fields-mapper.js
  packages/react-renderer-demo/src/app/src/doc-components/custom-buttons.js
  packages/react-renderer-demo/src/app/src/doc-components/data-types-example.js
  packages/react-renderer-demo/src/app/src/doc-components/field-array/form-fields-mapper.js
  packages/react-renderer-demo/src/app/src/doc-components/field-array/pf4-demo.js
  packages/react-renderer-demo/src/app/src/doc-components/get-started/get-started.js
  packages/react-renderer-demo/src/app/src/doc-components/initialize-mount.js
  packages/react-renderer-demo/src/app/src/doc-components/validators/async-validator.js
  packages/react-renderer-demo/src/app/src/doc-components/validators/custom-function.js
  packages/react-renderer-demo/src/app/src/doc-components/validators/global-message.js
  packages/react-renderer-demo/src/app/src/doc-components/validators/length-validators.js
  packages/react-renderer-demo/src/app/src/doc-components/validators/number-validator.js
  packages/react-renderer-demo/src/app/src/doc-components/validators/pattern-validator.js
  packages/react-renderer-demo/src/app/src/doc-components/validators/record-level-validation.js
  packages/react-renderer-demo/src/app/src/doc-components/validators/required-validator.js
  packages/react-renderer-demo/src/app/src/doc-components/validators/url-validator.js
Labels: V2, renderer

#348 [V2] Fix multiple checkboxes
  packages/common/src/demoschema.js
  packages/common/src/multiple-choice-list.js
  packages/mui-component-mapper/demo/index.js
  packages/mui-component-mapper/src/common/multiple-choice-list.js
  packages/mui-component-mapper/src/components/checkbox.js
  packages/mui-component-mapper/src/tests/form-fields.test.js
  packages/mui-component-mapper/src/tests/multiple-choice-list.test.js
  packages/pf3-component-mapper/demo/index.js
  packages/pf3-component-mapper/src/components/checkbox.js
  packages/pf3-component-mapper/src/form-fields/multiple-choice-list.js
  packages/pf3-component-mapper/src/tests/form-fields.test.js
  packages/pf4-component-mapper/demo/demo-schemas/superschema.js
  packages/pf4-component-mapper/demo/index.js
  packages/pf4-component-mapper/src/common/multiple-choice-list.js
  packages/pf4-component-mapper/src/components/checkbox.js
  packages/pf4-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
  packages/pf4-component-mapper/src/tests/form-fields.test.js
  packages/react-form-renderer/src/form-renderer/enhanced-on-change.js
  packages/react-form-renderer/src/tests/form-renderer/enhanced-on-change.test.js
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
Labels: V2, bug

#350 [V2] breaking(renderer): remove component types with -field affix.
  packages/common/src/demoschema.js
  packages/mui-component-mapper/src/components/component-mapper.js
  packages/parsers/src/parsers/miq/constants.js
  packages/parsers/src/parsers/mozilla.js
  packages/parsers/src/parsers/mozilla/mozilla-helpers.js
  packages/parsers/src/tests/miq/miq-schemas/output.js
  packages/parsers/src/tests/mozilla/expected-parser-results.js
  packages/parsers/src/tests/mozilla/mozilla-schema-parser.test.js
  packages/pf3-component-mapper/demo/demo-schemas/sandbox.js
  packages/pf3-component-mapper/demo/demo-schemas/wizard-schema.js
  packages/pf3-component-mapper/demo/index.js
  packages/pf3-component-mapper/src/components/component-mapper.js
  packages/pf3-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
  packages/pf3-component-mapper/src/tests/__snapshots__/input-addon.test.js.snap
  packages/pf3-component-mapper/src/tests/component-mapper.test.js
  packages/pf3-component-mapper/src/tests/form-fields.test.js
  packages/pf3-component-mapper/src/tests/wizard.test.js
  packages/pf4-component-mapper/demo/demo-schemas/sandbox.js
  packages/pf4-component-mapper/demo/demo-schemas/wizard-schema.js
  packages/pf4-component-mapper/src/components/component-mapper.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/react-form-renderer/demo/form-fields-mapper.js
  packages/react-form-renderer/src/components/component-types.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/form-renderer.test.js
  packages/react-form-renderer/src/tests/parsers/default-schema-validator.test.js
  packages/react-form-renderer/src/tests/parsers/output.js
  packages/react-renderer-demo/src/app/pages/component-example/select.md
  packages/react-renderer-demo/src/app/pages/component-example/switch.md
  packages/react-renderer-demo/src/app/pages/component-example/textarea.md
  packages/react-renderer-demo/src/app/pages/live-editor.js
  packages/react-renderer-demo/src/app/pages/renderer/component-api.md
  packages/react-renderer-demo/src/app/pages/renderer/component-mapping.md
  packages/react-renderer-demo/src/app/src/components/navigation/examples-definitions.js
  packages/react-renderer-demo/src/app/src/components/navigation/examples-texts/generic-mui-component.js
  packages/react-renderer-demo/src/app/src/schemas/wizard-schema.js
Labels: V2, renderer

#351 fix(renderer): boolean is never empty
  packages/react-form-renderer/src/form-renderer/enhanced-on-change.js
  packages/react-form-renderer/src/tests/form-renderer/enhanced-on-change.test.js
Labels: bug, renderer

#352 Rewrite mappers FormTemplates to be components.
  __mocks__/mock-form-template.js
  packages/common/src/form-template.js
  packages/mui-component-mapper/demo/index.js
  packages/mui-component-mapper/src/components/form-template.js
  packages/mui-component-mapper/src/index.js
  packages/mui-component-mapper/src/tests/form-fields.test.js
  packages/mui-component-mapper/src/tests/tabs.test.js
  packages/pf3-component-mapper/demo/index.js
  packages/pf3-component-mapper/src/components/form-template.js
  packages/pf3-component-mapper/src/index.js
  packages/pf3-component-mapper/src/tests/__snapshots__/input-addon.test.js.snap
  packages/pf3-component-mapper/src/tests/wizard.test.js
  packages/pf4-component-mapper/demo/index.js
  packages/pf4-component-mapper/src/components/form-template.js
  packages/pf4-component-mapper/src/index.js
  packages/pf4-component-mapper/src/tests/__snapshots__/form-template-common.test.js.snap
  packages/pf4-component-mapper/src/tests/field-array/__snapshots__/field-array.test.js.snap
  packages/pf4-component-mapper/src/tests/field-array/field-array.test.js
  packages/pf4-component-mapper/src/tests/form-fields.test.js
  packages/pf4-component-mapper/src/tests/form-template-common.test.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
  packages/react-form-renderer/demo/form-template.js
  packages/react-form-renderer/demo/index.js
  packages/react-form-renderer/demo/sandbox.js
  packages/react-form-renderer/src/components/form-renderer.js
  packages/react-form-renderer/src/hooks/use-component-spy.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/data-types.test.js
  packages/react-form-renderer/src/tests/form-renderer/form-renderer.test.js
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
  packages/react-renderer-demo/src/app/pages/renderer/unmounting.md
  packages/react-renderer-demo/src/app/pages/show-case.js
  packages/react-renderer-demo/src/app/src/components/component-example.js
  packages/react-renderer-demo/src/app/src/components/landing-page/landing-page-cards.js
  packages/react-renderer-demo/src/app/src/doc-components/clear-on-unmount.js
  packages/react-renderer-demo/src/app/src/doc-components/cleared-value.js
  packages/react-renderer-demo/src/app/src/doc-components/component-mapper/form-fields-mapper.js
  packages/react-renderer-demo/src/app/src/doc-components/custom-buttons.js
  packages/react-renderer-demo/src/app/src/doc-components/data-types-example.js
  packages/react-renderer-demo/src/app/src/doc-components/field-array/form-fields-mapper.js
  packages/react-renderer-demo/src/app/src/doc-components/field-array/pf4-demo.js
  packages/react-renderer-demo/src/app/src/doc-components/get-started/get-started.js
  packages/react-renderer-demo/src/app/src/doc-components/initialize-mount.js
  packages/react-renderer-demo/src/app/src/doc-components/validators/async-validator.js
  packages/react-renderer-demo/src/app/src/doc-components/validators/custom-function.js
  packages/react-renderer-demo/src/app/src/doc-components/validators/global-message.js
  packages/react-renderer-demo/src/app/src/doc-components/validators/length-validators.js
  packages/react-renderer-demo/src/app/src/doc-components/validators/number-validator.js
  packages/react-renderer-demo/src/app/src/doc-components/validators/pattern-validator.js
  packages/react-renderer-demo/src/app/src/doc-components/validators/record-level-validation.js
  packages/react-renderer-demo/src/app/src/doc-components/validators/required-validator.js
  packages/react-renderer-demo/src/app/src/doc-components/validators/url-validator.js
Labels: V2, renderer

#353 [V2]Sync demo with v2
  packages/react-renderer-demo/src/app/pages/live-editor.js
  packages/react-renderer-demo/src/app/pages/renderer/form-controls.md
  packages/react-renderer-demo/src/app/src/components/component-example.js
  packages/react-renderer-demo/src/app/src/components/navigation/mapper.js
  packages/react-renderer-demo/src/app/src/components/navigation/menu-renderer.js
  packages/react-renderer-demo/src/app/src/doc-components/cleared-value.js
  packages/react-renderer-demo/src/app/src/doc-components/component-mapper/form-fields-mapper.js
  packages/react-renderer-demo/src/app/src/doc-components/custom-buttons.js
  packages/react-renderer-demo/src/app/src/doc-components/field-array/pf4-demo.js
  packages/react-renderer-demo/src/app/src/doc-components/get-started/get-started.js
  packages/react-renderer-demo/src/app/src/doc-components/initialize-mount.js
  packages/react-renderer-demo/src/app/src/doc-components/validators/async-validator.js
  packages/react-renderer-demo/src/app/src/doc-components/validators/custom-function.js
  packages/react-renderer-demo/src/app/src/doc-components/validators/global-message.js
  packages/react-renderer-demo/src/app/src/doc-components/validators/length-validators.js
  packages/react-renderer-demo/src/app/src/doc-components/validators/number-validator.js
  packages/react-renderer-demo/src/app/src/doc-components/validators/pattern-validator.js
  packages/react-renderer-demo/src/app/src/doc-components/validators/record-level-validation.js
  packages/react-renderer-demo/src/app/src/doc-components/validators/required-validator.js
  packages/react-renderer-demo/src/app/src/doc-components/validators/url-validator.js
Labels: V2, demo

#354 Fixes falsy values for initialValue + initiliazeOnMount
  packages/react-form-renderer/src/form-renderer/field-provider.js
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
Labels: bug, renderer

#355 fix(renderer): clearOnUnmount set clearedValue, not undefined
  packages/react-form-renderer/src/form-renderer/field-provider.js
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
Labels: bug, renderer

#357 [V2] Merge master to V2
  packages/react-form-renderer/src/form-renderer/enhanced-on-change.js
  packages/react-form-renderer/src/hooks/use-field-api.js
  packages/react-form-renderer/src/tests/form-renderer/enhanced-on-change.test.js
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
Labels: Technical debt, V2

#361 Add shared variants form demo examples
  packages/react-renderer-demo/src/app/src/components/navigation/examples-definitions.js
Labels: demo, enhancement

#360 FIx initialize on mount demo example
  packages/react-renderer-demo/src/app/src/doc-components/initialize-mount.js
Labels: bug, demo

#362 Remove MIQ components page
  packages/react-renderer-demo/src/app/pages/others/miq-components.md
  packages/react-renderer-demo/src/app/src/components/navigation/examples-definitions.js
  packages/react-renderer-demo/src/app/src/components/navigation/other-pages/index.js
  packages/react-renderer-demo/src/app/src/components/navigation/schema.js
Labels: Technical debt, demo

#359 feat(pf4): add duallist component
  packages/pf4-component-mapper/demo/index.html
  packages/pf4-component-mapper/src/form-fields/component-mapper.js
  packages/pf4-component-mapper/src/form-fields/dual-list-select.js
  packages/pf4-component-mapper/src/form-fields/dual-list-select.scss
  packages/pf4-component-mapper/src/tests/dual-list-select.test.js
  packages/pf4-component-mapper/src/tests/field-array/__snapshots__/field-array.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/react-renderer-demo/src/app/pages/component-example/dual-list-select.md
  packages/react-renderer-demo/src/app/src/components/layout.js
  packages/react-renderer-demo/src/app/src/components/navigation/examples-definitions.js
  packages/react-renderer-demo/src/app/src/components/navigation/examples-texts/dual-list-select.js
  packages/react-renderer-demo/src/app/src/doc-components/pf4-dual-list.md
  yarn.lock
Labels: PF4, enhancement

#365 breaking(pf4 wizard): stepKey is now replaced by name
  packages/pf4-component-mapper/demo/demo-schemas/wizard-schema.js
  packages/pf4-component-mapper/demo/index.js
  packages/pf4-component-mapper/src/components/wizard.js
  packages/pf4-component-mapper/src/components/wizard/reducer.js
  packages/pf4-component-mapper/src/components/wizard/wizard-step.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
  packages/react-renderer-demo/src/app/src/components/navigation/examples-definitions.js
  packages/react-renderer-demo/src/app/src/doc-components/initialize-mount.js
  packages/react-renderer-demo/src/app/src/doc-components/pf4-wizard.md
  packages/react-renderer-demo/src/app/src/schemas/wizard-schema.js
Labels: Technical debt, V2

#366 breaking(pf3): wizard use name instead of stepKey
  packages/pf3-component-mapper/demo/demo-schemas/wizard-schema.js
  packages/pf3-component-mapper/src/components/button.js
  packages/pf3-component-mapper/src/components/wizard.js
  packages/pf3-component-mapper/src/components/wizard/step-buttons.js
  packages/pf3-component-mapper/src/tests/__snapshots__/wizard.test.js.snap
  packages/pf3-component-mapper/src/tests/wizard.test.js
Labels: V2, bug

#367 feat(mui): move mui wizard from demo to mapper
  packages/mui-component-mapper/src/components/component-mapper.js
  packages/mui-component-mapper/src/components/wizard.js
  packages/mui-component-mapper/src/components/wizard/step-buttons.js
  packages/mui-component-mapper/src/components/wizard/wizard-step.js
  packages/mui-component-mapper/src/tests/wizard.test.js
  packages/react-renderer-demo/src/app/src/components/component-example.js
  packages/react-renderer-demo/src/app/src/components/layout.js
  packages/react-renderer-demo/src/app/src/components/missing-demo-fields/mui-wizard/mui-wizard.js
Labels: MUI, Technical debt, V2

#368 [V2] Master to V2
  packages/pf4-component-mapper/demo/index.html
  packages/pf4-component-mapper/src/components/component-mapper.js
  packages/pf4-component-mapper/src/components/dual-list-select.js
  packages/pf4-component-mapper/src/components/dual-list-select.scss
  packages/pf4-component-mapper/src/tests/dual-list-select.test.js
  packages/pf4-component-mapper/src/tests/field-array/__snapshots__/field-array.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/react-renderer-demo/src/app/pages/component-example/dual-list-select.md
  packages/react-renderer-demo/src/app/pages/others/miq-components.md
  packages/react-renderer-demo/src/app/src/components/layout.js
  packages/react-renderer-demo/src/app/src/components/navigation/examples-definitions.js
  packages/react-renderer-demo/src/app/src/components/navigation/examples-texts/dual-list-select.js
  packages/react-renderer-demo/src/app/src/components/navigation/other-pages/index.js
  packages/react-renderer-demo/src/app/src/components/navigation/schema.js
  packages/react-renderer-demo/src/app/src/doc-components/pf4-dual-list.md
Labels: Technical debt, V2

#369 fix(PF4): duallistselect refactor to hooks
  packages/pf4-component-mapper/src/components/dual-list-select.js
Labels: PF4, Technical debt, V2

#370 fix(mui): Add relative position to field wrapper.
  packages/mui-component-mapper/src/form-fields/form-fields.js
  yarn.lock
Labels: MUI, bug

#373 [V2] feat(renderer): use debug instead of onStateUpdate
  packages/pf3-component-mapper/src/tests/__snapshots__/input-addon.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/react-form-renderer/demo/index.js
  packages/react-form-renderer/src/components/form-renderer.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
Labels: V2, renderer

#374 fix(renderer): propagate props to root Form component.
  packages/react-form-renderer/demo/index.js
  packages/react-form-renderer/src/form-renderer/index.js
Labels: bug, renderer

#375 [V2] Enhance on cancel reset
  packages/common/src/form-template.js
  packages/pf4-component-mapper/src/components/wizard.js
  packages/pf4-component-mapper/src/components/wizard/step-buttons.js
  packages/pf4-component-mapper/src/tests/__snapshots__/form-template-common.test.js.snap
  packages/pf4-component-mapper/src/tests/form-template-common.test.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/step-buttons.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/step-buttons.test.js
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
  packages/react-form-renderer/src/components/form-renderer.js
Labels: V2, bug, renderer

#377 fix(renderer): convert initialValue dataType
  packages/react-form-renderer/src/form-renderer/convert-initial-value.js
  packages/react-form-renderer/src/form-renderer/enhanced-on-change.js
  packages/react-form-renderer/src/form-renderer/field-wrapper.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/form-renderer.test.js
  packages/react-form-renderer/src/validators/index.js
Labels: bug, renderer

#371 [V2] Update doc
  packages/react-renderer-demo/src/app/pages/index.js
  packages/react-renderer-demo/src/app/pages/renderer/action-mapper.md
  packages/react-renderer-demo/src/app/pages/renderer/component-api.md
  packages/react-renderer-demo/src/app/pages/renderer/component-mapping.md
  packages/react-renderer-demo/src/app/pages/renderer/field-array.md
  packages/react-renderer-demo/src/app/pages/renderer/field-provider.md
  packages/react-renderer-demo/src/app/pages/renderer/form-controls.md
  packages/react-renderer-demo/src/app/pages/renderer/form-template.md
  packages/react-renderer-demo/src/app/pages/renderer/get-started.md
  packages/react-renderer-demo/src/app/pages/renderer/migration-guide.md
  packages/react-renderer-demo/src/app/pages/renderer/renderer-api.md
  packages/react-renderer-demo/src/app/pages/renderer/validators.md
  packages/react-renderer-demo/src/app/src/components/mdx/mdx-components.js
  packages/react-renderer-demo/src/app/src/components/navigation/documentation-pages.js
  packages/react-renderer-demo/src/app/src/components/navigation/examples-definitions.js
  packages/react-renderer-demo/src/app/src/doc-components/clear-on-unmount.js
  packages/react-renderer-demo/src/app/src/doc-components/cleared-value.js
  packages/react-renderer-demo/src/app/src/doc-components/component-mapper/form-fields-mapper.js
  packages/react-renderer-demo/src/app/src/doc-components/custom-buttons.js
  packages/react-renderer-demo/src/app/src/doc-components/data-types-example.js
  packages/react-renderer-demo/src/app/src/doc-components/field-array/form-fields-mapper.js
  packages/react-renderer-demo/src/app/src/doc-components/field-array/pf4-demo.js
  packages/react-renderer-demo/src/app/src/doc-components/initialize-mount.js
Labels: V2, demo

#379 Fix next/prev links on pages with queries
  packages/react-renderer-demo/src/app/src/components/navigation/find-connected-links.js
Labels: bug, demo

#381 Rebase master to V2 vol. 3
  packages/mui-component-mapper/src/common/form-field-grid.js
  packages/pf3-component-mapper/src/tests/__snapshots__/input-addon.test.js.snap
  packages/pf3-component-mapper/src/tests/input-addon.test.js
  packages/react-form-renderer/src/components/form-renderer.js
  packages/react-form-renderer/src/form-renderer/convert-initial-value.js
  packages/react-form-renderer/src/form-renderer/enhanced-on-change.js
  packages/react-form-renderer/src/form-renderer/field-wrapper.js
  packages/react-form-renderer/src/tests/form-renderer/form-renderer.test.js
  packages/react-form-renderer/src/validators/index.js
  packages/react-renderer-demo/src/app/src/components/navigation/find-connected-links.js
Labels: Technical debt, V2

#380 breaking(renderer): Allow combining async validators with normal ones.
  packages/react-form-renderer/demo/form-fields-mapper.js
  packages/react-form-renderer/demo/index.js
  packages/react-form-renderer/src/components/compose-validators.js
  packages/react-form-renderer/src/tests/validators/compose-validators.test.js
  packages/react-renderer-demo/src/app/pages/renderer/migration-guide.md
  packages/react-renderer-demo/src/app/pages/renderer/validators.md
  packages/react-renderer-demo/src/app/src/doc-components/validators/async-validator.js
Labels: V2, renderer

#382 Refactor links in mdx
  packages/react-renderer-demo/src/app/pages/renderer/action-mapper.md
  packages/react-renderer-demo/src/app/pages/renderer/component-api.md
  packages/react-renderer-demo/src/app/pages/renderer/condition.md
  packages/react-renderer-demo/src/app/pages/renderer/field-array.md
  packages/react-renderer-demo/src/app/pages/renderer/form-template.md
  packages/react-renderer-demo/src/app/pages/renderer/initialize-mount.md
  packages/react-renderer-demo/src/app/pages/renderer/renderer-api.md
  packages/react-renderer-demo/src/app/pages/renderer/validators.md
  packages/react-renderer-demo/src/app/src/components/mdx/mdx-components.js
  packages/react-renderer-demo/src/app/src/doc-components/pf4-dual-list.md
Labels: V2, demo

#384 fix(pf4): wizard predicts steps by default
  packages/pf4-component-mapper/demo/demo-schemas/wizard-schema.js
  packages/pf4-component-mapper/src/components/wizard.js
  packages/pf4-component-mapper/src/components/wizard/reducer.js
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
  packages/react-renderer-demo/src/app/pages/renderer/migration-guide.md
  packages/react-renderer-demo/src/app/src/doc-components/pf4-wizard.md
Labels: PF4, V2, enhancement

#385 [V2] refactor(renderer): refactor render single field
  packages/pf3-component-mapper/src/tests/__snapshots__/input-addon.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/react-form-renderer/src/form-renderer/field-wrapper.js
  packages/react-form-renderer/src/form-renderer/render-form.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/render-form.test.js.snap
Labels: Technical debt, V2, renderer

#387 Update CodeEditor options for md codes snippets
  packages/react-renderer-demo/src/app/src/components/mdx/mdx-components.js
Labels: V2, demo, enhancement

#386 [V2] feat(renderer): add schemaValidatorMapper
  packages/react-form-renderer/demo/index.js
  packages/react-form-renderer/src/components/form-renderer.js
  packages/react-form-renderer/src/index.js
  packages/react-form-renderer/src/parsers/default-schema-validator.js
  packages/react-form-renderer/src/tests/form-renderer/schema-validator-mapper.test.js
  packages/react-renderer-demo/src/app/pages/renderer/renderer-api.md
  packages/react-renderer-demo/src/app/pages/renderer/schema-validator.md
  packages/react-renderer-demo/src/app/src/components/navigation/documentation-pages.js
  packages/react-renderer-demo/src/app/src/doc-components/schema-validator.js
Labels: V2, enhancement, renderer

#389 [V2] fix(all): remove multi, use isMulti only
  packages/common/src/demoschema.js
  packages/common/src/select/index.js
  packages/mui-component-mapper/src/components/select.js
  packages/parsers/src/parsers/miq.js
  packages/parsers/src/tests/miq/miq-schemas/output.js
  packages/pf3-component-mapper/demo/demo-schemas/sandbox.js
  packages/pf3-component-mapper/demo/index.js
  packages/pf3-component-mapper/src/components/select/select.js
  packages/pf3-component-mapper/src/tests/form-fields/select/select.test.js
  packages/pf4-component-mapper/demo/demo-schemas/sandbox.js
  packages/pf4-component-mapper/src/components/select/select.js
  packages/pf4-component-mapper/src/tests/select/select.test.js
  packages/react-form-renderer/src/tests/parsers/output.js
  packages/react-renderer-demo/src/app/pages/live-editor.js
  packages/react-renderer-demo/src/app/pages/renderer/component-api.md
  packages/react-renderer-demo/src/app/pages/renderer/migration-guide.md
  packages/react-renderer-demo/src/app/src/components/navigation/examples-definitions.js
Labels: Technical debt, V2

#391 feat(renderer): add proper not, and, or conditions
  packages/react-form-renderer/src/form-renderer/condition.js
  packages/react-form-renderer/src/parsers/default-schema-validator.js
  packages/react-form-renderer/src/tests/form-renderer/parse-condition.test.js
  packages/react-form-renderer/src/tests/parsers/__snapshots__/default-schema-validator.test.js.snap
  packages/react-form-renderer/src/tests/parsers/default-schema-validator.test.js
  packages/react-renderer-demo/src/app/pages/renderer/condition.md
  packages/react-renderer-demo/src/app/src/doc-components/condition.js
Labels: enhancement, renderer

#394 fix(renderer): add buttonType to form controls
  __mocks__/mock-layout-mapper.js
  packages/mui-component-mapper/src/form-fields/layout-components.js
  packages/pf3-component-mapper/src/form-fields/layout-components.js
  packages/pf4-component-mapper/src/form-fields/layout-components.js
  packages/pf4-component-mapper/src/tests/field-array/__snapshots__/field-array.test.js.snap
  packages/react-form-renderer/demo/layout-mapper.js
  packages/react-form-renderer/src/form-renderer/form-controls.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-controls.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-information.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/form-controls.test.js
  packages/react-form-renderer/src/tests/form-renderer/form-information.test.js
  packages/react-form-renderer/src/tests/form-renderer/form-renderer.test.js
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
  packages/react-renderer-demo/src/app/pages/renderer/component-mapping.md
  packages/react-renderer-demo/src/app/src/doc-components/component-mapper/form-fields-mapper.js
  packages/react-renderer-demo/src/app/src/doc-components/component-mapper/layout-mapper.js
  packages/react-renderer-demo/src/app/src/doc-components/field-array/form-fields-mapper.js
Labels: PF4, enhancement, renderer

#395 Fix selected menu items with queries
  packages/react-renderer-demo/src/app/src/components/navigation/find-connected-links.js
  packages/react-renderer-demo/src/app/src/components/navigation/mapper.js
Labels: bug, demo

#396 [V2] Rebase master > V2 vol. 4
  packages/common/src/form-template.js
  packages/mui-component-mapper/src/files/form-template.js
  packages/pf3-component-mapper/src/files/form-template.js
  packages/pf4-component-mapper/src/files/form-template.js
  packages/pf4-component-mapper/src/tests/__snapshots__/form-template-common.test.js.snap
  packages/react-form-renderer/src/files/default-schema-validator.js
  packages/react-form-renderer/src/form-renderer/condition.js
  packages/react-form-renderer/src/tests/form-renderer/parse-condition.test.js
  packages/react-form-renderer/src/tests/parsers/__snapshots__/default-schema-validator.test.js.snap
  packages/react-form-renderer/src/tests/parsers/default-schema-validator.test.js
  packages/react-renderer-demo/src/app/pages/renderer/condition.md
  packages/react-renderer-demo/src/app/src/components/navigation/find-connected-links.js
  packages/react-renderer-demo/src/app/src/components/navigation/mapper.js
  packages/react-renderer-demo/src/app/src/doc-components/condition.js
Labels: Technical debt, V2

#397 [V2] Share functionality in common select
  packages/common/src/hooks/use-is-mounted.js
  packages/common/src/select/index.js
  packages/common/src/select/reducer.js
  packages/mui-component-mapper/src/files/select.js
  packages/mui-component-mapper/src/files/select/integration-select.js
  packages/pf3-component-mapper/demo/demo-schemas/sandbox.js
  packages/pf3-component-mapper/src/files/select/select.js
  packages/pf3-component-mapper/src/tests/form-fields/select/__snapshots__/select.test.js.snap
  packages/pf3-component-mapper/src/tests/form-fields/select/select.test.js
  packages/pf4-component-mapper/src/common/select/select.js
  packages/pf4-component-mapper/src/files/component-mapper.js
  packages/pf4-component-mapper/src/tests/select/select.test.js
Labels: PF3, PF4, V2, common, enhancement

#398 [V2] Wizard common
  packages/common/src/wizard/reducer.js
  packages/common/src/wizard/wizard.js
  packages/mui-component-mapper/src/files/wizard.js
  packages/pf3-component-mapper/demo/index.js
  packages/pf3-component-mapper/src/files/wizard.js
  packages/pf3-component-mapper/src/tests/__snapshots__/wizard.test.js.snap
  packages/pf3-component-mapper/src/tests/wizard.test.js
  packages/pf4-component-mapper/src/files/wizard.js
  packages/pf4-component-mapper/src/files/wizard/reducer.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
Labels: MUI, PF3, PF4, V2, common

#403 Remove layoutMapper from readmes
  README.md
  packages/mui-component-mapper/README.md
  packages/parsers/README.md
  packages/pf3-component-mapper/README.md
  packages/pf4-component-mapper/README.md
  packages/react-form-renderer/README.md
Labels: Technical debt

#405 fix(renderer): do not fail when using or
  packages/react-form-renderer/src/files/default-schema-validator.js
  packages/react-form-renderer/src/tests/parsers/__snapshots__/default-schema-validator.test.js.snap
  packages/react-form-renderer/src/tests/parsers/default-schema-validator.test.js
Labels: bug, renderer

#406 fix(common): added missing files config for npm
  packages/mui-component-mapper/package.json
  packages/pf3-component-mapper/package.json
  packages/pf4-component-mapper/package.json
  packages/react-form-renderer/package.json
Labels: bug

#404 Fix demo technical debts
  .circleci/config.yml
  package.json
  packages/react-renderer-demo/src/app/pages/renderer/action-mapper.md
  packages/react-renderer-demo/src/app/pages/renderer/component-api.md
  packages/react-renderer-demo/src/app/pages/renderer/condition.md
  packages/react-renderer-demo/src/app/src/components/code-editor/index.js
  packages/react-renderer-demo/src/app/src/components/common/connected-links.js
  packages/react-renderer-demo/src/app/src/components/common/raw-component.js
  packages/react-renderer-demo/src/app/src/doc-components/action-mapper.js
  packages/react-renderer-demo/src/app/src/doc-components/condition.js
  packages/react-renderer-demo/src/app/src/doc-components/conditions/and.js
  packages/react-renderer-demo/src/app/src/doc-components/conditions/is-empty.js
  packages/react-renderer-demo/src/app/src/doc-components/conditions/is-not-empty.js
  packages/react-renderer-demo/src/app/src/doc-components/conditions/is.js
  packages/react-renderer-demo/src/app/src/doc-components/conditions/not-match.js
  packages/react-renderer-demo/src/app/src/doc-components/conditions/not.js
  packages/react-renderer-demo/src/app/src/doc-components/conditions/or.js
  packages/react-renderer-demo/src/app/src/doc-components/conditions/pattern.js
  packages/react-renderer-demo/src/app/src/doc-components/initialize-mount.js
  yarn.lock
Labels: demo

#409 Builder integration
  packages/common/src/select/index.js
  packages/mui-component-mapper/src/files/select.js
  packages/mui-component-mapper/src/files/select/integration-select.js
  packages/pf3-component-mapper/src/files/select.js
  packages/pf4-component-mapper/src/files/select.js
  packages/react-form-renderer/src/files/use-field-api.js
Labels: Technical debt, common

#410 Fix NEXT vulnerability
  package.json
  packages/react-renderer-demo/package.json
  packages/react-renderer-demo/src/app/package.json
  yarn.lock
Labels: Technical debt, demo

#412 Added form builder to docs.
  packages/react-renderer-demo/src/app/babel.config.js
  packages/react-renderer-demo/src/app/next.config.js
  packages/react-renderer-demo/src/app/package.json
  packages/react-renderer-demo/src/app/pages/live-editor.js
  packages/react-renderer-demo/src/app/src/components/navigation/schema.js
  yarn.lock
Labels: demo

#415 fix(pf4): fixed radio having bool value instead of input value.
  packages/pf4-component-mapper/src/files/radio.js
  packages/pf4-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
Labels: PF4, bug
