Repository data-driven-forms/react-forms, pull requests merged in 2020-12, with the labels that each got.

#908 fix(renderer): convert arrow functions with arguments
  packages/react-form-renderer/src/validators/helpers.js
Labels: bug, renderer

#914 Fix missing curly brackets in footer.js
  packages/react-renderer-demo/src/components/footer.js
Labels: bug, docs

#915 fix(pf4): fix wizard navigation buttons to not submit forms
  packages/pf4-component-mapper/src/files/wizard/wizard-nav.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
Labels: PF4, bug

#917 Update issue template to direct contributors do Discussions
  .github/ISSUE_TEMPLATE/issue.md
Labels: Technical debt

#918 Issue template desc has maximum size of 200 chars
  .github/ISSUE_TEMPLATE/issue.md
Labels: Technical debt

#919 fix(pf4): inherit substepOfTitle in wizard
  packages/common/src/wizard/reducer.js
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
Labels: PF4, bug

#924 feat(pf4): add support for submit errors
  packages/pf4-component-mapper/src/common/form-group.js
  packages/pf4-component-mapper/src/common/show-error.js
  packages/pf4-component-mapper/src/files/field-array.js
  packages/pf4-component-mapper/src/tests/form-fields.test.js
Labels: PF4, enhancement

#925 fix(all): add support for submit errors
  packages/ant-component-mapper/src/common/helpers.js
  packages/ant-component-mapper/src/files/field-array.js
  packages/ant-component-mapper/src/tests/components.test.js
  packages/blueprint-component-mapper/src/files/field-array.js
  packages/blueprint-component-mapper/src/files/form-group.js
  packages/blueprint-component-mapper/src/tests/components.test.js
  packages/carbon-component-mapper/src/files/checkbox.js
  packages/carbon-component-mapper/src/files/date-picker.js
  packages/carbon-component-mapper/src/files/field-array.js
  packages/carbon-component-mapper/src/files/radio.js
  packages/carbon-component-mapper/src/files/select.js
  packages/carbon-component-mapper/src/files/slider.js
  packages/carbon-component-mapper/src/files/switch.js
  packages/carbon-component-mapper/src/files/text-field.js
  packages/carbon-component-mapper/src/files/textarea.js
  packages/carbon-component-mapper/src/files/time-picker.js
  packages/carbon-component-mapper/src/tests/components.test.js
  packages/common/src/multiple-choice-list.js
  packages/mui-component-mapper/src/common/helpers.js
  packages/mui-component-mapper/src/files/field-array.js
  packages/mui-component-mapper/src/tests/form-fields.test.js
  packages/suir-component-mapper/src/common/helpers.js
  packages/suir-component-mapper/src/common/multiple-choice-list.js
  packages/suir-component-mapper/src/files/checkbox.js
  packages/suir-component-mapper/src/files/date-picker.js
  packages/suir-component-mapper/src/files/dual-list-select.js
  packages/suir-component-mapper/src/files/field-array.js
  packages/suir-component-mapper/src/files/radio.js
  packages/suir-component-mapper/src/files/select.js
  packages/suir-component-mapper/src/files/switch.js
  packages/suir-component-mapper/src/files/text-field.js
  packages/suir-component-mapper/src/files/textarea.js
  packages/suir-component-mapper/src/files/time-picker.js
  packages/suir-component-mapper/src/tests/form-fields.test.js
Labels: enhancement
