Repository data-driven-forms/react-forms, pull requests merged in 2020-05, with the labels that each got.

#466 Add stepper to MUI wizard
  .github/labeler.yml
  packages/mui-component-mapper/demo/demo-schemas/wizard-schema.js
  packages/mui-component-mapper/demo/index.js
  packages/mui-component-mapper/src/files/wizard.js
  packages/mui-component-mapper/src/files/wizard/step-buttons.js
  packages/mui-component-mapper/src/files/wizard/wizard-nav.js
  packages/mui-component-mapper/src/files/wizard/wizard-step.js
  packages/mui-component-mapper/src/tests/wizard.test.js
  packages/react-renderer-demo/src/app/src/doc-components/wizard.md
Labels: MUI, enhancement

#467 fix(pf4): use custom divs for dual list select
  packages/pf4-component-mapper/src/files/dual-list-select.js
  packages/pf4-component-mapper/src/files/dual-list-select.scss
  packages/pf4-component-mapper/src/tests/dual-list-select.test.js
  packages/react-form-renderer/src/files/use-field-api.js
  packages/react-renderer-demo/src/app/pages/vendor.css
Labels: PF4, bug, renderer

#458 fix(all): enable input type file
  packages/pf3-component-mapper/src/tests/__snapshots__/input-addon.test.js.snap
  packages/pf3-component-mapper/src/tests/__snapshots__/wizard.test.js.snap
  packages/pf4-component-mapper/src/files/dual-list-select.js
  packages/pf4-component-mapper/src/tests/dual-list-select.test.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/react-form-renderer/demo/index.js
  packages/react-form-renderer/src/files/form-renderer.js
  packages/react-form-renderer/src/files/renderer-context.js
  packages/react-form-renderer/src/files/use-field-api.js
  packages/react-form-renderer/src/form-renderer/enhanced-on-change.js
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/form-renderer.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/enhanced-on-change.test.js
  packages/react-form-renderer/src/tests/form-renderer/use-field-api.test.js
  packages/react-renderer-demo/src/app/examples/components/file-upload/file-input.js
  packages/react-renderer-demo/src/app/examples/components/file-upload/upload-handler.js
  packages/react-renderer-demo/src/app/pages/renderer/file-input.md
  packages/react-renderer-demo/src/app/src/components/navigation/documentation-pages.js
Labels: PF3, PF4, docs, renderer

#474 Make menu on small screen temporary
  packages/react-renderer-demo/src/app/src/components/layout.js
Labels: docs, enhancement

#473 Add slider components
  packages/mui-component-mapper/src/files/component-mapper.js
  packages/mui-component-mapper/src/files/slider.js
  packages/mui-component-mapper/src/index.js
  packages/mui-component-mapper/src/tests/form-fields.test.js
  packages/pf3-component-mapper/src/files/component-mapper.js
  packages/pf3-component-mapper/src/files/form-template.js
  packages/pf3-component-mapper/src/files/form-template.scss
  packages/pf3-component-mapper/src/files/slider.js
  packages/pf3-component-mapper/src/index.js
  packages/pf3-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
  packages/pf3-component-mapper/src/tests/__snapshots__/input-addon.test.js.snap
  packages/pf3-component-mapper/src/tests/__snapshots__/wizard.test.js.snap
  packages/pf3-component-mapper/src/tests/form-fields.test.js
  packages/pf4-component-mapper/src/files/component-mapper.js
  packages/pf4-component-mapper/src/files/slider.js
  packages/pf4-component-mapper/src/files/slider.scss
  packages/pf4-component-mapper/src/index.js
  packages/pf4-component-mapper/src/tests/form-fields.test.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/react-form-renderer/src/files/component-types.js
  packages/react-renderer-demo/src/app/pages/component-example/slider.js
  packages/react-renderer-demo/src/app/pages/vendor.css
  packages/react-renderer-demo/src/app/src/components/navigation/examples-definitions.js
  packages/react-renderer-demo/src/app/src/components/navigation/examples-texts/slider.js
  packages/react-renderer-demo/src/app/src/doc-components/mui-slider.md
  packages/react-renderer-demo/src/app/src/doc-components/pf3-slider.md
  packages/react-renderer-demo/src/app/src/doc-components/pf4-slider.md
Labels: MUI, PF3, PF4, enhancement, renderer

#475 Fix links to original components
  packages/react-renderer-demo/src/app/src/components/navigation/examples-texts/generic-mui-component.js
Labels: Technical debt, docs

#485 [v2.4] Docs load time optimization
  packages/react-renderer-demo/package.json
  packages/react-renderer-demo/src/app/package.json
  packages/react-renderer-demo/src/app/pages/_document.js
  packages/react-renderer-demo/src/app/pages/mappers/blueprint-component-mapper.md
  packages/react-renderer-demo/src/app/pages/mappers/mui-component-mapper.md
  packages/react-renderer-demo/src/app/pages/mappers/pf3-component-mapper.md
  packages/react-renderer-demo/src/app/pages/mappers/pf4-component-mapper.md
  packages/react-renderer-demo/src/app/pages/renderer/development-setup.md
  packages/react-renderer-demo/src/app/pages/renderer/installation.md
  packages/react-renderer-demo/src/app/src/components/code-editor/index.js
  packages/react-renderer-demo/src/app/src/components/mdx/mdx-components.js
  yarn.lock
Labels: docs

#489 fix(common): make props to control deselection of values
  packages/common/src/select/index.js
  packages/pf3-component-mapper/src/tests/form-fields/select/select.test.js
  packages/react-renderer-demo/src/app/src/doc-components/pf3-select.md
  packages/react-renderer-demo/src/app/src/doc-components/pf4-select.md
Labels: bug, common

#492 Add PWA requirements to docs
  packages/react-renderer-demo/package.json
  packages/react-renderer-demo/src/app/next.config.js
  packages/react-renderer-demo/src/app/pages/_document.js
  packages/react-renderer-demo/src/functions/index.js
  packages/react-renderer-demo/src/public/icons/192x192.png
  packages/react-renderer-demo/src/public/icons/512x512.png
  packages/react-renderer-demo/src/public/manifest.json
  packages/react-renderer-demo/src/public/service-worker.js
  yarn.lock
Labels: docs, enhancement

#493 Docs fav Icon
  packages/react-renderer-demo/src/app/pages/_document.js
  packages/react-renderer-demo/src/public/favicon.ico
Labels: docs

#494 Add mapper generator
  .eslintignore
  package.json
  packages/common/.npmignore
  packages/react-renderer-demo/src/app/pages/renderer/development-setup.md
  scripts/generate-mapper.js
  templates/component-mapper/.gitignore
  templates/component-mapper/.npmignore
  templates/component-mapper/LICENSE
  templates/component-mapper/README.md
  templates/component-mapper/babel.config.js
  templates/component-mapper/config/jest.setup.js
  templates/component-mapper/config/webpack.config.js
  templates/component-mapper/demo/demo-schemas/sandbox.js
  templates/component-mapper/demo/demo-schemas/widget-schema.js
  templates/component-mapper/demo/demo-schemas/wizard-schema.js
  templates/component-mapper/demo/index.html
  templates/component-mapper/demo/index.js
  templates/component-mapper/package.json
  templates/component-mapper/rollup.config.js
  templates/component-mapper/src/common/.gitkeep
  templates/component-mapper/src/files/checkbox.js
  templates/component-mapper/src/files/component-mapper.js
  templates/component-mapper/src/files/date-picker.js
  templates/component-mapper/src/files/dual-list-select.js
  templates/component-mapper/src/files/field-array.js
  templates/component-mapper/src/files/form-group.js
  templates/component-mapper/src/files/form-template.js
  templates/component-mapper/src/files/plain-text.js
  templates/component-mapper/src/files/radio.js
  templates/component-mapper/src/files/select.js
  templates/component-mapper/src/files/slider.js
  templates/component-mapper/src/files/sub-form.js
  templates/component-mapper/src/files/switch.js
  templates/component-mapper/src/files/tabs.js
  templates/component-mapper/src/files/text-field.js
  templates/component-mapper/src/files/textarea.js
  templates/component-mapper/src/files/time-picker.js
  templates/component-mapper/src/files/wizard.js
  templates/component-mapper/src/index.js
  templates/component-mapper/src/tests/test.test.js
  yarn.lock
Labels: enhancement

#498 [v2.4] Add missing blueprint components
  packages/blueprint-component-mapper/demo/index.js
  packages/blueprint-component-mapper/package.json
  packages/blueprint-component-mapper/src/files/field-array.js
  packages/blueprint-component-mapper/src/files/field-array.scss
  packages/blueprint-component-mapper/src/files/wizard.js
  packages/blueprint-component-mapper/src/files/wizard/step-buttons.js
  packages/blueprint-component-mapper/src/files/wizard/step-buttons.scss
  packages/blueprint-component-mapper/src/tests/components.test.js
  packages/blueprint-component-mapper/src/tests/field-array.test.js
  packages/blueprint-component-mapper/src/tests/wizard.test.js
  packages/react-renderer-demo/src/doc-components/examples-texts/blueprint/blueprint-field-array.md
  packages/react-renderer-demo/src/doc-components/examples-texts/blueprint/blueprint-wizard.md
  packages/react-renderer-demo/src/doc-components/field-array.js
  packages/react-renderer-demo/src/doc-components/wizard.js
Labels: blueprintjs

#499 Persist mapper query param in docs.
  packages/react-renderer-demo/src/components/common/connected-links.js
  packages/react-renderer-demo/src/components/navigation/mapper.js
  packages/react-renderer-demo/src/hooks/use-mapper-link.js
  packages/react-renderer-demo/src/hooks/use-query-param.js
  yarn.lock
Labels: docs

#500 Update packages readme files.
  README.md
  packages/blueprint-component-mapper/README.md
  packages/common/README.md
  packages/mui-component-mapper/README.md
  packages/parsers/README.md
  packages/pf3-component-mapper/README.md
  packages/pf4-component-mapper/README.md
  packages/react-form-renderer/README.md
  packages/react-renderer-demo/README.md
  packages/suir-component-mapper/README.md
Labels: MUI, PF3, PF4, common, docs, renderer

#501 [v2.4] Add missing logos to landing page
  package.json
  packages/react-renderer-demo/src/components/common/blueprint-logo.js
  packages/react-renderer-demo/src/components/common/suir-logo.js
  packages/react-renderer-demo/src/components/landing-page/landing-page-cards.js
Labels: docs, enhancement

#502 [v2.4] Update hidden to css
  packages/react-renderer-demo/src/components/layout.js
Labels: bug, docs

#504 [V2.4] Replace mapper logos with static assets.
  packages/react-renderer-demo/package.json
  packages/react-renderer-demo/public/blueprintjs-logo.svg
  packages/react-renderer-demo/public/logo.svg
  packages/react-renderer-demo/public/mui-logo.svg
  packages/react-renderer-demo/public/pf3-logo.svg
  packages/react-renderer-demo/public/pf4-logo.svg
  packages/react-renderer-demo/public/semantic-ui-logo.svg
  packages/react-renderer-demo/src/components/common/blueprint-logo.js
  packages/react-renderer-demo/src/components/common/landing-page-logo.js
  packages/react-renderer-demo/src/components/common/material-logo.js
  packages/react-renderer-demo/src/components/common/pf3-logo.js
  packages/react-renderer-demo/src/components/common/pf4-logo.js
  packages/react-renderer-demo/src/components/common/suir-logo.js
  packages/react-renderer-demo/src/components/landing-page/landing-page-cards.js
  packages/react-renderer-demo/src/components/landing-page/landing-page-title.js
  packages/react-renderer-demo/src/next.config.js
Labels: docs

#503 fix(mui): use mui select instead of react select
  packages/common/babel.config.js
  packages/common/src/select/index.js
  packages/common/src/select/parse-internal-value.js
  packages/mui-component-mapper/demo/index.js
  packages/mui-component-mapper/package.json
  packages/mui-component-mapper/src/files/select.js
  packages/mui-component-mapper/src/files/select/integration-select.js
  packages/mui-component-mapper/src/files/select/select-styles.js
  packages/suir-component-mapper/src/files/select.js
  yarn.lock
Labels: MUI, common

#507 [v2.4] Add suir mapper page
  packages/react-renderer-demo/package.json
  packages/react-renderer-demo/src/components/navigation/mappers.js
  packages/react-renderer-demo/src/pages/mappers/suir-component-mapper.md
  packages/react-renderer-demo/src/public
Labels: docs

#509 Do not run labeler on forks
  .github/workflows/labeler.yml
Labels: bug

#508 [v2.4] fix(blueprint): add dual list
  packages/blueprint-component-mapper/demo/demo-schemas/dual-list-schema.js
  packages/blueprint-component-mapper/demo/index.js
  packages/blueprint-component-mapper/src/files/dual-list-select.js
  packages/blueprint-component-mapper/src/files/dual-list-select.scss
  packages/blueprint-component-mapper/src/files/form-group.js
  packages/blueprint-component-mapper/src/tests/components.test.js
  packages/blueprint-component-mapper/src/tests/dual-list-select.test.js
  packages/common/babel.config.js
  packages/react-renderer-demo/src/doc-components/dual-list-select.js
  packages/react-renderer-demo/src/doc-components/examples-texts/blueprint/blueprint-dual-list-select.md
Labels: blueprintjs, enhancement

#511 2.4 master
  .eslintignore
  .github/workflows/labeler.yml
  package.json
  packages/common/.npmignore
  packages/common/src/select/index.js
  packages/pf3-component-mapper/src/tests/form-fields/select/select.test.js
  packages/react-renderer-demo/src/doc-components/examples-texts/pf3/pf3-select.md
  packages/react-renderer-demo/src/doc-components/examples-texts/pf4/pf4-select.md
  packages/react-renderer-demo/src/pages/renderer/development-setup.md
  scripts/generate-mapper.js
  templates/component-mapper/.gitignore
  templates/component-mapper/.npmignore
  templates/component-mapper/LICENSE
  templates/component-mapper/README.md
  templates/component-mapper/babel.config.js
  templates/component-mapper/config/jest.setup.js
  templates/component-mapper/config/webpack.config.js
  templates/component-mapper/demo/demo-schemas/sandbox.js
  templates/component-mapper/demo/demo-schemas/widget-schema.js
  templates/component-mapper/demo/demo-schemas/wizard-schema.js
  templates/component-mapper/demo/index.html
  templates/component-mapper/demo/index.js
  templates/component-mapper/package.json
  templates/component-mapper/rollup.config.js
  templates/component-mapper/src/common/.gitkeep
  templates/component-mapper/src/files/checkbox.js
  templates/component-mapper/src/files/component-mapper.js
  templates/component-mapper/src/files/date-picker.js
  templates/component-mapper/src/files/dual-list-select.js
  templates/component-mapper/src/files/field-array.js
  templates/component-mapper/src/files/form-group.js
  templates/component-mapper/src/files/form-template.js
  templates/component-mapper/src/files/plain-text.js
  templates/component-mapper/src/files/radio.js
  templates/component-mapper/src/files/select.js
  templates/component-mapper/src/files/slider.js
  templates/component-mapper/src/files/sub-form.js
  templates/component-mapper/src/files/switch.js
  templates/component-mapper/src/files/tabs.js
  templates/component-mapper/src/files/text-field.js
  templates/component-mapper/src/files/textarea.js
  templates/component-mapper/src/files/time-picker.js
  templates/component-mapper/src/files/wizard.js
  templates/component-mapper/src/index.js
  templates/component-mapper/src/tests/test.test.js
  yarn.lock
Labels: PF3, common, docs

#514 Small fixes for BJS
  packages/blueprint-component-mapper/src/files/dual-list-select.js
  packages/common/babel.config.js
  packages/react-renderer-demo/src/stackblitz-templates/blueprint-templates.js
  packages/suir-component-mapper/demo/index.js
Labels: blueprintjs, bug

#515 fix(all): include prop-types in dependencies
  packages/blueprint-component-mapper/package.json
  packages/common/package.json
  packages/mui-component-mapper/package.json
  packages/pf3-component-mapper/package.json
  packages/pf4-component-mapper/package.json
  packages/react-form-renderer/package.json
  packages/suir-component-mapper/package.json
  templates/component-mapper/package.json
Labels: MUI, PF3, PF4, bug, common, renderer

#526 Update PF4 tests
  packages/pf4-component-mapper/src/tests/__snapshots__/sub-form.test.js.snap
  packages/pf4-component-mapper/src/tests/field-array.test.js
  packages/pf4-component-mapper/src/tests/field-array/__snapshots__/field-array.test.js.snap
  packages/pf4-component-mapper/src/tests/field-array/field-array.test.js
  packages/pf4-component-mapper/src/tests/form-fields.test.js
  packages/pf4-component-mapper/src/tests/form-template.test.js
  packages/pf4-component-mapper/src/tests/select/select.test.js
  packages/pf4-component-mapper/src/tests/sub-form.test.js
Labels: PF4, Technical debt

#527 Update MUI package
  packages/mui-component-mapper/src/files/component-mapper.js
  packages/mui-component-mapper/src/files/select.js
  packages/mui-component-mapper/src/tests/form-fields.test.js
  packages/mui-component-mapper/src/tests/form-template.test.js
  packages/mui-component-mapper/src/tests/select.test.js
Labels: MUI, Technical debt, bug

#517 Update versions in package.jsons
  package.json
  yarn.lock
Labels: Technical debt, dependencies

#528 Clean up babel transform plugin setup.
  packages/common/babel.config.js
Labels: Technical debt, common

#529 Update readmes
  README.md
  packages/blueprint-component-mapper/README.md
  packages/common/README.md
  packages/mui-component-mapper/README.md
  packages/pf3-component-mapper/README.md
  packages/pf4-component-mapper/README.md
  packages/react-form-renderer/README.md
  packages/suir-component-mapper/README.md
  templates/component-mapper/README.md
Labels: Technical debt

#530 Remove labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: Technical debt
