Repository data-driven-forms/react-forms, pull requests merged in 2020-07, with the labels that each got.

#602 Add spacing to nested links in docs nav
  packages/react-renderer-demo/src/components/navigation/mapper.js
  packages/react-renderer-demo/src/components/navigation/nav-styles.js
Labels: docs

#603 Add fallback to empty notification response
  packages/react-renderer-demo/src/components/notification-panel.js
Labels: bug, docs

#605 Change common headlines
  packages/react-renderer-demo/src/pages/introduction.md
  packages/react-renderer-demo/src/pages/schema/data-types.md
  packages/react-renderer-demo/src/pages/schema/introduction.md
Labels: bug, docs

#604 migrate docs to use firestore
  packages/react-renderer-demo/firebaseFunctions.js
  packages/react-renderer-demo/src/components/notification-panel.js
Labels: docs

#606 Use package title in the main component heading
  packages/react-renderer-demo/src/components/component-example-text.js
Labels: docs

#608 Make dev setup more clear
  README.md
  packages/blueprint-component-mapper/README.md
  packages/mui-component-mapper/README.md
  packages/parsers/README.md
  packages/pf3-component-mapper/README.md
  packages/pf4-component-mapper/README.md
  packages/react-form-renderer/README.md
  packages/react-renderer-demo/src/pages/development-setup.md
  packages/suir-component-mapper/README.md
  templates/component-mapper/README.md
Labels: docs

#609 Get rid of duplication of text to allow searching
  packages/react-renderer-demo/src/components/component-example-text.js
  packages/react-renderer-demo/src/components/docsearch.js
Labels: docs

#611 fix(renderer): fix wizard context types
  packages/react-form-renderer/src/files/wizard-context.d.ts
Labels: bug, renderer

#613 fix(mui): replace obsolete material-ui-pickers with official package
  packages/mui-component-mapper/package.json
  packages/mui-component-mapper/src/files/date-picker.d.ts
  packages/mui-component-mapper/src/files/date-picker.js
  packages/mui-component-mapper/src/files/time-picker.d.ts
  packages/mui-component-mapper/src/files/time-picker.js
  yarn.lock
Labels: MUI, Technical debt

#383 Antdesign
  README.md
  packages/ant-component-mapper/LICENSE
  packages/ant-component-mapper/README.md
  packages/ant-component-mapper/babel.config.js
  packages/ant-component-mapper/config/jest.setup.js
  packages/ant-component-mapper/config/webpack.config.js
  packages/ant-component-mapper/demo/demo-schemas/miq-schema.js
  packages/ant-component-mapper/demo/demo-schemas/widget-schema.js
  packages/ant-component-mapper/demo/demo-schemas/wizard-schema.js
  packages/ant-component-mapper/demo/index.html
  packages/ant-component-mapper/demo/index.js
  packages/ant-component-mapper/demo/style.css
  packages/ant-component-mapper/package.json
  packages/ant-component-mapper/rollup.config.js
  packages/ant-component-mapper/src/common/form-wrapper.js
  packages/ant-component-mapper/src/common/helpers.js
  packages/ant-component-mapper/src/common/is-required.js
  packages/ant-component-mapper/src/common/multiple-choice-list.js
  packages/ant-component-mapper/src/common/style.scss
  packages/ant-component-mapper/src/files/checkbox.js
  packages/ant-component-mapper/src/files/component-mapper.js
  packages/ant-component-mapper/src/files/date-picker.js
  packages/ant-component-mapper/src/files/form-template.js
  packages/ant-component-mapper/src/files/plain-text.js
  packages/ant-component-mapper/src/files/radio.js
  packages/ant-component-mapper/src/files/select.js
  packages/ant-component-mapper/src/files/sub-form.js
  packages/ant-component-mapper/src/files/switch.js
  packages/ant-component-mapper/src/files/tabs.js
  packages/ant-component-mapper/src/files/text-area.js
  packages/ant-component-mapper/src/files/text-field.js
  packages/ant-component-mapper/src/files/time-picker.js
  packages/ant-component-mapper/src/files/wizard.js
  packages/ant-component-mapper/src/files/wizard/step-buttons.js
  packages/ant-component-mapper/src/files/wizard/wizard-step.js
  packages/ant-component-mapper/src/files/wizard/wizard-step.scss
  packages/ant-component-mapper/src/index.js
  yarn.lock
Labels: ANT

#614 Fix types
  packages/mui-component-mapper/src/files/select.d.ts
  packages/pf4-component-mapper/src/files/wizard.d.ts
  packages/suir-component-mapper/src/files/time-picker.d.ts
Labels: MUI, PF4, SUIR, bug

#616 Fix demo by updating to latest MUI
  packages/react-renderer-demo/package.json
  yarn.lock
Labels: bug, docs

#618 Check if demo and MUI mappers uses the same versions
  packages/mui-component-mapper/src/tests/dependencies.test.js
Labels: MUI, docs

#619 Make babel transform plugin result's code snippet unswitchable
  packages/react-renderer-demo/src/pages/optimization.md
Labels: bug, docs

#631 fix(ant): update wizard to latest changes
  config/jest.setup.js
  packages/ant-component-mapper/demo/demo-schemas/wizard-schema.js
  packages/ant-component-mapper/demo/index.js
  packages/ant-component-mapper/src/common/form-wrapper.js
  packages/ant-component-mapper/src/files/wizard.js
  packages/ant-component-mapper/src/files/wizard/step-buttons.js
  packages/ant-component-mapper/src/files/wizard/wizard-step.js
  packages/ant-component-mapper/src/files/wizard/wizard-step.scss
  packages/ant-component-mapper/src/tests/wizard.test.js
Labels: ANT, Technical debt

#632 fix(ant): treeshake ANT mapper
  packages/ant-component-mapper/demo/index.js
  packages/ant-component-mapper/package.json
  packages/ant-component-mapper/rollup.config.js
  packages/ant-component-mapper/src/files/component-mapper.js
  packages/common/babel.config.js
  yarn.lock
Labels: Technical debt, dependencies

#633 fix(ant): refactor and add customization for each component
  packages/ant-component-mapper/demo/index.js
  packages/ant-component-mapper/src/common/form-wrapper.js
  packages/ant-component-mapper/src/common/is-required.js
  packages/ant-component-mapper/src/common/multiple-choice-list.js
  packages/ant-component-mapper/src/common/style.scss
  packages/ant-component-mapper/src/files/checkbox.js
  packages/ant-component-mapper/src/files/component-mapper.js
  packages/ant-component-mapper/src/files/date-picker.js
  packages/ant-component-mapper/src/files/dual-list-select.js
  packages/ant-component-mapper/src/files/field-array.js
  packages/ant-component-mapper/src/files/form-template.js
  packages/ant-component-mapper/src/files/plain-text.js
  packages/ant-component-mapper/src/files/radio.js
  packages/ant-component-mapper/src/files/select.js
  packages/ant-component-mapper/src/files/slider.js
  packages/ant-component-mapper/src/files/sub-form.js
  packages/ant-component-mapper/src/files/switch.js
  packages/ant-component-mapper/src/files/tabs.js
  packages/ant-component-mapper/src/files/text-field.js
  packages/ant-component-mapper/src/files/textarea.js
  packages/ant-component-mapper/src/files/time-picker.js
  packages/ant-component-mapper/src/files/wizard.js
  packages/ant-component-mapper/src/files/wizard/step-buttons.js
  packages/ant-component-mapper/src/files/wizard/wizard-step.js
  packages/ant-component-mapper/src/index.js
Labels: ANT, enhancement

#634 fix(ant): Added slider component.
  packages/ant-component-mapper/demo/demo-schemas/slider-schema.js
  packages/ant-component-mapper/demo/index.js
  packages/ant-component-mapper/src/files/slider.js
  packages/ant-component-mapper/src/tests/slider.test.js
Labels: ANT

#636 Make PF4 wizard more translatable
  packages/common/src/wizard/reducer.js
  packages/pf4-component-mapper/demo/index.js
  packages/pf4-component-mapper/src/files/wizard.d.ts
  packages/pf4-component-mapper/src/files/wizard/wizard-nav.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
  packages/react-renderer-demo/src/doc-components/examples-texts/pf4/pf4-wizard.md
Labels: PF4, bug

#638 fix(pf4): allow translated strings in select
  packages/pf4-component-mapper/demo/demo-schemas/select-schema.js
  packages/pf4-component-mapper/demo/index.js
  packages/pf4-component-mapper/src/common/select/menu.js
  packages/pf4-component-mapper/src/common/select/select.js
  packages/pf4-component-mapper/src/files/select.d.ts
  packages/pf4-component-mapper/src/tests/select/select.test.js
Labels: PF4, bug

#640 Make headers consistent
  packages/react-renderer-demo/src/helpers/list-of-contents.js
  packages/react-renderer-demo/src/pages/components/field-array.md
  packages/react-renderer-demo/src/pages/components/renderer.md
  packages/react-renderer-demo/src/pages/development-setup.md
  packages/react-renderer-demo/src/pages/mappers/action-mapper.md
  packages/react-renderer-demo/src/pages/mappers/component-api.md
  packages/react-renderer-demo/src/pages/schema/clear-on-unmount.md
Labels: docs, enhancement

#639 Add example for validator mapper
  packages/react-renderer-demo/src/examples/components/validator-mapper.js
  packages/react-renderer-demo/src/pages/mappers/validator-mapper.md
Labels: docs, enhancement

#641 Add missing components to components API
  packages/react-renderer-demo/src/pages/mappers/component-api.md
Labels: bug, docs

#642 Fix(ant): add tests for ant mapper
  packages/ant-component-mapper/src/files/slider.js
  packages/ant-component-mapper/src/files/tabs.js
  packages/ant-component-mapper/src/tests/.eslintrc
  packages/ant-component-mapper/src/tests/checkbox.test.js
  packages/ant-component-mapper/src/tests/components.test.js
  packages/ant-component-mapper/src/tests/dual-list-select.test.js
  packages/ant-component-mapper/src/tests/field-array.test.js
  packages/ant-component-mapper/src/tests/plain-text.test.js
  packages/ant-component-mapper/src/tests/select.test.js
  packages/ant-component-mapper/src/tests/slider.test.js
  packages/ant-component-mapper/src/tests/subform.test.js
  packages/ant-component-mapper/src/tests/tabs.test.js
Labels: ANT, Technical debt

#643 fix(ant):r remove name from form.item to use layout component
  packages/ant-component-mapper/demo/index.js
  packages/ant-component-mapper/src/common/form-wrapper.js
Labels: ANT, Technical debt

#644 Add eslintrc to test folder in template
  templates/component-mapper/src/tests/.eslintrc
Labels: Technical debt

#648 feat(pf4): introduce StepTemplate
  packages/pf4-component-mapper/demo/index.js
  packages/pf4-component-mapper/src/files/wizard.d.ts
  packages/pf4-component-mapper/src/files/wizard.js
  packages/pf4-component-mapper/src/files/wizard/wizard-step.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard-step.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/wizard-nav.test.js
  packages/pf4-component-mapper/src/tests/wizard/wizard-step.test.js
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
  packages/react-renderer-demo/src/doc-components/examples-texts/pf4/pf4-wizard.md
Labels: PF4, enhancement

#647 fix(ANT): add types for components
  packages/ant-component-mapper/package.json
  packages/ant-component-mapper/src/files/checkbox.d.ts
  packages/ant-component-mapper/src/files/component-mapper.d.ts
  packages/ant-component-mapper/src/files/date-picker.d.ts
  packages/ant-component-mapper/src/files/dual-list-select.d.ts
  packages/ant-component-mapper/src/files/field-array.d.ts
  packages/ant-component-mapper/src/files/form-group.d.ts
  packages/ant-component-mapper/src/files/form-template.d.ts
  packages/ant-component-mapper/src/files/plain-text.d.ts
  packages/ant-component-mapper/src/files/plain-text.js
  packages/ant-component-mapper/src/files/radio.d.ts
  packages/ant-component-mapper/src/files/radio.js
  packages/ant-component-mapper/src/files/select.d.ts
  packages/ant-component-mapper/src/files/slider.d.ts
  packages/ant-component-mapper/src/files/sub-form.d.ts
  packages/ant-component-mapper/src/files/switch.d.ts
  packages/ant-component-mapper/src/files/tabs.d.ts
  packages/ant-component-mapper/src/files/text-field.d.ts
  packages/ant-component-mapper/src/files/textarea.d.ts
  packages/ant-component-mapper/src/files/time-picker.d.ts
  packages/ant-component-mapper/src/files/wizard.d.ts
  packages/ant-component-mapper/tsconfig.json
Labels: ANT, Technical debt

#654 PF3 datepicker test timezone fix
  globalSetup.js
  package.json
Labels: Technical debt

#651 Introduce resolve props
  packages/react-form-renderer/src/files/field.d.ts
  packages/react-form-renderer/src/files/use-field-api.js
  packages/react-form-renderer/src/form-renderer/render-form.js
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
  packages/react-renderer-demo/src/components/navigation/schemas/schema.schema.js
  packages/react-renderer-demo/src/examples/components/resolve-props.js
  packages/react-renderer-demo/src/pages/schema/introduction.md
  packages/react-renderer-demo/src/pages/schema/resolve-props.md
Labels: enhancement, renderer

#645 Ant demo page
  packages/react-renderer-demo/public/ant-logo.svg
  packages/react-renderer-demo/scripts/generate-component-examples.js
  packages/react-renderer-demo/src/components/component-example.js
  packages/react-renderer-demo/src/components/landing-page/landing-page-cards.js
  packages/react-renderer-demo/src/components/navigation/schemas/mappers.schema.js
  packages/react-renderer-demo/src/doc-components/examples-texts/ant/ant-field-array.md
  packages/react-renderer-demo/src/doc-components/examples-texts/ant/ant-wizard.md
  packages/react-renderer-demo/src/doc-components/field-array.js
  packages/react-renderer-demo/src/doc-components/wizard.js
  packages/react-renderer-demo/src/helpers/available-mappers.js
  packages/react-renderer-demo/src/helpers/generic-mui-component.js
  packages/react-renderer-demo/src/pages/mappers/ant-component-mapper.md
  packages/react-renderer-demo/src/stackblitz-templates/ant-templates.js
Labels: ANT, docs

#653 Use pf4 select component
  packages/pf4-component-mapper/demo/demo-schemas/select-schema.js
  packages/pf4-component-mapper/demo/index.js
  packages/pf4-component-mapper/src/common/select/input.js
  packages/pf4-component-mapper/src/common/select/menu.js
  packages/pf4-component-mapper/src/common/select/menu.scss
  packages/pf4-component-mapper/src/common/select/select-styles.scss
  packages/pf4-component-mapper/src/common/select/select.js
  packages/pf4-component-mapper/src/common/select/value-container.js
Labels: PF4, bug

#656 Update ant demo
  packages/react-renderer-demo/public/ant-logo.svg
  packages/react-renderer-demo/scripts/generate-component-examples.js
  packages/react-renderer-demo/src/components/component-example.js
  packages/react-renderer-demo/src/components/landing-page/landing-page-cards.js
  packages/react-renderer-demo/src/components/navigation/schemas/mappers.schema.js
  packages/react-renderer-demo/src/doc-components/examples-texts/ant/ant-field-array.md
  packages/react-renderer-demo/src/doc-components/examples-texts/ant/ant-wizard.md
  packages/react-renderer-demo/src/doc-components/field-array.js
  packages/react-renderer-demo/src/doc-components/wizard.js
  packages/react-renderer-demo/src/helpers/available-mappers.js
  packages/react-renderer-demo/src/helpers/generic-mui-component.js
  packages/react-renderer-demo/src/pages/mappers/ant-component-mapper.md
  packages/react-renderer-demo/src/stackblitz-templates/ant-templates.js
Labels: ANT, docs

#657 feat(manager): create subscription based state manager
  packages/form-state-manager/demo/index.js
  packages/form-state-manager/src/files/form-manager-context.js
  packages/form-state-manager/src/files/form-state-manager.js
  packages/form-state-manager/src/files/use-field.js
  packages/form-state-manager/src/utils/get-form-values.js
  packages/form-state-manager/src/utils/state-manager-reducer.js
  packages/form-state-manager/src/utils/use-subscription.js
Labels: State manager

#659 fix(pf4): allow more customization
  packages/pf4-component-mapper/src/common/form-group.js
  packages/pf4-component-mapper/src/files/checkbox.d.ts
  packages/pf4-component-mapper/src/files/checkbox.js
  packages/pf4-component-mapper/src/files/date-picker.js
  packages/pf4-component-mapper/src/files/dual-list-select.d.ts
  packages/pf4-component-mapper/src/files/dual-list-select.js
  packages/pf4-component-mapper/src/files/form-group.d.ts
  packages/pf4-component-mapper/src/files/radio.js
  packages/pf4-component-mapper/src/files/select.js
  packages/pf4-component-mapper/src/files/slider.js
  packages/pf4-component-mapper/src/files/switch.js
  packages/pf4-component-mapper/src/files/text-field.js
  packages/pf4-component-mapper/src/files/textarea.js
  packages/pf4-component-mapper/src/files/time-picker.js
  packages/pf4-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
Labels: PF4, enhancement

#660 Pf4 select updates
  packages/pf4-component-mapper/demo/demo-schemas/select-schema.js
  packages/pf4-component-mapper/demo/index.js
  packages/pf4-component-mapper/src/common/select/input.js
  packages/pf4-component-mapper/src/common/select/select.js
Labels: PF4, bug

#661 fix(pf4): fix select lingering filter value
  packages/pf4-component-mapper/demo/demo-schemas/select-schema.js
  packages/pf4-component-mapper/demo/index.js
  packages/pf4-component-mapper/src/common/select/input.js
  packages/pf4-component-mapper/src/common/select/select.js
  packages/pf4-component-mapper/src/common/select/value-container.js
Labels: PF4, bug

#662 fix(pf4): prevent select filter trigger on value selection
  packages/pf4-component-mapper/demo/demo-schemas/select-schema.js
  packages/pf4-component-mapper/src/common/select/select.js
Labels: PF4, bug

#663 fix(pf4): prevent portal menu warping on open
  packages/pf4-component-mapper/src/common/select/select.js
Labels: PF4, bug
