Repository data-driven-forms/react-forms, pull requests merged in 2021-04, with the labels that each got.

#1019 Fix lint (seriously)
  .eslintrc.json
  packages/ant-component-mapper/src/field-array/field-array.js
  packages/blueprint-component-mapper/src/field-array/field-array.js
  packages/carbon-component-mapper/src/field-array/field-array.js
  packages/mui-component-mapper/src/field-array/field-array.js
  packages/pf4-component-mapper/src/date-picker/date-picker.js
  packages/pf4-component-mapper/src/dual-list-select/dual-list-select.js
  packages/pf4-component-mapper/src/field-array/field-array.js
  packages/pf4-component-mapper/src/tests/dual-list-select.test.js
  packages/pf4-component-mapper/src/tests/dual-list-tree-select.test.js
  packages/pf4-component-mapper/src/tests/form-fields.test.js
  packages/pf4-component-mapper/src/time-picker/time-picker.js
  packages/react-form-renderer/src/form-renderer/form-renderer.js
  packages/react-form-renderer/src/form-renderer/render-form.js
  packages/react-form-renderer/src/get-condition-triggers/get-condition-triggers.js
  packages/react-form-renderer/src/tests/form-renderer/form-renderer.test.js
  packages/react-form-renderer/src/tests/form-renderer/use-field-api.test.js
  packages/react-form-renderer/src/tests/get-condition-triggers/get-condition-triggers.test.js
  packages/react-form-renderer/src/use-field-api/use-field-api.js
  packages/react-form-renderer/src/validator-mapper/validator-mapper.js
  packages/react-renderer-demo/src/examples/components/examples/custom-layout-component.js
  packages/react-renderer-demo/src/examples/components/examples/mui-one-row-layout.js
  packages/react-renderer-demo/src/examples/components/examples/resolve-props-db.js
  packages/react-renderer-demo/src/examples/components/examples/resolve-props-formspy.js
  packages/react-renderer-demo/src/examples/components/examples/resolve-props-subscription.js
  packages/react-renderer-demo/src/pages/mappers/checkbox-multiple.js
  packages/react-renderer-demo/src/pages/mappers/checkbox.js
  packages/react-renderer-demo/src/pages/mappers/date-picker.js
  packages/react-renderer-demo/src/pages/mappers/dual-list-select.js
  packages/react-renderer-demo/src/pages/mappers/field-array.js
  packages/react-renderer-demo/src/pages/mappers/plain-text.js
  packages/react-renderer-demo/src/pages/mappers/radio.js
  packages/react-renderer-demo/src/pages/mappers/select.js
  packages/react-renderer-demo/src/pages/mappers/slider.js
  packages/react-renderer-demo/src/pages/mappers/sub-form.js
  packages/react-renderer-demo/src/pages/mappers/switch.js
  packages/react-renderer-demo/src/pages/mappers/tabs.js
  packages/react-renderer-demo/src/pages/mappers/text-field.js
  packages/react-renderer-demo/src/pages/mappers/textarea.js
  packages/react-renderer-demo/src/pages/mappers/time-picker.js
  packages/react-renderer-demo/src/pages/mappers/wizard.js
  packages/suir-component-mapper/src/field-array/field-array.js
  packages/suir-component-mapper/src/helpers/helpers.js
Labels: Technical debt, common

#1023 fix(carbon): combobox initial value label
  packages/carbon-component-mapper/src/select/select.js
  packages/carbon-component-mapper/src/tests/select.test.js
Labels: Carbon, bug

#1024 fix(carbon): combobox initial value label
  packages/carbon-component-mapper/src/files/select.js
  packages/carbon-component-mapper/src/tests/select.test.js
Labels: Carbon, V2

#1025 Implement FieldSpy
  packages/form-state-manager/src/field-spy/field-spy.ts
  packages/form-state-manager/src/field-spy/index.ts
  packages/form-state-manager/src/index.ts
  packages/form-state-manager/src/manager-api/manager-api.ts
  packages/form-state-manager/src/tests/files/field-spy.test.js
Labels: v4

#1026 Add yarn test shortcut for each package
  README.md
  packages/ant-component-mapper/README.md
  packages/ant-component-mapper/package.json
  packages/blueprint-component-mapper/README.md
  packages/blueprint-component-mapper/package.json
  packages/carbon-component-mapper/README.md
  packages/carbon-component-mapper/package.json
  packages/common/package.json
  packages/mui-component-mapper/README.md
  packages/mui-component-mapper/package.json
  packages/parsers/README.md
  packages/parsers/package.json
  packages/pf4-component-mapper/README.md
  packages/pf4-component-mapper/package.json
  packages/react-form-renderer/README.md
  packages/react-form-renderer/package.json
  packages/react-renderer-demo/src/pages/development-setup.md
  packages/suir-component-mapper/README.md
  packages/suir-component-mapper/package.json
  templates/component-mapper/README.md
Labels: Technical debt, common

#1027 Better validate docs
  packages/react-renderer-demo/src/components/navigation/schemas/schema.schema.js
  packages/react-renderer-demo/src/examples/components/validators/custom-message.js
  packages/react-renderer-demo/src/pages/schema/custom-validator-message.md
  packages/react-renderer-demo/src/pages/schema/introduction.md
Labels: docs

#1029 Fix grid for landing page cards
  packages/react-renderer-demo/src/components/landing-page/landing-page-cards.js
Labels: bug, docs

#1028 Extract provided mappers to seperate menu subsection
  packages/react-renderer-demo/src/components/common/example-link.js
  packages/react-renderer-demo/src/components/landing-page/landing-page-cards.js
  packages/react-renderer-demo/src/components/navigation/schemas/mappers.schema.js
  packages/react-renderer-demo/src/components/navigation/schemas/provider-mappers.schema.js
  packages/react-renderer-demo/src/components/navigation/schemas/schema.js
  packages/react-renderer-demo/src/doc-components/examples-texts/blueprint/date-picker.md
  packages/react-renderer-demo/src/doc-components/examples-texts/blueprint/dual-list-select.md
  packages/react-renderer-demo/src/doc-components/examples-texts/carbon/date-picker.md
  packages/react-renderer-demo/src/doc-components/examples-texts/carbon/dual-list-select.md
  packages/react-renderer-demo/src/doc-components/examples-texts/mui/dual-list-select.md
  packages/react-renderer-demo/src/doc-components/examples-texts/mui/slider.md
  packages/react-renderer-demo/src/doc-components/examples-texts/pf4/dual-list-select.md
  packages/react-renderer-demo/src/pages/404.js
  packages/react-renderer-demo/src/pages/components/field-array.md
  packages/react-renderer-demo/src/pages/faq.md
  packages/react-renderer-demo/src/pages/installation.md
  packages/react-renderer-demo/src/pages/introduction.md
  packages/react-renderer-demo/src/pages/provided-mappers/ant-component-mapper.md
  packages/react-renderer-demo/src/pages/provided-mappers/blueprint-component-mapper.md
  packages/react-renderer-demo/src/pages/provided-mappers/carbon-component-mapper.md
  packages/react-renderer-demo/src/pages/provided-mappers/checkbox-multiple.js
  packages/react-renderer-demo/src/pages/provided-mappers/checkbox.js
  packages/react-renderer-demo/src/pages/provided-mappers/component-api.md
  packages/react-renderer-demo/src/pages/provided-mappers/date-picker.js
  packages/react-renderer-demo/src/pages/provided-mappers/dual-list-select.js
  packages/react-renderer-demo/src/pages/provided-mappers/field-array.js
  packages/react-renderer-demo/src/pages/provided-mappers/global-component-props.md
  packages/react-renderer-demo/src/pages/provided-mappers/mui-component-mapper.md
  packages/react-renderer-demo/src/pages/provided-mappers/pf4-component-mapper.md
  packages/react-renderer-demo/src/pages/provided-mappers/plain-text.js
  packages/react-renderer-demo/src/pages/provided-mappers/radio.js
  packages/react-renderer-demo/src/pages/provided-mappers/select.js
  packages/react-renderer-demo/src/pages/provided-mappers/slider.js
  packages/react-renderer-demo/src/pages/provided-mappers/sub-form.js
  packages/react-renderer-demo/src/pages/provided-mappers/suir-component-mapper.md
  packages/react-renderer-demo/src/pages/provided-mappers/switch.js
  packages/react-renderer-demo/src/pages/provided-mappers/tabs.js
  packages/react-renderer-demo/src/pages/provided-mappers/text-field.js
  packages/react-renderer-demo/src/pages/provided-mappers/textarea.js
  packages/react-renderer-demo/src/pages/provided-mappers/time-picker.js
  packages/react-renderer-demo/src/pages/provided-mappers/wizard.js
  packages/react-renderer-demo/src/pages/schema/introduction.md
  packages/react-renderer-demo/src/pages/typescript.md
Labels: docs

#1030 Update clean script to run only before build
  package.json
  packages/react-renderer-demo/src/pages/development-setup.md
Labels: Technical debt, common

#1031 Return live editor page
  packages/react-renderer-demo/package.json
  packages/react-renderer-demo/src/helpers/field-properties.js
  packages/react-renderer-demo/src/pages/live-editor.js
  yarn.lock
Labels: docs

#1032 Fix width of codeEditor in live editor page
  packages/react-renderer-demo/src/components/code-editor/index.js
  packages/react-renderer-demo/src/pages/live-editor.js
Labels: docs, enhancement

#1033 Doc fixes
  packages/react-renderer-demo/src/components/navigation/mapper.js
  packages/react-renderer-demo/src/components/navigation/schemas/mappers.schema.js
  packages/react-renderer-demo/src/pages/live-editor.js
  packages/react-renderer-demo/src/pages/mappers/global-component-props.md
Labels: Technical debt, docs

#1034 Change Renderer props from table to list
  packages/react-renderer-demo/src/pages/components/form-template.md
  packages/react-renderer-demo/src/pages/components/renderer.md
  packages/react-renderer-demo/src/pages/examples/resolve-props-example.md
  packages/react-renderer-demo/src/pages/faq.md
  packages/react-renderer-demo/src/pages/mappers/action-mapper.md
  packages/react-renderer-demo/src/pages/mappers/schema-validator-mapper.md
  packages/react-renderer-demo/src/pages/mappers/validator-mapper.md
  packages/react-renderer-demo/src/pages/schema/resolve-props.md
Labels: docs, enhancement

#1035 Add links to original components and DDF implementation
  packages/react-renderer-demo/src/components/component-example.js
  packages/react-renderer-demo/src/helpers/generic-mui-component.js
  packages/react-renderer-demo/src/helpers/original-component-link.js
Labels: docs, enhancement

#1036 Update stackblitz templates
  packages/react-renderer-demo/src/stackblitz-templates/ant-templates.js
  packages/react-renderer-demo/src/stackblitz-templates/blueprint-templates.js
  packages/react-renderer-demo/src/stackblitz-templates/carbon-templates.js
  packages/react-renderer-demo/src/stackblitz-templates/pf4-templates.js
  packages/react-renderer-demo/src/stackblitz-templates/suir-template.js
Labels: Technical debt, bug, docs

#1040 feat(mui): update duallist styling
  packages/mui-component-mapper/src/dual-list-select/dual-list-select.d.ts
  packages/mui-component-mapper/src/dual-list-select/dual-list-select.js
  packages/mui-component-mapper/src/tests/dual-list-select.test.js
  packages/react-renderer-demo/src/doc-components/examples-texts/mui/dual-list-select.md
Labels: MUI

#1039 fix(carbon): textinput type Number onchange function
  packages/carbon-component-mapper/src/tests/text-field.test.js
  packages/carbon-component-mapper/src/text-field/text-field.js
Labels: Carbon, V2, bug

#1041 Add common to stackblitz templates
  packages/common/package.json
  packages/react-renderer-demo/src/stackblitz-templates/ant-templates.js
  packages/react-renderer-demo/src/stackblitz-templates/blueprint-templates.js
  packages/react-renderer-demo/src/stackblitz-templates/carbon-templates.js
  packages/react-renderer-demo/src/stackblitz-templates/mui-templates.js
  packages/react-renderer-demo/src/stackblitz-templates/pf4-templates.js
  packages/react-renderer-demo/src/stackblitz-templates/suir-template.js
Labels: bug, docs

#1043 feat(wizard): enable conditional submit step conversion
  packages/ant-component-mapper/src/tests/wizard.test.js
  packages/ant-component-mapper/src/wizard/step-buttons.js
  packages/ant-component-mapper/src/wizard/wizard-step.js
  packages/ant-component-mapper/src/wizard/wizard.js
  packages/blueprint-component-mapper/src/tests/wizard.test.js
  packages/blueprint-component-mapper/src/wizard/step-buttons.js
  packages/blueprint-component-mapper/src/wizard/wizard.js
  packages/carbon-component-mapper/src/tests/wizard.test.js
  packages/carbon-component-mapper/src/wizard/wizard.js
  packages/common/src/wizard/consts.d.ts
  packages/common/src/wizard/consts.js
  packages/common/src/wizard/index.d.ts
  packages/common/src/wizard/index.js
  packages/common/src/wizard/wizard.d.ts
  packages/common/src/wizard/wizard.js
  packages/mui-component-mapper/src/tests/wizard.test.js
  packages/mui-component-mapper/src/wizard/step-buttons.js
  packages/mui-component-mapper/src/wizard/wizard.js
  packages/pf4-component-mapper/src/tests/wizard/step-buttons.test.js
  packages/pf4-component-mapper/src/wizard/wizard-components/step-buttons.js
  packages/pf4-component-mapper/src/wizard/wizard-components/wizard-step.js
  packages/pf4-component-mapper/src/wizard/wizard.js
  packages/react-renderer-demo/src/doc-components/examples-texts/wizard.md
  packages/suir-component-mapper/src/tests/wizard.test.js
  packages/suir-component-mapper/src/wizard/step-buttons.js
  packages/suir-component-mapper/src/wizard/wizard.js
Labels: common

#1044 Do not translate wizard flag import
  packages/react-renderer-demo/src/doc-components/examples-texts/wizard.md
Labels: bug, docs

#1045 Add example for custom wizard
  packages/react-renderer-demo/src/components/navigation/schemas/custom-examples.schema.js
  packages/react-renderer-demo/src/examples/components/examples/custom-wizard.js
  packages/react-renderer-demo/src/pages/examples/custom-wizard.md
Labels: docs

#1046 Fix wrong whitespace in PF4 dual list description
  packages/react-renderer-demo/src/doc-components/examples-texts/pf4/dual-list-select.md
Labels: Technical debt, bug, docs

#1047 Reorganize form template documentation page
  packages/react-renderer-demo/src/components/navigation/schemas/custom-examples.schema.js
  packages/react-renderer-demo/src/pages/components/form-template.md
  packages/react-renderer-demo/src/pages/examples/custom-form-buttons.md
  packages/react-renderer-demo/src/pages/examples/form-level-errors.md
Labels: docs, enhancement
