Repository data-driven-forms/react-forms, pull requests merged in 2021-06, with the labels that each got.

#1061 Add tests for common package
  packages/common/src/test/dual-list-select/dual-list-select.test.js
  packages/common/src/test/form-template/form-template.test.js
  packages/common/src/test/hooks/use-is-mounted.test.js
  packages/common/src/test/multiple-choice-list/multiple-choice-list.test.js
  packages/common/src/test/utils.test.js
  packages/common/src/test/wizard/enter-handler.test.js
  packages/common/src/test/wizard/reducer.test.js
  packages/common/src/test/wizard/select-next.test.js
  packages/common/src/test/wizard/wizard.test.js
  packages/common/src/wizard/reducer.js
  packages/pf4-component-mapper/src/tests/wizard/step-buttons.test.js
Labels: Technical debt, common

#1062 Remove demoSchema from the common package
  package.json
  packages/ant-component-mapper/demo/index.js
  packages/blueprint-component-mapper/demo/index.js
  packages/carbon-component-mapper/demo/index.js
  packages/common/README.md
  packages/mui-component-mapper/demo/index.js
  packages/pf4-component-mapper/demo/index.js
  packages/suir-component-mapper/demo/index.js
  shared/demoschema/demoschema.d.ts
  shared/demoschema/demoschema.js
  shared/demoschema/index.d.ts
  shared/demoschema/index.js
  templates/component-mapper/demo/index.js
Labels: Technical debt, common

#1063 Add tests for common select
  packages/common/src/select/reducer.js
  packages/common/src/select/select.js
  packages/common/src/test/select/parse-internal-value.test.js
  packages/common/src/test/select/select.test.js
Labels: Technical debt, common

#1064 Disable building tests for common package
  packages/common/package.json
  packages/common/src/tests/dual-list-select/dual-list-select.test.js
  packages/common/src/tests/form-template/form-template.test.js
  packages/common/src/tests/hooks/use-is-mounted.test.js
  packages/common/src/tests/multiple-choice-list/multiple-choice-list.test.js
  packages/common/src/tests/select/parse-internal-value.test.js
  packages/common/src/tests/select/select.test.js
  packages/common/src/tests/utils.test.js
  packages/common/src/tests/wizard/enter-handler.test.js
  packages/common/src/tests/wizard/reducer.test.js
  packages/common/src/tests/wizard/select-next.test.js
  packages/common/src/tests/wizard/wizard.test.js
Labels: Technical debt, common

#1067 Add is multi option to select docs.
  packages/react-renderer-demo/src/pages/provided-mappers/select.js
Labels: docs

#1071 Add ability to validate fields in the form schema separately
  packages/react-form-renderer/src/form-renderer/render-form.js
  packages/react-form-renderer/src/get-validates/get-validates.d.ts
  packages/react-form-renderer/src/get-validates/get-validates.js
  packages/react-form-renderer/src/get-validates/index.d.ts
  packages/react-form-renderer/src/get-validates/index.js
  packages/react-form-renderer/src/get-visible-fields/get-visible-fields.d.ts
  packages/react-form-renderer/src/get-visible-fields/get-visible-fields.js
  packages/react-form-renderer/src/get-visible-fields/index.d.ts
  packages/react-form-renderer/src/get-visible-fields/index.js
  packages/react-form-renderer/src/prepare-component-props/index.d.ts
  packages/react-form-renderer/src/prepare-component-props/index.js
  packages/react-form-renderer/src/prepare-component-props/prepare-component-props.d.ts
  packages/react-form-renderer/src/prepare-component-props/prepare-component-props.js
  packages/react-form-renderer/src/tests/validation/get-validates.test.js
  packages/react-form-renderer/src/tests/validation/get-visible-fields.test.js
  packages/react-form-renderer/src/tests/validation/validation.test.js
  packages/react-form-renderer/src/validation/index.d.ts
  packages/react-form-renderer/src/validation/index.js
  packages/react-form-renderer/src/validation/validation.d.ts
  packages/react-form-renderer/src/validation/validation.js
  packages/react-renderer-demo/src/components/navigation/schemas/schema.js
  packages/react-renderer-demo/src/components/navigation/schemas/utilities.schema.js
  packages/react-renderer-demo/src/examples/components/utilities/standalone-validation.js
  packages/react-renderer-demo/src/pages/utilities/standalone-validation.md
Labels: enhancement, renderer

#1073 fix(pf4): add missing isRequired prop
  packages/pf4-component-mapper/src/text-field/text-field.js
  packages/pf4-component-mapper/src/textarea/textarea.js
Labels: PF4, bug

#1074 Correct checkbox-multiple links in demo
  packages/react-renderer-demo/src/components/component-example.js
Labels: bug, docs

#1076 Add example for a value listener
  packages/react-renderer-demo/src/components/navigation/schemas/custom-examples.schema.js
  packages/react-renderer-demo/src/examples/components/examples/value-listener-b.js
  packages/react-renderer-demo/src/examples/components/examples/value-listener.js
  packages/react-renderer-demo/src/pages/examples/value-listener.md
Labels: docs

#1077 Add alert for examples that do not work
  packages/react-renderer-demo/src/components/component-example.js
Labels: Technical debt, docs

#1078 fix(carbon): fix empty initial value in multi select
  packages/carbon-component-mapper/src/select/select.js
  packages/carbon-component-mapper/src/tests/select.test.js
Labels: Carbon, bug

#1079 fix(carbon): fix empty initial value in multi select
  packages/carbon-component-mapper/src/files/select.js
  packages/carbon-component-mapper/src/tests/select.test.js
Labels: Carbon, V2, bug

#1081 fix(carbon): pass isMulti to ddf select
  packages/carbon-component-mapper/src/select/select.js
Labels: Carbon, backport-v2, bug

#1082 fix(carbon): pass isMulti to ddf select
  packages/carbon-component-mapper/src/files/select.js
Labels: Carbon, V2, bug

#1083 fix(common): transform react-jss to esm/cjs
  packages/common/babel.config.js
Labels: Technical debt, common

#1084 Fix all demo examples and remove the alert
  packages/react-renderer-demo/src/components/component-example.js
  packages/react-renderer-demo/src/stackblitz-templates/blueprint-templates.js
  packages/react-renderer-demo/src/stackblitz-templates/carbon-templates.js
  packages/react-renderer-demo/src/stackblitz-templates/suir-template.js
Labels: bug, docs

#1088 Add custom action to show next version in comments
  .github/workflows/main.yml
  packages/react-renderer-demo/firebaseFunctions.js
  packages/react-renderer-demo/package.json
  yarn.lock
Labels: common, enhancement

#1086 Select all
  packages/carbon-component-mapper/src/select/select.js
  packages/carbon-component-mapper/src/tests/select.test.js
  packages/common/src/select/select.js
  packages/common/src/tests/select/select.test.js
  packages/react-renderer-demo/src/doc-components/examples-texts/carbon/select.md
  packages/react-renderer-demo/src/doc-components/examples-texts/mui/select.md
  packages/react-renderer-demo/src/doc-components/examples-texts/pf4/select.md
  packages/react-renderer-demo/src/doc-components/examples-texts/select.md
  packages/react-renderer-demo/src/doc-components/examples-texts/suir/select.md
Labels: Carbon, common

#612 Add tsc config to check d.ts files
  packages/ant-component-mapper/src/form-group/form-group.d.ts
  packages/carbon-component-mapper/src/checkbox/checkbox.d.ts
  packages/carbon-component-mapper/src/date-picker/date-picker.d.ts
  packages/carbon-component-mapper/src/dual-list-select/dual-list-select.d.ts
  packages/carbon-component-mapper/src/field-array/field-array.d.ts
  packages/carbon-component-mapper/src/radio/radio.d.ts
  packages/carbon-component-mapper/src/select/select.d.ts
  packages/carbon-component-mapper/src/slider/slider.d.ts
  packages/carbon-component-mapper/src/switch/switch.d.ts
  packages/carbon-component-mapper/src/text-field/text-field.d.ts
  packages/carbon-component-mapper/src/textarea/textarea.d.ts
  packages/carbon-component-mapper/src/time-picker/time-picker.d.ts
  packages/react-form-renderer/src/get-condition-triggers/get-condition-triggers.d.ts
  tsconfig.json
  typings.d.ts
Labels: Technical debt

#1089 fix(carbon): fix multiple checkbox by correctly passing event
  packages/carbon-component-mapper/src/checkbox/checkbox.js
  packages/carbon-component-mapper/src/tests/checkbox.test.js
Labels: Carbon, backport-v2, bug

#1090 Limit github action only for master branch
  .github/workflows/main.yml
Labels: common

#1091 fix(carbon): fix multiple checkbox by correctly passing event
  packages/carbon-component-mapper/src/files/checkbox.js
  packages/carbon-component-mapper/src/tests/checkbox.test.js
Labels: Carbon, V2, bug

#1092 feat(carbon): allow to group options in single select
  packages/carbon-component-mapper/src/select/select.js
  packages/carbon-component-mapper/src/tests/select.test.js
  packages/react-renderer-demo/src/doc-components/examples-texts/carbon/select.md
Labels: Carbon, enhancement

#1093 Fix wrong space character in demo
  packages/react-renderer-demo/src/doc-components/examples-texts/carbon/select.md
Labels: Technical debt, bug, docs

#1094 feat(mui): add form error alert
  packages/mui-component-mapper/src/form-template/form-template.js
  packages/mui-component-mapper/src/tests/form-template.test.js
Labels: MUI, enhancement

#1095 feat(carbon): allow to group options in single select
  packages/carbon-component-mapper/src/files/select.js
  packages/carbon-component-mapper/src/tests/select.test.js
Labels: Carbon, backport-v2

#1096 fix(common): no default conversion for react-jss
  packages/common/babel.config.js
Labels: bug, common

#1097 Add schemas variant for demo
  packages/react-renderer-demo/src/components/component-example-text.js
  packages/react-renderer-demo/src/components/component-example.js
  packages/react-renderer-demo/src/doc-components/examples-texts/select.md
  packages/react-renderer-demo/src/helpers/update-field-schema.js
  packages/react-renderer-demo/src/pages/provided-mappers/select.js
Labels: docs, enhancement

#1098 Add button for expanding/hiding options in examples
  packages/react-renderer-demo/src/components/component-example.js
Labels: docs, enhancement

#1099 fix(carbon): do not send component in radio to not set type
  packages/carbon-component-mapper/src/radio/radio.js
Labels: Carbon, bug

#1100 fix(carbon): do not send component in radio to not set type
  packages/carbon-component-mapper/src/files/radio.js
Labels: Carbon, V2, bug
