Repository data-driven-forms/react-forms, pull requests merged in 2021-11, with the labels that each got.

#1163 Add migration guide for MUI5
  packages/react-renderer-demo/src/pages/provided-mappers/mui-component-mapper.md
Labels: docs

#1166 Update types generator to use correct variable/function names.
  packages/ant-component-mapper/src/validation-error/validation-error.d.ts
  packages/mui-component-mapper/src/validation-error/validation-error.d.ts
  packages/react-form-renderer/src/component-types/component-types.d.ts
  packages/react-form-renderer/src/data-types/data-types.d.ts
  packages/react-form-renderer/src/validator-types/validator-types.d.ts
  scripts/generate-typings.js
Labels: bug, Technical debt, common

#1167 Update color theme
  packages/react-renderer-demo/src/pages/_document.js
Labels: docs, Technical debt

#1169 fix(mui): use correct styled import
  packages/mui-component-mapper/package.json
  packages/mui-component-mapper/src/dual-list-select/dual-list-select.js
  packages/react-renderer-demo/package.json
  yarn.lock
Labels: bug, MUI

#1170 fix(pf4): use options from field hook
  packages/pf4-component-mapper/src/radio/radio.js
Labels: bug, PF4

#1171 Update form builder to MUI5
  packages/react-renderer-demo/package.json
  packages/react-renderer-demo/src/pages/live-editor.js
  yarn.lock
Labels: docs, Technical debt, dependencies
