Repository data-driven-forms/react-forms, pull requests merged in 2021-02, with the labels that each got.

#955 feat(pf4): use original PF4 slider
  packages/pf4-component-mapper/src/files/slider.js
  packages/pf4-component-mapper/src/files/slider.scss
  packages/pf4-component-mapper/src/tests/form-fields.test.js
  packages/react-renderer-demo/src/doc-components/examples-texts/pf4/slider.md
  packages/react-renderer-demo/src/helpers/generic-mui-component.js
Labels: PF4, enhancement

#957 fix(doc): Fix minor typo
  packages/react-renderer-demo/src/pages/schema/introduction.md
Labels: docs

#956 Add validateOnMount option
  packages/pf4-component-mapper/README.md
  packages/pf4-component-mapper/src/common/form-group.js
  packages/pf4-component-mapper/src/common/show-error.js
  packages/pf4-component-mapper/src/files/checkbox.js
  packages/pf4-component-mapper/src/files/date-picker.js
  packages/pf4-component-mapper/src/files/dual-list-select.js
  packages/pf4-component-mapper/src/files/radio.js
  packages/pf4-component-mapper/src/files/select.js
  packages/pf4-component-mapper/src/files/slider.js
  packages/pf4-component-mapper/src/files/switch.js
  packages/pf4-component-mapper/src/files/text-field.js
  packages/pf4-component-mapper/src/files/textarea.js
  packages/pf4-component-mapper/src/files/time-picker.js
  packages/pf4-component-mapper/src/tests/form-fields.test.js
  packages/pf4-component-mapper/src/tests/show-error.test.js
Labels: PF4

#958 fix(pf4): fix wizard classname prop
  packages/pf4-component-mapper/src/files/wizard.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
Labels: PF4, bug

#959 fix(pf4): add class for cancel wizard button
  packages/pf4-component-mapper/src/files/wizard/step-buttons.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/step-buttons.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard-step.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
Labels: PF4

#962 fix(pf4): use pf modal for wizard
  packages/common/src/wizard/enter-handler.js
  packages/pf4-component-mapper/src/files/wizard.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/step-buttons.test.js
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
Labels: PF4, Technical debt

#964 Sync with master
  package.json
  packages/ant-component-mapper/package.json
  packages/blueprint-component-mapper/package.json
  packages/carbon-component-mapper/package.json
  packages/carbon-component-mapper/src/form-template/form-template.js
  packages/carbon-component-mapper/src/sub-form/sub-form.js
  packages/carbon-component-mapper/src/tests/components.test.js
  packages/carbon-component-mapper/src/text-field/text-field.js
  packages/common/package.json
  packages/common/src/wizard/enter-handler.js
  packages/mui-component-mapper/package.json
  packages/parsers/package.json
  packages/pf4-component-mapper/README.md
  packages/pf4-component-mapper/package.json
  packages/pf4-component-mapper/src/checkbox/checkbox.js
  packages/pf4-component-mapper/src/common/show-error.js
  packages/pf4-component-mapper/src/date-picker/date-picker.js
  packages/pf4-component-mapper/src/dual-list-context/dual-list-context.d.ts
  packages/pf4-component-mapper/src/dual-list-context/dual-list-context.js
  packages/pf4-component-mapper/src/dual-list-context/index.d.ts
  packages/pf4-component-mapper/src/dual-list-context/index.js
  packages/pf4-component-mapper/src/dual-list-select/dual-list-select.d.ts
  packages/pf4-component-mapper/src/dual-list-select/dual-list-select.js
  packages/pf4-component-mapper/src/dual-list-sort-button/dual-list-sort-button.d.ts
  packages/pf4-component-mapper/src/dual-list-sort-button/dual-list-sort-button.js
  packages/pf4-component-mapper/src/dual-list-sort-button/index.d.ts
  packages/pf4-component-mapper/src/dual-list-sort-button/index.js
  packages/pf4-component-mapper/src/form-group/form-group.js
  packages/pf4-component-mapper/src/index.js
  packages/pf4-component-mapper/src/radio/radio.js
  packages/pf4-component-mapper/src/select/select.js
  packages/pf4-component-mapper/src/slider/slider.js
  packages/pf4-component-mapper/src/switch/switch.js
  packages/pf4-component-mapper/src/tests/dual-list-select.test.js
  packages/pf4-component-mapper/src/tests/form-fields.test.js
  packages/pf4-component-mapper/src/tests/show-error.test.js
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/step-buttons.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/__snapshots__/wizard-step.test.js.snap
  packages/pf4-component-mapper/src/tests/wizard/step-buttons.test.js
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
  packages/pf4-component-mapper/src/text-field/text-field.js
  packages/pf4-component-mapper/src/textarea/textarea.js
  packages/pf4-component-mapper/src/time-picker/time-picker.js
  packages/pf4-component-mapper/src/wizard/wizard-components/step-buttons.js
  packages/pf4-component-mapper/src/wizard/wizard.js
  packages/react-form-renderer/package.json
  packages/react-renderer-demo/package.json
  packages/react-renderer-demo/src/doc-components/examples-texts/carbon/sub-form.md
  packages/react-renderer-demo/src/doc-components/examples-texts/pf4/dual-list-select.md
  packages/react-renderer-demo/src/doc-components/examples-texts/pf4/slider.md
  packages/react-renderer-demo/src/helpers/generic-mui-component.js
  packages/react-renderer-demo/src/pages/schema/introduction.md
  packages/react-renderer-demo/src/stackblitz-templates/mui-templates.js
  packages/suir-component-mapper/package.json
  yarn.lock
Labels: State manager, Technical debt
