Repository data-driven-forms/react-forms, pull requests merged in 2021-08, with the labels that each got.

#1104 Add tree variant for dual list select demo
  packages/react-renderer-demo/src/pages/provided-mappers/dual-list-select.js
Labels: docs

#1110 Fix wrong set of Date
  packages/react-form-renderer/src/tests/form-renderer/enhanced-on-change.test.js
  packages/react-form-renderer/src/use-field-api/enhanced-on-change.js
Labels: bug, renderer

#1112 Fix wrong link in to example button
  packages/react-renderer-demo/src/components/common/example-link.js
Labels: bug, docs

#1114 Add description to pf select
  packages/pf4-component-mapper/src/select/select/option.js
  packages/pf4-component-mapper/src/tests/select/select.test.js
  packages/react-renderer-demo/src/doc-components/examples-texts/pf4/select.md
Labels: enhancement, PF4

#1115 Update repository attributes in package.json s
  package.json
  packages/ant-component-mapper/package.json
  packages/blueprint-component-mapper/package.json
  packages/carbon-component-mapper/package.json
  packages/common/package.json
  packages/mui-component-mapper/package.json
  packages/parsers/package.json
  packages/pf4-component-mapper/package.json
  packages/react-form-renderer/package.json
  packages/react-renderer-demo/package.json
  packages/suir-component-mapper/package.json
  templates/component-mapper/package.json
Labels: Technical debt

#1116 Update bot message
  package.json
Labels: Technical debt
