Repository data-driven-forms/react-forms, pull requests merged in 2021-03, with the labels that each got.

#965 Add Copyright to documenation page
  packages/react-renderer-demo/src/components/footer.js
  packages/react-renderer-demo/src/pages/_document.js
Labels: Technical debt, docs

#968 fix(ant,pf4): copy css to build folders
  packages/ant-component-mapper/package.json
  packages/pf4-component-mapper/package.json
  scripts/copy-css.js
Labels: v3

#971 Update demo code editor
  packages/react-renderer-demo/src/components/code-editor/index.js
  packages/react-renderer-demo/src/components/code-editor/transform-imports.js
  packages/react-renderer-demo/src/components/landing-page/landing-page-cards.js
  packages/react-renderer-demo/src/components/mdx/mdx-components.js
  packages/react-renderer-demo/src/pages/components/renderer.md
  packages/react-renderer-demo/src/pages/mappers/custom-mapper.md
  packages/react-renderer-demo/src/pages/optimization.md
  packages/react-renderer-demo/src/pages/testing.md
Labels: docs, v3

#972 Add migration guide to V3
  packages/react-renderer-demo/src/components/code-editor/index.js
  packages/react-renderer-demo/src/components/navigation/schemas/schema.js
  packages/react-renderer-demo/src/pages/migration-guide-v3.md
  packages/react-renderer-demo/src/pages/optimization.md
Labels: docs, v3

#974 fix(ant): Fix missing default export
  packages/ant-component-mapper/src/validation-error/validation-error.js
Labels: bug, v3

#976 MAINT: fix typos in documentation
  packages/react-renderer-demo/src/pages/schema/introduction.md
Labels: bug, docs

#977 feat(mui): allow customization for field array
  packages/mui-component-mapper/src/files/field-array.d.ts
  packages/mui-component-mapper/src/files/field-array.js
  packages/react-renderer-demo/src/doc-components/examples-texts/mui/field-array.md
Labels: MUI, enhancement

#979 Merge branch 'master' into updateV3
  packages/ant-component-mapper/package.json
  packages/blueprint-component-mapper/package.json
  packages/carbon-component-mapper/package.json
  packages/common/package.json
  packages/mui-component-mapper/package.json
  packages/mui-component-mapper/src/field-array/field-array.d.ts
  packages/mui-component-mapper/src/field-array/field-array.js
  packages/parsers/package.json
  packages/pf4-component-mapper/package.json
  packages/react-form-renderer/package.json
  packages/react-renderer-demo/package.json
  packages/react-renderer-demo/src/doc-components/examples-texts/mui/field-array.md
  packages/react-renderer-demo/src/pages/schema/introduction.md
  packages/suir-component-mapper/package.json
Labels: v3

#982 fix(renderer): fix numbers conversions
  packages/react-form-renderer/src/common/index.js
  packages/react-form-renderer/src/tests/form-renderer/data-types.test.js
  packages/react-form-renderer/src/use-field-api/convert-type.js
Labels: bug, renderer

#985 Update monorepo release to fix CI
  package.json
  yarn.lock
Labels: Technical debt, bug

#981 fix(renderer): do not use common to import PropTypes.node
  packages/react-form-renderer/src/form-renderer/render-form.js
Labels: renderer

#983 [V2] fix(renderer): fix numbers conversions
  packages/react-form-renderer/package.json
  packages/react-form-renderer/src/common/convert-type.js
  packages/react-form-renderer/src/tests/form-renderer/data-types.test.js
Labels: V2, bug, renderer

#987 feat(renderer): introduce FieldProps
  packages/common/src/dual-list-select/dual-list-select.js
  packages/mui-component-mapper/demo/index.js
  packages/pf4-component-mapper/src/dual-list-select/dual-list-select.js
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
  packages/react-form-renderer/src/tests/form-renderer/use-field-api.test.js
  packages/react-form-renderer/src/use-field-api/use-field-api.js
  packages/react-renderer-demo/src/pages/migration-guide-v3.md
  packages/react-renderer-demo/src/pages/schema/introduction.md
Labels: renderer

#998 Add example for one-row-layout
  packages/react-renderer-demo/src/components/navigation/schemas/custom-examples.schema.js
  packages/react-renderer-demo/src/examples/components/examples/mui-one-row-layout.js
  packages/react-renderer-demo/src/pages/examples/mui-one-row-layout.md
  packages/react-renderer-demo/src/pages/schema/introduction.md
Labels: docs

#1002 Add examples to demo
  packages/react-renderer-demo/src/components/navigation/schemas/custom-examples.schema.js
  packages/react-renderer-demo/src/examples/components/examples/custom-layout-component.js
  packages/react-renderer-demo/src/examples/components/examples/resolve-props-db.js
  packages/react-renderer-demo/src/examples/components/examples/resolve-props-formspy.js
  packages/react-renderer-demo/src/examples/components/examples/resolve-props-subscription.js
  packages/react-renderer-demo/src/pages/examples/custom-layout-component.md
  packages/react-renderer-demo/src/pages/examples/resolve-props-db.md
  packages/react-renderer-demo/src/pages/examples/resolve-props-example.md
Labels: docs

#1003 Fix cleaning build files
  packages/common/.gitignore
  scripts/clean-build.js
Labels: Technical debt, bug, common

#1005 Merge master manager
  packages/common/.gitignore
  packages/react-renderer-demo/src/components/navigation/schemas/custom-examples.schema.js
  packages/react-renderer-demo/src/examples/components/examples/custom-layout-component.js
  packages/react-renderer-demo/src/examples/components/examples/resolve-props-db.js
  packages/react-renderer-demo/src/examples/components/examples/resolve-props-formspy.js
  packages/react-renderer-demo/src/examples/components/examples/resolve-props-subscription.js
  packages/react-renderer-demo/src/pages/examples/custom-layout-component.md
  packages/react-renderer-demo/src/pages/examples/resolve-props-db.md
  packages/react-renderer-demo/src/pages/examples/resolve-props-example.md
  scripts/clean-build.js
Labels: State manager

#1010 Use original DatePicker and TimePicker PF4 components
  packages/ant-component-mapper/package.json
  packages/mui-component-mapper/package.json
  packages/pf4-component-mapper/package.json
  packages/pf4-component-mapper/src/date-picker/date-picker.js
  packages/pf4-component-mapper/src/tests/form-fields.test.js
  packages/pf4-component-mapper/src/tests/form-template-common.test.js
  packages/pf4-component-mapper/src/time-picker/time-picker.js
  packages/suir-component-mapper/package.json
  yarn.lock
Labels: PF4

#1014 fix(antd): antd switch should bind 'checked' not 'value'
  packages/ant-component-mapper/src/switch/switch.js
Labels: ANT, bug, good first issue

#1017 Optimize condition and field array performance
  __mocks__/with-provider.js
  packages/ant-component-mapper/package.json
  packages/ant-component-mapper/src/field-array/field-array.js
  packages/ant-component-mapper/src/tests/slider.test.js
  packages/blueprint-component-mapper/package.json
  packages/blueprint-component-mapper/src/field-array/field-array.js
  packages/carbon-component-mapper/package.json
  packages/carbon-component-mapper/src/field-array/field-array.js
  packages/mui-component-mapper/package.json
  packages/mui-component-mapper/src/field-array/field-array.js
  packages/pf4-component-mapper/package.json
  packages/pf4-component-mapper/src/field-array/field-array.js
  packages/react-form-renderer/demo/index.js
  packages/react-form-renderer/src/field-provider/field-provider.d.ts
  packages/react-form-renderer/src/form-renderer/form-renderer.js
  packages/react-form-renderer/src/form-renderer/render-form.js
  packages/react-form-renderer/src/get-condition-triggers/get-condition-triggers.d.ts
  packages/react-form-renderer/src/get-condition-triggers/get-condition-triggers.js
  packages/react-form-renderer/src/get-condition-triggers/index.d.ts
  packages/react-form-renderer/src/get-condition-triggers/index.js
  packages/react-form-renderer/src/renderer-context/renderer-context.d.ts
  packages/react-form-renderer/src/tests/form-renderer/__snapshots__/render-form.test.js.snap
  packages/react-form-renderer/src/tests/form-renderer/form-renderer.test.js
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
  packages/react-form-renderer/src/tests/form-renderer/use-field-api.test.js
  packages/react-form-renderer/src/tests/get-condition-triggers/get-condition-triggers.test.js
  packages/react-form-renderer/src/use-field-api/use-field-api.d.ts
  packages/react-form-renderer/src/use-field-api/use-field-api.js
  packages/suir-component-mapper/package.json
  packages/suir-component-mapper/src/field-array/field-array.js
  templates/component-mapper/package.json
  templates/component-mapper/src/field-array/field-array.js
  yarn.lock
Labels: Technical debt, renderer

#1018 feat(pf4): introduce dual list tree select component
  packages/pf4-component-mapper/src/dual-list-select/dual-list-select.js
  packages/pf4-component-mapper/src/dual-list-tree-select/dual-list-tree-select.d.ts
  packages/pf4-component-mapper/src/dual-list-tree-select/dual-list-tree-select.js
  packages/pf4-component-mapper/src/dual-list-tree-select/index.d.ts
  packages/pf4-component-mapper/src/dual-list-tree-select/index.js
  packages/pf4-component-mapper/src/index.js
  packages/pf4-component-mapper/src/tests/dual-list-select.test.js
  packages/pf4-component-mapper/src/tests/dual-list-tree-select.test.js
  packages/react-renderer-demo/src/doc-components/examples-texts/pf4/dual-list-select.md
Labels: PF4, enhancement
