Repository data-driven-forms/react-forms, pull requests merged in 2021-01, with the labels that each got.

#930 Update NextJS and other demo deps
  packages/react-renderer-demo/package.json
  yarn.lock
Labels: Technical debt, dependencies, docs

#941 Fix imports in demo examples
  packages/react-renderer-demo/src/examples/components/conditions/comparators.js
  packages/react-renderer-demo/src/examples/components/conditions/is-function.js
  packages/react-renderer-demo/src/examples/components/examples/sample-example.js
Labels: bug, docs

#940 fix(carbon): transform to JSS
  packages/carbon-component-mapper/demo/index.js
  packages/carbon-component-mapper/package.json
  packages/carbon-component-mapper/src/dual-list-select/dual-list-select.js
  packages/carbon-component-mapper/src/dual-list-select/dual-list-select.scss
  packages/carbon-component-mapper/src/field-array/field-array.js
  packages/carbon-component-mapper/src/field-array/field-array.scss
  packages/carbon-component-mapper/src/form-template/form-template.js
  packages/carbon-component-mapper/src/form-template/form-template.scss
  packages/carbon-component-mapper/src/helper-text-block/helper-text-block.js
  packages/carbon-component-mapper/src/helper-text-block/helper-text-block.scss
  packages/carbon-component-mapper/src/index.js
  packages/carbon-component-mapper/src/is-required/is-required.js
  packages/carbon-component-mapper/src/is-required/is-required.scss
  packages/carbon-component-mapper/src/sub-form/sub-form.js
  packages/carbon-component-mapper/src/sub-form/sub-form.scss
  packages/carbon-component-mapper/src/tabs/tabs.js
  packages/carbon-component-mapper/src/tabs/tabs.scss
  packages/carbon-component-mapper/src/wizard/wizard.js
  packages/carbon-component-mapper/src/wizard/wizard.scss
  yarn.lock
Labels: Carbon, v3

#937 fix(ant): change scss to css
  packages/ant-component-mapper/demo/demo-schemas/dual-list-select-schema.js
  packages/ant-component-mapper/demo/demo-schemas/miq-schema.js
  packages/ant-component-mapper/demo/demo-schemas/slider-schema.js
  packages/ant-component-mapper/demo/demo-schemas/widget-schema.js
  packages/ant-component-mapper/src/is-required/is-required.css
  packages/ant-component-mapper/src/is-required/is-required.js
  packages/ant-component-mapper/src/wizard/wizard-step.css
  packages/ant-component-mapper/src/wizard/wizard-step.js
Labels: ANT, v3

#942 fix(pf4): change scss to css
  packages/pf4-component-mapper/demo/demo-schemas/miq-schema.js
  packages/pf4-component-mapper/demo/demo-schemas/select-schema.js
  packages/pf4-component-mapper/demo/demo-schemas/widget-schema.js
  packages/pf4-component-mapper/demo/index.js
  packages/pf4-component-mapper/src/dual-list-select/dual-list-select.js
  packages/pf4-component-mapper/src/dual-list-select/dual-list-select.scss
  packages/pf4-component-mapper/src/field-array/field-array.js
  packages/pf4-component-mapper/src/field-array/final-form-array.css
  packages/pf4-component-mapper/src/form-template/form-template.js
  packages/pf4-component-mapper/src/form-template/form-template.scss
  packages/pf4-component-mapper/src/index.js
  packages/pf4-component-mapper/src/select/select/clear-indicator.css
  packages/pf4-component-mapper/src/select/select/clear-indicator.js
  packages/pf4-component-mapper/src/select/select/clear-indicator.scss
  packages/pf4-component-mapper/src/select/select/input.css
  packages/pf4-component-mapper/src/select/select/input.js
  packages/pf4-component-mapper/src/select/select/menu.css
  packages/pf4-component-mapper/src/select/select/menu.js
  packages/pf4-component-mapper/src/select/select/select-styles.css
  packages/pf4-component-mapper/src/select/select/select.js
  packages/pf4-component-mapper/src/slider/slider.js
  packages/pf4-component-mapper/src/slider/slider.scss
  packages/pf4-component-mapper/src/wizard/wizard-components/wizard-styles.css
  packages/pf4-component-mapper/src/wizard/wizard.js
Labels: PF4, v3

#944 fix(suir): fix index.js paths
  packages/suir-component-mapper/src/index.js
Labels: SUIR, bug, v3

#950 fix(carbon): reorder the buttons according to the alignment guide
  packages/carbon-component-mapper/src/files/form-template.js
Labels: Carbon

#951 Fix MUI templates in demo
  packages/react-renderer-demo/src/stackblitz-templates/mui-templates.js
Labels: Technical debt, docs

#926 feat(pf4): replace custom dual list
  packages/pf4-component-mapper/package.json
  packages/pf4-component-mapper/src/files/dual-list-context.d.ts
  packages/pf4-component-mapper/src/files/dual-list-context.js
  packages/pf4-component-mapper/src/files/dual-list-select.d.ts
  packages/pf4-component-mapper/src/files/dual-list-select.js
  packages/pf4-component-mapper/src/files/dual-list-select.scss
  packages/pf4-component-mapper/src/files/dual-list-sort-button.d.ts
  packages/pf4-component-mapper/src/files/dual-list-sort-button.js
  packages/pf4-component-mapper/src/index.js
  packages/pf4-component-mapper/src/tests/__snapshots__/form-fields.test.js.snap
  packages/pf4-component-mapper/src/tests/dual-list-select.test.js
  packages/react-renderer-demo/src/doc-components/examples-texts/pf4/dual-list-select.md
  yarn.lock
Labels: PF4, Technical debt

#952 fix(pf4): Allow to customize radio options
  packages/pf4-component-mapper/src/files/radio.js
Labels: PF4, enhancement
