Repository data-driven-forms/react-forms, pull requests merged in 2021-05, with the labels that each got.

#1049 fix(carbon): fix switch toggled attribute
  packages/carbon-component-mapper/src/switch/switch.js
  packages/carbon-component-mapper/src/tests/switch.test.js
Labels: Carbon, backport-v2, bug

#1050 fix(carbon): fix switch toggled attribute
  packages/carbon-component-mapper/src/files/switch.js
  packages/carbon-component-mapper/src/tests/switch.test.js
Labels: Carbon, V2, bug

#1052 Fix condition trigger
  packages/react-form-renderer/src/form-renderer/render-form.js
  packages/react-form-renderer/src/get-condition-triggers/get-condition-triggers.js
Labels: bug, renderer

#1057 fix(mui): remove component prop from multi checkbox
  packages/mui-component-mapper/src/checkbox/checkbox.js
  packages/mui-component-mapper/src/multiple-chioce-list/multiple-choice-list.js
Labels: MUI, bug

#1059 Add form alerts and add implementation for PF4
  packages/common/src/form-template/form-template.js
  packages/pf4-component-mapper/src/form-template/form-template.js
  packages/pf4-component-mapper/src/tests/form-template-common.test.js
  packages/pf4-component-mapper/src/tests/wizard/step-buttons.test.js
  packages/react-form-renderer/src/form-error/form-error.d.ts
  packages/react-form-renderer/src/form-error/form-error.js
  packages/react-form-renderer/src/form-error/index.d.ts
  packages/react-form-renderer/src/form-error/index.js
  packages/react-form-renderer/src/index.js
  packages/react-renderer-demo/src/pages/components/form-template.md
Labels: PF4, common, enhancement, renderer

#1060 Add jest plugin for eslint
  .eslintrc.json
  package.json
  packages/blueprint-component-mapper/src/tests/components.test.js
  packages/pf4-component-mapper/src/tests/wizard/wizard.test.js
  packages/react-form-renderer/src/tests/form-renderer/parse-condition.test.js
  packages/react-form-renderer/src/tests/validators/validators.test.js
  yarn.lock
Labels: Technical debt
