Repository data-driven-forms/react-forms, pull requests merged in 2022-08, with the labels that each got.

#1299 fix(carbon): do not use absolute import paths
  packages/carbon-component-mapper/src/dual-list-select/dual-list-select.js
  packages/common/babel.config.js
  packages/mui-component-mapper/src/date-picker/date-picker.d.ts
  yarn.lock
Labels: bug, dependencies, Carbon

#1301 fix(mui): remove git stash marks
  packages/mui-component-mapper/src/date-picker/date-picker.d.ts
Labels: bug

#1315 Fix docs datepickers imports
  packages/react-renderer-demo/package.json
  packages/react-renderer-demo/src/examples/components/conditions/is-function.js
  packages/react-renderer-demo/src/stackblitz-templates/mui-templates.js
Labels: bug, docs

#1316 Tech debt
  packages/blueprint-component-mapper/demo/index.js
  packages/mui-component-mapper/demo/demo-schemas/widget-schema.js
  packages/react-renderer-demo/src/schemas/widget-schema.js
  packages/suir-component-mapper/demo/demo-schemas/widget-schema.js
  templates/component-mapper/demo/index.js
  templates/component-mapper/package.json
Labels: Technical debt

#1317 Update react types requirements
  package.json
  yarn.lock
Labels: docs, Technical debt
