Repository data-driven-forms/react-forms, pull requests merged in 2022-05, with the labels that each got.

#1242 [V4] Use field spy in condition
  __mocks__/with-provider.js
  packages/ant-component-mapper/src/tests/slider.test.js
  packages/form-state-manager/.gitignore
  packages/form-state-manager/src/field-spy/field-spy.ts
  packages/form-state-manager/src/manager-api/manager-api.ts
  packages/react-form-renderer/demo/index.js
  packages/react-form-renderer/src/field-provider/field-provider.d.ts
  packages/react-form-renderer/src/form-renderer/form-renderer.js
  packages/react-form-renderer/src/form-renderer/render-form.js
  packages/react-form-renderer/src/renderer-context/renderer-context.d.ts
  packages/react-form-renderer/src/tests/form-renderer/form-renderer.test.js
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
  packages/react-form-renderer/src/tests/form-renderer/use-field-api.test.js
  packages/react-form-renderer/src/use-field-api/use-field-api.d.ts
  packages/react-form-renderer/src/use-field-api/use-field-api.js
  packages/react-renderer-demo/src/pages/testing.md
Labels: bug, v4

#1244 fix(manager): submit error should make form invalid
  packages/form-state-manager/src/manager-api/manager-api.ts
  packages/form-state-manager/src/tests/utils/manager-api.test.js
Labels: bug, v4

#1245 feat(blueprint): update blueprint to version 4
  packages/blueprint-component-mapper/demo/index.html
  packages/blueprint-component-mapper/package.json
  packages/blueprint-component-mapper/src/dual-list-select/dual-list-select.js
  packages/blueprint-component-mapper/src/form-template/form-template.js
  packages/blueprint-component-mapper/src/tests/components.test.js
  packages/blueprint-component-mapper/src/tests/dual-list-select.test.js
  packages/blueprint-component-mapper/src/tests/select.test.js
  packages/react-renderer-demo/src/pages/provided-mappers/blueprint-component-mapper.md
  packages/react-renderer-demo/src/stackblitz-templates/blueprint-templates.js
  yarn.lock
Labels: dependencies, blueprintjs

#1246 Update Node to version 16
  .circleci/config.yml
  README.md
  packages/react-renderer-demo/package.json
  packages/react-renderer-demo/src/pages/development-setup.md
Labels: Technical debt

#1247 Update demo dependencies to fix peer dependency warning
  packages/react-renderer-demo/package.json
  packages/react-renderer-demo/src/next.config.js
  packages/react-renderer-demo/src/pages/index.js
  yarn.lock
Labels: docs, Technical debt, dependencies

#1251 Improve rendering performance
  packages/form-state-manager/demo/index.tsx
  packages/form-state-manager/src/get-cache-key/get-cache-key.ts
  packages/form-state-manager/src/get-cache-key/index.ts
  packages/form-state-manager/src/manager-api/manager-api.ts
  packages/form-state-manager/src/tests/files/use-field.test.js
  packages/form-state-manager/src/tests/utils/get-cache-key.test.js
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/use-field/use-field.ts
  packages/mui-component-mapper/src/form-template/form-template.js
  packages/react-form-renderer/demo/index.js
  packages/react-form-renderer/src/condition/condition.js
  packages/react-form-renderer/src/tests/form-renderer/condition.test.js
Labels: State manager

#1252 [V4] Merge to master
  .circleci/config.yml
  README.md
  packages/ant-component-mapper/package.json
  packages/blueprint-component-mapper/demo/index.html
  packages/blueprint-component-mapper/package.json
  packages/blueprint-component-mapper/src/dual-list-select/dual-list-select.js
  packages/blueprint-component-mapper/src/form-template/form-template.js
  packages/blueprint-component-mapper/src/tests/components.test.js
  packages/blueprint-component-mapper/src/tests/dual-list-select.test.js
  packages/blueprint-component-mapper/src/tests/select.test.js
  packages/carbon-component-mapper/package.json
  packages/common/package.json
  packages/mui-component-mapper/package.json
  packages/parsers/package.json
  packages/pf4-component-mapper/package.json
  packages/react-form-renderer/package.json
  packages/react-renderer-demo/package.json
  packages/react-renderer-demo/src/next.config.js
  packages/react-renderer-demo/src/pages/development-setup.md
  packages/react-renderer-demo/src/pages/index.js
  packages/react-renderer-demo/src/pages/provided-mappers/blueprint-component-mapper.md
  packages/react-renderer-demo/src/stackblitz-templates/blueprint-templates.js
  packages/suir-component-mapper/package.json
  yarn.lock
Labels: Technical debt

#1253 fix(manager): recalculate isEqual only when registering
  packages/form-state-manager/src/manager-api/manager-api.ts
Labels: Technical debt, State manager

#1254 fix(manager): update render to be triggered by modify
  packages/form-state-manager/.gitignore
  packages/form-state-manager/demo/index.tsx
  packages/form-state-manager/src/manager-api/manager-api.ts
  packages/form-state-manager/src/tests/files/use-field.test.js
  packages/form-state-manager/src/tests/helpers/text-field.tsx
Labels: State manager

#1259 fix(manager): fix form validate performance
  packages/form-state-manager/src/manager-api/manager-api.ts
Labels: bug, State manager

#1260 Add editor to demo
  packages/react-renderer-demo/package.json
  packages/react-renderer-demo/src/components/component-mapper-bar.js
  packages/react-renderer-demo/src/components/navigation/mapper.js
  packages/react-renderer-demo/src/components/navigation/schemas/editor.schema.js
  packages/react-renderer-demo/src/components/navigation/schemas/provider-mappers.schema.js
  packages/react-renderer-demo/src/components/navigation/schemas/schema.js
  packages/react-renderer-demo/src/pages/editor/core-editor.md
  packages/react-renderer-demo/src/pages/editor/dnd.md
  packages/react-renderer-demo/src/pages/editor/live-editor.md
  packages/react-renderer-demo/src/pages/editor/pro-editor.md
  packages/react-renderer-demo/src/pages/live-editor.js
  packages/react-renderer-demo/src/pages/provided-mappers/evergreen.md
  yarn.lock
Labels: docs
