Repository data-driven-forms/react-forms, pull requests merged in 2022-06, with the labels that each got.

#1265 Fix custom wizard example to template after submit
  packages/react-renderer-demo/src/examples/components/examples/custom-wizard.js
Labels: bug, docs

#1264 [Manager] Little bug fixes
  packages/ant-component-mapper/src/tests/dual-list-select.test.js
  packages/blueprint-component-mapper/src/tests/dual-list-select.test.js
  packages/carbon-component-mapper/src/tests/dual-list-select.test.js
  packages/common/src/tests/dual-list-select/dual-list-select.test.js
  packages/common/src/tests/select/select.test.js
  packages/form-state-manager/src/compose-validators/compose-validators.ts
  packages/form-state-manager/src/manager-api/manager-api.ts
  packages/form-state-manager/src/tests/files/use-field.test.js
  packages/form-state-manager/src/tests/utils/manager-api.test.js
  packages/form-state-manager/src/tests/utils/validate.test.js
  packages/form-state-manager/src/use-field/use-field.ts
  packages/mui-component-mapper/src/tests/dual-list-select.test.js
  packages/pf4-component-mapper/src/tests/dual-list-select.test.js
  packages/react-form-renderer/src/tests/form-renderer/render-form.test.js
  packages/suir-component-mapper/src/tests/dual-list-select.test.js
Labels: bug, State manager, v4

#1267 [MANAGER] Fix(renderer): use types from manager
  packages/form-state-manager/src/use-field/use-field.ts
  packages/react-form-renderer/src/common-types/field.d.ts
  packages/react-form-renderer/src/common-types/index.d.ts
  packages/react-form-renderer/src/field-array/field-array.d.ts
  packages/react-form-renderer/src/form-renderer/form-renderer.d.ts
  packages/react-form-renderer/src/form-spy/form-spy.d.ts
  packages/react-form-renderer/src/renderer-context/renderer-context.d.ts
  packages/react-form-renderer/src/use-field-api/use-field-api.d.ts
Labels: Technical debt, State manager

#1269 [Manager] Fix since last submit values
  packages/form-state-manager/src/manager-api/manager-api.ts
  packages/form-state-manager/src/tests/utils/manager-api.test.js
Labels: bug, State manager

#1270 fix(manager): when one field is dirty, whole form is dirty
  packages/form-state-manager/src/manager-api/manager-api.ts
Labels: State manager

#1274 fix(common): Fix clear all right values dual list action type typo
  packages/common/src/dual-list-select/dual-list-select.js
Labels: bug, common

#1278 NextStep and selectNext async typing updates
  packages/common/src/wizard/select-next.d.ts
Labels: Technical debt, common
