Repository data-driven-forms/react-forms, pull requests merged in 2022-03, with the labels that each got.

#1215 doc: revise schema/introduction
  packages/react-renderer-demo/src/pages/schema/introduction.md
Labels: enhancement, docs

#1219 fix(types): update types for currentStep in Wizard
  packages/react-form-renderer/src/wizard-context/wizard-context.d.ts
Labels: bug, common

#1217 Improve the styles of the doc site
  packages/react-renderer-demo/src/components/code-editor/index.js
  packages/react-renderer-demo/src/components/code-example.js
  packages/react-renderer-demo/src/components/landing-page/landing-page-cards.js
  packages/react-renderer-demo/src/components/mdx/mdx-components.js
  packages/react-renderer-demo/src/pages/releases.js
Labels: docs
