Repository data-driven-forms/react-forms, pull requests merged in 2022-07, with the labels that each got.

#1290 Just add a link to custom component mapper to examples
  packages/react-renderer-demo/src/components/navigation/schemas/custom-examples.schema.js
  packages/react-renderer-demo/src/pages/examples/custom-component-mapper.md
Labels: enhancement, docs

#1291 Migrate MUI date pickers to x-date-pickers
  packages/common/babel.config.js
  packages/mui-component-mapper/demo/index.js
  packages/mui-component-mapper/package.json
  packages/mui-component-mapper/src/date-picker/date-picker.d.ts
  packages/mui-component-mapper/src/date-picker/date-picker.js
  packages/mui-component-mapper/src/tests/form-fields.test.js
  packages/mui-component-mapper/src/time-picker/time-picker.d.ts
  packages/mui-component-mapper/src/time-picker/time-picker.js
  packages/react-renderer-demo/src/examples/components/conditions/is-function.js
  packages/react-renderer-demo/src/pages/editor/live-editor.md
  packages/react-renderer-demo/src/stackblitz-templates/mui-templates.js
  yarn.lock
Labels: MUI, Technical debt

#1293 fix(mui): fix date pickers import
  packages/common/babel.config.js
Labels: bug, MUI

#1294 Return editor to Demo
  packages/react-renderer-demo/package.json
  packages/react-renderer-demo/src/components/editor.js
  packages/react-renderer-demo/src/pages/editor/live-editor.md
  yarn.lock
Labels: bug, docs, dependencies
