Repository data-driven-forms/react-forms, pull requests merged in 2023-11, with the labels that each got.

#1419 fix(mui): Correctly use onBlur and onFocus for MUIDatePicker and MUITimePicker
  packages/mui-component-mapper/src/date-picker/date-picker.js
  packages/mui-component-mapper/src/time-picker/time-picker.js
Labels: bug, MUI

#1423 fix(renderer): pass field property to when in sequence and not
  packages/react-form-renderer/src/parse-condition/parse-condition.js
  packages/react-form-renderer/src/tests/form-renderer/parse-condition.test.js
Labels: bug, renderer

#1424 feat(renderer): allow condition mapping
  packages/react-form-renderer/demo/index.js
  packages/react-form-renderer/src/condition/condition.d.ts
  packages/react-form-renderer/src/condition/condition.js
  packages/react-form-renderer/src/default-schema-validator/default-schema-validator.js
  packages/react-form-renderer/src/form-renderer/condition-mapper.d.ts
  packages/react-form-renderer/src/form-renderer/form-renderer.d.ts
  packages/react-form-renderer/src/form-renderer/form-renderer.js
  packages/react-form-renderer/src/parse-condition/parse-condition.d.ts
  packages/react-form-renderer/src/parse-condition/parse-condition.js
  packages/react-form-renderer/src/renderer-context/renderer-context.d.ts
  packages/react-form-renderer/src/tests/form-renderer/parse-condition.test.js
  packages/react-form-renderer/src/tests/parsers/default-schema-validator.test.js
  packages/react-renderer-demo/src/components/navigation/schemas/mappers.schema.js
  packages/react-renderer-demo/src/examples/components/condition-mapper.js
  packages/react-renderer-demo/src/pages/components/renderer.md
  packages/react-renderer-demo/src/pages/mappers/condition-mapper.md
Labels: renderer

#1425 Update documentation: number value validation example
  packages/react-renderer-demo/src/pages/schema/number-value-validator.md
Labels: bug, docs
