Repository data-driven-forms/react-forms, pull requests merged in 2023-02, with the labels that each got.

#1360 Use hardcopy of .gitignore in template generator
  templates/component-mapper/.gitignore
Labels: Technical debt, common

#1362 feat(common): separate functionality from common select
  packages/common/src/select/select.d.ts
  packages/common/src/select/select.js
  packages/common/src/tests/select/select.test.js
  packages/common/src/use-select/index.d.ts
  packages/common/src/use-select/index.js
  packages/common/src/use-select/reducer.js
  packages/common/src/use-select/use-select.d.ts
  packages/common/src/use-select/use-select.js
  packages/react-form-renderer/src/tests/form-renderer/validator.test.js
Labels: common

#1368 fix(atn): fix wizard onCancel typo
  packages/ant-component-mapper/src/wizard/wizard.js
Labels: bug, ANT

#1367 Fix mui select
  packages/common/src/select/select.js
  packages/common/src/tests/select/select.test.js
  packages/mui-component-mapper/src/select/select.js
Labels: bug, MUI
